[2021-12-12 00:14] itchannel commented on #137
Thanks for the heads up I'll get and update to the new schema this weekend.

[2021-12-12 09:47] itchannel commented on #137
Fixed in #138 👍

[2021-12-12 09:47] #137 closed

[2021-12-12 11:24] #93 closed

[2021-12-12 11:25] #136 closed

[2021-12-14 06:20] Johnnyyr commented on #136
I have the update already installt , last log at this morning.

Logger: homeassistant
Source: custom_components/fordpass/sensor.py:53
Integration: FordPass (documentation, issues)
First occurred: 13. Dezember 2021, 13:05:39 (216 occurrences)
Last logged: 07:14:35

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/hel

[2021-12-14 12:56] terencevs opened #141 "South Africa"
Good day,

What would be needed to get support for South Africa region?

Thanks.

[2021-12-15 07:46] itchannel commented on #141
It's worth trying the other regions like Europe first as it might work for you. Failing that I need a copy of the headers being sent from your Fordpass mobile app to the ford server to get the Country API code. I can guide you through this and is fairly easy using a proxy such as Burp.

[2021-12-15 09:22] terencevs commented on #141
I have tried using the other regions did not work. It would be nice if you could guide me?

[2021-12-16 01:23] nathan-curtis commented on #124
Same issue: Debug logs:
2021-12-15 19:19:45 DEBUG (MainThread) [custom_components.fordpass] username
2021-12-15 19:19:45 DEBUG (MainThread) [custom_components.fordpass] password
2021-12-15 19:19:45 DEBUG (MainThread) [custom_components.fordpass] vin
2021-12-15 19:19:45 DEBUG (MainThread) [custom_components.fordpass] region
2021-12-15 19:19:45 DEBUG (MainThread) [custom_components.fordpass] UK&Euro

[2021-12-16 07:23] greensoftwarepl commented on #124
SameissueL Debug logs:
2021-12-16 08:21:42 DEBUG (MainThread) [custom_components.fordpass] username
2021-12-16 08:21:42 DEBUG (MainThread) [custom_components.fordpass] password
2021-12-16 08:21:42 DEBUG (MainThread) [custom_components.fordpass] vin
2021-12-16 08:21:42 DEBUG (MainThread) [custom_components.fordpass] region
2021-12-16 08:21:42 DEBUG (MainThread) [custom_components.fordpass] UK&Europ

[2021-12-16 07:59] Calvin4024 commented on #124
Same problem with the last version (1.26)
Complete re-installation did not change a thing
When I do a 'reload', it works again for a while...
DEBUG log ?
Thanks, anyway..

****************************************************************
This error originated from a custom integration.

Logger: homeassistant
Source: custom_components/fordpass/sensor.py:58
Integration: FordPass (documentation, issue

[2021-12-16 08:13] itchannel commented on #124
@Calvin4024 @nathan-curtis @greensoftwarepl Can you please add the following to your configuration to enable debug mode and then send me the corresponding logs.

[code]

Also can you let me know the following:
- Make and model of car (Is it a hybrid/electric)
- Version of HA
- Country your located in and the region you selected

[2021-12-16 09:42] greensoftwarepl commented on #124
FORD MONDEO 2016 (Disel)
HA version -> all version from  2021.11 to  2021.12
Poland, region: UK&Europe

[2021-12-16 09:45] Calvin4024 commented on #124
FYI: this problem never happened before 1.23... and now the 'Odometer' doesn't work anymore, even if the rest is fine.... basically, it works for a few hours and then stops...  Reload solves the problem for a few hours...

It is working right now, except the Odometer... I will send you the DEBUG log asap

Cheers

Calvin

Car: Mustang Mach-E EV
Country: Switzerland/Europe

## System Health

version

[2021-12-16 09:48] greensoftwarepl commented on #124
2021-12-16 08:36:30 WARNING (MainThread) [custom_components.fordpass] 'vehiclestatus'
2021-12-16 08:36:30 WARNING (MainThread) [custom_components.fordpass] Error communicating with FordPass for WF0FXXWPCFGD88634
2021-12-16 08:36:30 ERROR (MainThread) [custom_components.fordpass] Error fetching fordpass data: Error communicating with FordPass for WF0FXXWPCFGD88634
2021-12-16 08:36:30 DEBUG (MainThr

[2021-12-16 09:49] itchannel commented on #124
@Calvin4024 Can you please go to "integrations" and click options next to fordpass and then make sure the two measurement values are set and click "ok" and then restart and tell me if the Odometer now works. The other issue I'll need to review the logs

[2021-12-16 09:54] Calvin4024 commented on #124
![image](https://user-images.githubusercontent.com/65665512/146348746-95818140-bc00-46fd-91be-e328feef33cb.png)

OK ==> Restarted

![image](https://user-images.githubusercontent.com/65665512/146349178-005f06eb-ad76-4db1-b7f3-de7eff4cf8c6.png)

[2021-12-16 09:55] itchannel commented on #124
@greensoftwarepl Looking at those logs it appears you've logged in succesfully but the fordpass API isn't excepting your vin hence the "Vehiclestatus" error. What functionality does your 2016 ford support in the fordpass app. Unfortunately the Ford API isn't very granular so it literally replies with a 401 error if the VIN is wrong, auth has failed or car is not supported.

[2021-12-16 09:55] itchannel commented on #124
@Calvin4024 can you check your logs and see if you have any errors related to the odometer entity or any other fordpass one

[2021-12-16 09:58] itchannel commented on #141
Before we go down the route of running a proxy etc. What error do you get when trying to add fordpass?

[2021-12-16 10:07] Calvin4024 commented on #124
No error right now... but still unavailable...

I found this info in the log though.... and it was correct

'odometer': {'value': 5969.0, 'status': 'CURRENT', 'timestamp': '12-15-2021 13:10:11'

but....

![image](https://user-images.githubusercontent.com/65665512/146351151-af4b1d17-cf54-4a9c-9ddc-7ad2ef1baef4.png)

I'll keep an eye on the logs and I will let you know when I have more useful info..

[2021-12-16 10:10] itchannel commented on #124
There must be another error for Fordpass in your log which is stopping the entity flow. If you can look at the log for all fordpass messages when you have 5 we can see where the flow is stopping.

[2021-12-16 11:09] Bert-R commented on #124
With release 1.27, the odometer is available again

[2021-12-16 11:11] itchannel commented on #124
@Bert-R Great. There's another release incoming in a second that fixes a setup issue so don't be surprised when you see 1.28

[2021-12-16 11:20] itchannel commented on #124
@Calvin4024 Can you give the new 1.28 release a go. Should hopefully fix the issues you're having

[2021-12-16 11:22] itchannel commented on #124
@greensoftwarepl If you enable debug mode as I mentioned previously then add Fordpass using the latest 1.28 release, it will print all vehicles assigned to you in the log. That way you can check to see if the VIN your entering is being found by the API.

[2021-12-16 13:50] terencevs commented on #141
I get "Invalid Authentication"

[2021-12-16 14:49] theOrakle commented on #59
Looks like this is back...

[2021-12-16 15:53] Calvin4024 commented on #124
1.28 installed, thanks... and the odometer is back for the Mach-E, great.....

<img width="996" alt="Screenshot 2021-12-16 at 16 32 21" src="https://user-images.githubusercontent.com/65665512/146400934-9711921d-8efd-4a06-a035-4b133f9fd7ff.png">

On the other hand, the sensor.12v_battery_template is stuck at exactly 12V... and Forscan tells me 14.2V....

********************************************

[2021-12-16 19:55] itchannel commented on #124
@Calvin4024 The 12v value for the battery is what is returned from the fordpass API so nothing I can do about that as they don't give a very accurate reading such as using forscan locally.

The other issue you're having with "Error fetching fordpass data" does it start working again after the error or does only a restart fix it? As I sometimes get those errors but that's because of instabilities w

[2021-12-17 06:01] Calvin4024 commented on #124
Hi mate,
Thanks for your fast answer... :)
I totally understand for the 12V battery, it is the way it is...

Concerning the "Error fetching fordpass data", I got an error just before 9pm yesterday, all my sensors were suddenly 'unavailable'... but I checked HA 20 minutes later and it was fine again, without any restart or reload.... then, I can see a successful connection every 5 minutes until now

[2021-12-17 08:36] Calvin4024 commented on #124
.. and I had another "Error communicating with FordPass" at 7:50 but it was fine again at 8:00 without any action on my side... just for your information...

2021-12-17 07:50:06 DEBUG (SyncWorker_10) [custom_components.fordpass.fordpass_new] Token is valid, continuing
2021-12-17 07:50:06 DEBUG (SyncWorker_4) [custom_components.fordpass.fordpass_new] Token is valid, continuing
2021-12-17 07:50:07 W

[2021-12-17 12:56] benk016 opened #144 "elveh DTE only showing in km"
Just getting this setup, Everything is looking good, except on this field. It shows km instead of miles no matter what the plugin is set to show. All other fields show miles normally.

ElVehDTE : 261.399994
Actual range according to my fordpass : 163

[2021-12-17 13:09] Antoine-Hurstel commented on #126
Hello,
another way to trigger the refresh when leaving the vehicle is to check when your mobile phone gets disconnected from the vehicle's bluetooth.
I've added 5 min delay between bluetooth disconnexion and trigger to get some time to leave and lock the vehicle, since the bluetooth gets disconnected as soon as the driver door is opened.
This automation is working at any location, but requires a r

[2021-12-17 15:10] Gertjuh commented on #124
Thank you for all the good work! I am using this integration a few months now and I am very happy with it.
But the last few weeks I have frequent disconnects and all my entities are unavailable. A restart of the integration does solve it for a while.

[2021-12-17 22:24] 951ryan opened #145 "Compatibility with Lincoln Stopped After 1.26"
I have the FordPass integration working on Home Assistant with v1.26 working just fine for my 2020 Lincoln Aviator.  Everything works including the fuel, remote start, doors & windows.   Once v1.27 and now v1.28 the integration stopped working and upon trying to download and login again it says the vin is not found on my account (I tried both the Fordpass & Lincoln logins).  As soon as I downgrade

[2021-12-17 22:40] itchannel commented on #145
I think I know the issue as I implemented a check against user VIN's on a persons account but didn't realise the lincoln app logins work so it's probably not in the array.

Any chance you can add the following debug and then send me the log of fordpass so I can see if your vehicle shows in the vehicle list at all or whether I have to remove the check/add an override.

[code]

[2021-12-17 22:41] itchannel commented on #144
I'll add this change in the next release as it currently doesn't change the value based upon the chosen unit for elVehDTE

[2021-12-17 22:42] itchannel commented on #124
@Gertjuh Does it come back after a while without restarting? As the fordpass API is very flakey at the moment so I do see it going unavailable every so often but usually comes back within 30mins or so.

[2021-12-17 23:12] 951ryan commented on #145
Attached is the debug log.  I simply edited my vin with a fake # for privacy but the rest is untouched.

[Debug Log](https://github.com/itchannel/fordpass-ha/files/7738227/Debug.Log)

[2021-12-17 23:20] itchannel commented on #145
Is that the old version? Do you mind just trying with the new version so I can get the VIN error.

[2021-12-20 14:31] Calvin4024 commented on #124
It works for a few hours and suddenly... not anymore.... it is a kind of lottery... like the the API was offline for a while... :(

2021-12-20 15:26:35 DEBUG (MainThread) [custom_components.fordpass] username
2021-12-20 15:26:35 DEBUG (MainThread) [custom_components.fordpass] password
2021-12-20 15:26:35 DEBUG (MainThread) [custom_components.fordpass] vin
2021-12-20 15:26:35 DEBUG (MainThread) [cu

[2021-12-20 15:26] JVTEAM commented on #124
Looks like it's acting up again today...

[2021-12-20 16:06] jdisom013 opened #146 "Error fetching fordpass data: Error communicating with FordPass"
Not sure if this is a bug or application issue, however, I'm not able to fetch fordpass data in the latest application update. Can you look into/identify issue blocking the communication?

2021-12-20 10:01:57 ERROR (MainThread) [custom_components.fordpass] Error fetching fordpass data: Error communicating with FordPass
2021-12-20 10:02:14 ERROR (stream_worker) [homeassistant.components.stream] Err

[2021-12-20 17:08] Sjoerdfc commented on #146
I'm getting similar errors. Started today around 12:55:00 UTC time. All my entities are unavailable.

2021-12-20 18:02:40 WARNING (MainThread) [custom_components.fordpass] Error communicating with FordPass for <VINNUMBER>
2021-12-20 18:02:40 ERROR (MainThread) [custom_components.fordpass] Error fetching fordpass data: Error communicating with FordPass for <VINNUMBER>

I had version 1.23 installed

[2021-12-20 18:17] rickgartner commented on #146
I’m having exactly the same issue.

[2021-12-20 18:32] maksd commented on #124
I am also getting these errors, and I added more debug information in the code, which help me found out that there is a timeout on the request for `guardStatus`, causing an exception.

[2021-12-20 19:53] Sjoerdfc commented on #146
I enabled debugging, here is the log. Maybe related to #124?

2021-12-20 20:43:50 DEBUG (MainThread) [custom_components.fordpass] vin
2021-12-20 20:43:50 DEBUG (MainThread) [custom_components.fordpass] username
2021-12-20 20:43:50 DEBUG (MainThread) [custom_components.fordpass] password
2021-12-20 20:43:50 DEBUG (MainThread) [custom_components.fordpass] region
2021-12-20 20:43:50 DEBUG (MainThread

[2021-12-20 20:34] pivlersmom commented on #146
Me too

[2021-12-20 20:48] itchannel commented on #146
Please try the latest release #147

[2021-12-20 20:49] itchannel commented on #144
@benk016 Should be fixed in the latest version

[2021-12-20 20:52] itchannel commented on #124
@maksd You are right, it appears ford have made some API changes or experiencing issues (Seems to be a regular thing). The new release I've disabled the guard mode function until I can investigate further.

[2021-12-20 20:52] Sjoerdfc commented on #146
Yes, fixed! Instantly works again. Thanks!

[2021-12-21 05:55] Calvin4024 commented on #124
FYI..... Version 1.29 with a Ford Mach-E

sensor.fordpass_elveh             ==> Unavailable
sensor.fordpass_odometer     ==> Unavailable
switch.fordpass_guardmode_switch  ==> Unavailable but OK as it is disabled

![image](https://user-images.githubusercontent.com/65665512/146878387-207f531e-9caf-477a-a6f2-4e60db6c740d.png)

[2021-12-21 06:34] dxdx65 commented on #146
I upgraded to #147 and it works again but odometer, ignition switch, elveh (and guardmode_switch  just disabled) are not available.
Is it right..?
Thanks a lot!

[2021-12-21 06:39] itchannel commented on #146
@dxdx65 Try 1.3. Guard mode won't work for now until I have time to see what API changes have been made. In the meantime I've pushed a new branch which should fix the error for the other sensors

[2021-12-21 06:40] itchannel commented on #124
@Calvin4024 Try #148 Should fix the elveh error. I had to push a fix earlier today quickly for the guard mode API change hence I overlooked something.

[2021-12-21 06:51] Calvin4024 commented on #124
Version 1.30 fixed the MachE problem, ElVeh and Odometer sensors are now available, thanks mate...  :)

[2021-12-21 08:20] dxdx65 commented on #146
uploaded and tested #148 , it works now for all sensors (excpet guardmode of course). Thanks a lot!

[2021-12-21 16:11] benk016 commented on #144
OK, Its now working correctly in 1.30. Thank you!

[2021-12-21 16:11] #144 closed

[2021-12-23 01:07] xxnumbxx opened #149 "Fordpass not showing in integrations"
Added Repo via HACS, rebooted. Fordpass not showing in integrations.

![1](https://user-images.githubusercontent.com/19581393/147172322-48ffea06-87b7-4542-9eb4-9c4483499233.jpg)

![2](https://user-images.githubusercontent.com/19581393/147172466-1f073725-dc42-4b39-ab85-76629dc1ed1b.jpg)

[2021-12-23 04:04] nathan-curtis commented on #124
@itchannel  Sorry had to deal with work stuff.   Read thread - caught up.  Here's what I did: and the logs you requested - some interesting stuff.

Debug was already in...  Reverified.
Updated to 1.30
Repro'd issue (same result - new logs - looks like the stuff you added chasing this down.)

The periodic error is basically the same as before: (my actual vin was replaced with (MyVIN) Anywhere it ap

[2021-12-23 04:08] xxnumbxx commented on #149
Fixed itself, I was just impatient.

[2021-12-23 04:08] #149 closed

[2021-12-24 21:33] zombielinux opened #150 "FordPass Dependency"
So I came across this repo: https://github.com/ianjwhite99/connected-car-python-sdk

It looks like it offers a lot. Would this be useful to see what overlaps and what doesn't with this one?

[2021-12-27 08:16] dbroxterman opened #151 "Options now showing"
I am trying to install the FordPass in my Home Assistant and never can get to the options for initial setup.  I first tried the latest version 1.30, but then removed and have tried all the versions listed down to 1.26 and never get the options page.  Is there something I am doing wrong on install?  I have the latest HA installed as well.

[2021-12-27 20:20] Tejasjpatel opened #152 "Error executing script. Unexpected error for device at pos 1: 'status'"
Hi, have been using the fordpass integration successfully for a while now,  (HASSIO on PI4 B) with no problems however I came across this error today when using it.

I have reinstalled the integration, I use a flic button to remote start the car, I have separately tested the flic button on another device and it triggers the automation.

Any advice or help is appreciated on this one, I'm kinda out

[2021-12-28 18:42] mikje opened #153 "There was an issue at Ford, messages are displayed now. Alas with incorrect date"
I do not get the latest messages. Only from the past.
![267565309_399744281898807_7854176761557958976_n](https://user-images.githubusercontent.com/12999690/147596991-223ae017-3da8-4997-92fe-051ac36490e6.jpg)
![269992422_633009174791834_6585539056649475521_n](https://user-images.githubusercontent.com/12999690/147597022-85ea190d-a114-4eef-bd99-db1d516c8e6a.png)

[2021-12-30 15:42] #152 closed

[2021-12-30 15:43] Tejasjpatel commented on #152
no point in keeping this open its been several days, i don't think i will get an answer

[2022-01-03 12:53] gniknalu opened #154 "Mi vs Km in sensor.fordpass_odometer"
How do I get sensor.fordpass_odometer to be in miles? I've already went to "configuration" --> Devices & Services --> Ford Pass --> Configure  --> and set "Unit of Measure" to MI but it hasn't changed sensor.fordpass_odometer where it says "unit_of_measurement: km"

[2022-01-04 02:50] JacobWasFramed commented on #154
Did you restart Home Assistant after changing the configuration option?

[2022-01-04 12:55] gniknalu commented on #154
Yes. Restarted after making the change is one of the things I've tried.

[2022-01-04 15:47] karlgo commented on #151
Just wanted to let you know that you're not the only one having this issue. I installed through HACS and went to configuration|Add New Integration and can't find the FordPass integration.

I'm on:
Home Assistant OS 7.1
HA core-2021.12.7
HACS 1.18.0

Any assistance would be most appreciated - thank you!

Karl

[2022-01-05 12:24] mattbarber87 commented on #151
Same here :(

[2022-01-05 14:39] gniknalu commented on #154
Woke up this morning and not it's saying Mi instead of Km???? Didn't restart nor update anything.

[2022-01-05 14:39] #154 closed

[2022-01-06 00:10] stumiles86 opened #155 "Ad blue (DEF)"
Is it possible to add the Ad Blue (sometimes called Diesel exhaust fluid) fill level?

[2022-01-08 14:54] FightingNflder opened #156 "Is this still working"
I’m using FFPass and for the past few days have been seeing a 401 error.

Is this utility still working?

[2022-01-08 15:02] Bert-R commented on #156
For me (in the Netherlands) it is working. Ford had major server issues earlier this week, even to the level that the sent through the app to inform the users the issues are now resolved.

[2022-01-09 01:56] wubli commented on #156
Not for me:
`ERROR (MainThread) [custom_components.fordpass] Error fetching fordpass data: Error communicating with FordPass`

[2022-01-09 02:09] WhiteDogBe commented on #156
Same here, not working.

[2022-01-09 04:45] OArndt commented on #123
Hey everyone,
I just finished setting up my first HA-instance and wanted to add the aforementioned attributes to my UI.
However, I'm kinda lost. I tried adding this
[code]

to my /config/configuration.yaml, but I just get an error saying

and no new entity to add to my overview

What am I doing wrong?
Sorry if this is a noob question, but I'm kinda lost here...
Any help is really appreciated!
Than

[2022-01-09 22:39] ianjwhite99 commented on #156
Ford changed the FordPass authentication endpoint. The current endpoint that most libraries were using is no longer creating a valid access token to send authenticated requests.

[2022-01-09 23:12] itchannel commented on #156
The current endpoint is working fine for me and my dev accounts after adding/readding. Could one of you who is having the issue please add the following to your HA configuration so I can get a log dump.

[code]

[2022-01-09 23:48] ianjwhite99 commented on #156
@itchannel Are you located in the US? I wonder if it's a regional update.

[2022-01-09 23:59] wubli commented on #156
[code]

[2022-01-10 00:14] ianjwhite99 commented on #156
Disregard what I said. I was doing some more testing on my own [FordPass](https://github.com/ianjwhite99/connected-car-node-sdk) library and I didn't have the new `https://api.mps.ford.com/api/oauth2/v1/token` endpoint to get the second stage token, which this library has added.

I initially thought that Ford had dropped support for the password_grant OAuth token but that doesn't appear to be the

[2022-01-11 02:47] prezmc opened #157 "Can't get this to work on new HASS install (RPi)"
I just setup an RPi 3 with HASS, I got HACS installed.  I found/added the custom repo for Fordpass HA, and HACS and HASS know it's there.

That's where progress stops.  The instruction say:

 Once the integration is installed **go to your integrations and follow the configuration options to specify the below:

Username (Fordpass App)
Password (Fordpass App)
VIN Number
Region (Where you are based,

[2022-01-11 03:03] prezmc commented on #157
Update:  Patience is a virtue I still don't have?

I scrolled through closed issues, and found another with a similar problem.  I waited a little while longer, and it showed up.  I have authenticated and tested the remote start.  So far so good, now to build a custom card for it.

It might be good to add a note in the instructions letting people know that it may take a while to show up correctly a

[2022-01-11 03:03] #157 closed

[2022-01-18 22:12] markusleh commented on #121
I found this data from the package which to me look like API endpoints for the EV services. I however cannot figure out what the full URL for these should be. Have you @itchannel had time to look into this?
[code]

[2022-01-21 14:56] rkeyzer9 opened #158 "Fordpass not fully working"
I am using the fordpass integration for over a year but since a month i can't see the km (odometer) and the fuel anymore, in the fordpass app it is still working, someone has an idea?

[2022-01-25 07:48] tobox commented on #158
Same for me with a Mustang Mach E electric vehicle. I don't get the SoC anymore - maybe it has something to do with the latest ELVDTE commit?

[2022-01-25 13:11] jrprinty commented on #34
Thank you so much for this integration. My family uses it multiple times a day.

You can extend the remote start time by the 15 minutes, by running another service call to switch.turn_on to the ignition switch. You can not use the GUI of course as that will turn the switch off.

I turn the ignition switch on then wait about 30 seconds (not sure that it is actually needed) and then run the service

[2022-01-27 16:42] heyepic opened #159 "FordPass Stops Working After Awhile"
First - thank you so much for making this integration! Mega helpful for starting the car easily without the Ford app.

I've been noticing that after awhile, all entities are unavailable until I go to devices & integrations and click reload - then they will show up proper.

[2022-01-27 22:09] BrttClne22 opened #160 "Last Refresh time incorrect"
If I refreshed today at 5PM, the last refresh sensor would give me back 2022-01-27 22:00:00-05:00. The DateTime component appears to be the current UTC time, -05:00 means that it should be adjusted for EST time but it is not.

Based on what I've found, 5PM should either be listed as 2022-01-27 17:00:00-05:00 (timezone adjusted) or 2022-01-27 22:00:00-00:00 (utc).

fordpass-ha: 1.30
ha-version: 202

[2022-01-31 10:27] tobox commented on #159
Same for me, for quite a while. I have an EV (Mustang Mach E) in Germany, if that information helps.

It's sad, because the addon was working quite nicely.

[2022-02-02 02:36] luis-renato opened #161 "Brazil"
Hello!

How can I help you to make this project works here in Brazil?

Thanks!

[2022-02-04 22:16] bprigg commented on #124
The error I am seeing I believe is related to tire pressure having defined as Float and/or because on my F150 I do not see the actual pressures even within the FordPass Application on my Phone.

File "/config/custom_components/fordpass/sensor.py", line 209, in get_value
tirepress[key] = round(float(value["value"]) * sval)
ValueError: could not convert string to float: ''

Definetly not the toke it

[2022-02-05 13:02] Johnnyyr opened #162 "Error doing job: Task exception was never retrieved"
Logger: homeassistant
Source: custom_components/fordpass/sensor.py:180
Integration: FordPass ([documentation](https://github.com/itchannel/fordpass-ha), [issues](https://github.com/itchannel/fordpass-ha/issues))
First occurred: 13:51:03 (2 occurrences)
Last logged: 13:56:04

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeas

[2022-02-06 06:28] nwykoff commented on #162
Similar issue here:
Logger: homeassistant
Source: util/speed.py:45
First occurred: February 5, 2022, 10:18:15 PM (3 occurrences)
Last logged: 12:58:15 AM

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/update_coordinator.py", line 134, in _handle_refresh_interval
    await self._async_refresh(log_failures=

[2022-02-11 17:13] J-T-W opened #163 "Change Username / Password / VIN?"
Once configured, how do I update/change the username / password / vin in HA?

[2022-02-15 14:03] balronu opened #164 "Two Accounts"
I have two Accounts for two Cars (My Wife and my daughter). But I can use only one Account. See the picture
![704425E1-4232-4341-A48A-355CF6F6B583](https://user-images.githubusercontent.com/81955469/154077526-add384f7-b2cd-44d9-b782-5d8eed66f24d.jpeg)

[2022-02-15 21:02] simonsi86 commented on #164
Same issue as well.

[2022-02-15 21:52] itchannel commented on #164
Can you please provide a copy of the log so I can see the error. I have two accounts added fine on my instance so will need more information from both of you to troubleshoot

[2022-02-15 21:52] itchannel commented on #163
Unfortunately the only way currently is to delete and add the integration again. I do have in the future to add the authentication parameters as options but not currently.

[2022-02-15 21:56] itchannel commented on #162
Is this a new install or an upgrade from previous before I made the change in 1.13? Can you just try going to the fordpass options screen and hitting save/submit to update the values.

[2022-02-15 21:57] itchannel commented on #161
Ideally I would need to see a couple of the requests sent between your fordpass app and ford to get the relevant app id headers. This can be done using a tool such as burp proxy. Then I could potentially add in Brazil support.

[2022-02-15 21:58] itchannel commented on #160
At the moment the integration just returns the raw value exposed by the Fordpass API. I don't currently convert it to the relevant local timestamp. I could look at doing this in the not so distant future.

[2022-02-15 21:58] itchannel commented on #159
Can you check your HA logs for any events that might be related to this.

[2022-02-15 21:59] itchannel commented on #158
Can you please check your logs and see if there is any errors related to this.

[2022-02-15 22:18] heyepic commented on #159
Error doing job: Task exception was never retrieved
4:14:56 PM – (ERROR) FordPass (custom integration) - message first occurred at February 12, 2022, 7:36:03 PM and shows up 821 times
Error fetching fordpass data: Error communicating with FordPass for 1FMXXXXXXXXXXXXXXX
1:34:34 AM – (ERROR) FordPass (custom integration)
Error communicating with FordPass for 1FMXXXXXXXXXXXXXXX
1:34:34 AM – (WARNING

[2022-02-15 22:59] J-T-W commented on #163
Good to know - thanks!

[2022-02-15 22:59] #163 closed

[2022-02-16 07:01] Bert-R commented on #162
I occasionally have such errors too, with slightly different line numbers:

[code]

With 'occasionally', I mean 11 times this year.

[2022-02-16 18:28] simonsi86 commented on #164
HI
logs below

Simon

This error originated from a custom integration.

Logger: custom_components.fordpass
Source: helpers/update_coordinator.py:219
Integration: FordPass (documentation, issues)
First occurred: 08:01:07 (470 occurrences)
Last logged: 18:26:24

Error fetching fordpass data: Error communicating with FordPass for
WF0NX###########
Error fetching fordpass data: Error communicating with

[2022-02-16 18:32] simonsi86 commented on #164
![image](https://user-images.githubusercontent.com/83037829/154332239-ba359df0-3cfe-4cd9-ac5b-c9d41dc0dab6.png)

![image](https://user-images.githubusercontent.com/83037829/154332324-ab1258b0-1f89-4e8c-9b2c-da107caba4b6.png)

[2022-02-18 01:54] caleb9707 commented on #164
Having the same issue here. If I clear the tokens and/or refresh the integration, I can get one or the other to work, but not both at the same time. Here is the log, same as the others

Logger: custom_components.fordpass
Source: helpers/update_coordinator.py:219
Integration: FordPass ([documentation], [issues])
First occurred: 7:48:06 PM (4 occurrences)
Last logged: 7:48:55 PM
Error fetching fordp

[2022-02-18 15:34] heyepic commented on #159
Any ideas @itchannel ?

New example is that the remote status stopped working. Locked status also hasn't worked for like 4 months for me.

![image](https://user-images.githubusercontent.com/12517908/154713088-a2e4dcd0-a599-4004-bde7-e88c14216376.png)

Error doing job: Task exception was never retrieved
9:31:11 AM – (ERROR) FordPass (custom integration) - message first occurred at February 17, 2022

[2022-02-18 15:40] ziptbm commented on #129
It'd be great to see the actual charging rate so you can better shuffle time of use rates, other power sources (solar/powerwall), and when it should and should not charge based on some of those variables.

[2022-02-21 12:47] ebialobrzeski opened #165 "Is there a way to get 12v battery voltage with 2 decimal point accuracy?"
As stated in the title. I can see that the voltage is rounded to an integer but it would be super helpful for some of those who are struggling with 12v battery issues to see the actual voltage and be able to alert on that.

[2022-02-21 21:45] itchannel commented on #165
Unfortunately the Fordpass API only gives a rounded value so I'm unable to give a more accurate voltage.

[2022-02-21 21:46] itchannel commented on #164
Thanks. I know what the issue is and will hopefully bring out a new version this week when I have time to test.

[2022-02-21 21:49] itchannel commented on #162
It looks like certain sensor values are blank when receiving data back from your car. Can you please add the following to HA to provide more indepth logging so I can see what data is missing:

[code]

[2022-02-21 21:57] simonsi86 commented on #164
I don't mind testing it as well before you release it

On Mon, 21 Feb 2022, 21:46 itchannel, ***@***.***> wrote:

[2022-02-22 09:51] #165 closed

[2022-02-22 09:51] ebialobrzeski commented on #165
Thanks

[2022-02-24 01:51] cbennett6008 commented on #158
I noticed this too, but also notice that if I look at the fordpass website, they don't display there anymore either.

[2022-02-24 02:59] OArndt opened #166 "Sum of recharged power / refueled gas"
It would be cool to have a way to see the total amount of charged power/refueled gas over the life of the vehicle.
Would this be possible?

[2022-02-24 21:55] tballarin commented on #123
@OArndt, you can test this code on your config/configuration.yaml

[code]

[2022-02-28 04:44] canuckcam commented on #96
Guard mode was deactivated/greyed out from v1.29? It worked for a while for me and I got notifications on my app, but recently it stopped so wanted to try to toggle it on the plugin again. Thanks!

[2022-03-03 17:57] colings commented on #145
My FordPass seems to have been broken for a while too, I also have a 2020 Aviator. I tried deleting it and readding it and it didn't fix it. Here's the log I get:
- DEBUG (MainThread) [custom_components.fordpass] Finished fetching fordpass data in 3.350 seconds (success: False)
- DEBUG (MainThread) [custom_components.fordpass] North America & Canada
- DEBUG (MainThread) [custom_components.fordpass

[2022-03-04 15:04] doublepedaldylan opened #167 "Renaming device does not rename associated entities"
Renaming the overall device in fordpass does not result in entities being renamed as well (at least when a VIN is used in setup).
This may be a result of [default naming convention not matching sub-string](https://community.home-assistant.io/t/bulk-renaming-of-related-entities/354592/5)

[2022-03-07 13:13] scottiecb19 opened #168 "Cannot connect"
Hi,

I've been trying to connect my Ford Kuga for a week now, no luck. I've read a number of posts to try and self-help, with no success. These are the errors thrown up in the log;

2022-03-07 13:01:34 WARNING (MainThread) [custom_components.fordpass] local variable 'result' referenced before assignment
2022-03-07 13:01:34 WARNING (MainThread) [custom_components.fordpass] Error communicating with

[2022-03-14 17:26] ThePitaGyros opened #169 "Using fordpass GPS position in HA proximity integration"
Dear fordpass developers,

I wanted to use the device_tracker.fordpass_tracker or sensor.fordpass_gps in the HA proximity integration, but I only get "not set" as value.

Has anyone tried this besides me?

Here is my configuration.yaml snippet for the proximity integration:

[code]

Both values should work, but do not, despite having latitude and longitude as attributes (like the HA device tracker

[2022-03-14 19:17] ziptbm commented on #129
@400HPMustang have you found a way to report if the vehicle is charging or not?

[2022-03-14 19:18] 400HPMustang commented on #129
Nope. All I ended up with is plugged in or unplugged.

[2022-03-14 20:53] ThePitaGyros commented on #169
Found the solution:

The longitude and latitude values provided by the fordpass integration provide the values with single quotes. Those values cannot be parsed by the proximity integration.

If you use a template to construct a new entity that contains those values without quotes - everything works smoothly.

All the best, Pita.

[2022-03-14 20:53] #169 closed

[2022-03-16 09:38] tom-vos commented on #129
Noticed that for my PHEV the 'Charge End Time' attribute goes to "01-01-2010 00:15:00" when not charging.

Combining that information with the "Plug Status" information allowed me to create some charging status sensors.

This is what I did:

[code]

[2022-03-17 10:11] darkneo29 commented on #164
Hello. Any update on this?

[2022-03-21 20:51] Synthetium opened #170 "Choosing between Miles and Kilometres?"
Can we have a method of choosing between KM and Miles for readings like the Odometer?

[2022-03-23 10:38] ppacher commented on #169
@ThePitaGyros could you share your configuration on how to get this to work with the proximity integration?

[2022-03-25 14:31] colings commented on #145
FYI, I just tried this again today on 1.30 and it worked fine. I'm not sure if there was an update since last time I tried or it was magically fixed, but it's all good now. Thanks @itchannel

[2022-03-29 22:50] kevinvdburgt opened #171 "fordpass: No module named 'dotted'"
Installed 1.30 using HACS, after installing and adding the integration I'll receive the following message:

In the HomeAssistant logs:

[2022-04-03 07:39] balronu commented on #164
@itchannel are you OK?

[2022-04-03 09:45] itchannel commented on #164
@balronu Sorry had prior commitments. Please try this version when you have 5 [1.31](https://github.com/itchannel/fordpass-ha/tree/1.31)

[2022-04-03 09:47] itchannel commented on #171
I would try reinstalling as the "dotted" dependency should be installed as part of the install via HACS

[2022-04-03 10:02] balronu commented on #164
@itchannel It's all OK. Just wanted to make sure nothing happened to you. I downloaded the new version manually and it works. Thanks so much.

[2022-04-03 10:04] itchannel commented on #164
Great. Once I've fully tested It I'll release to HACS

[2022-04-03 19:17] caleb9707 commented on #164
@itchannel I also installed the new version manually and it works great! Really appreciate your efforts on this. Hope all is well!

[2022-04-10 09:38] Arvekari commented on #168
I'm experincing the same problem

[2022-04-10 15:48] Gerlowski commented on #168
I have also the same problem ..

[2022-04-24 10:14] Cellivar opened #173 "elVeh is not a numeric value"
Apparently the elVeh value is coming in as a non-numeric value. I had to do some shenanigans to perform math on the value in my influxbd server.

![Screenshot_20220424-031110_Home Assistant](https://user-images.githubusercontent.com/1441553/164971569-55b893c7-7759-44b2-834b-3a76f2e7e46a.jpg)

Possibly related, the timestamp values all appear to be raw text instead of a timestamp value that can be

[2022-04-24 15:25] GerdRuetten opened #174 "Error fetching fordpass data: Error communicating with FordPass for Wxxxxxx"
Dear all,

i have three ford (Fiesta, Kuga and EcoSport).

The Fiesta works without failure.

The intigration for the Kuga and the EcoSport are run on error:

[code]

With debug logging, i see in the logfile:

[code]

I install the integration in version 1.30 via HACS.

In the FordPass-App i have all three cars.

Can anybody help me?

Best regards

Gerd

[2022-05-01 20:42] ThePitaGyros commented on #169
Hello ppacher,

sure thing. Here is my approach:

When looking at the values in the entity device_tracker.fordpass_tracker (or sensor.fordpass_gps) you will find latitude and longitude state attributes enclosed in single quotes, like this:

[code]

Other device_trackers (like the one that comes with the Home Assistant mobile app) provide those state attributes without single quotes. Those attribut

[2022-05-05 16:48] magnetic157 commented on #144
Mine is still showing in Km despite being set to Miles in the preferences.
Odometer is showing in miles, but this is still in Km  `state: "{{state_attr('sensor.fordpass_elVeh', 'elVehDTE')}}" `

I'm on version 1.3

[2022-05-15 18:36] paukstelis commented on #157
I recognize this is closed, but I have the same issue and a Configuration option never shows up. Ever.

[2022-05-15 18:42] paukstelis commented on #151
I am also having this issue. No options or configuration available under the fordpass card.
![image](https://user-images.githubusercontent.com/28326982/168488792-70a75db6-c929-44dc-9f07-05a27757e093.png)

[2022-05-19 16:35] jamesdales commented on #155
This would be really useful as the level's only accessible within the app, and not the vehicle until it's low.

[2022-05-23 12:19] magnetic157 opened #175 "Data Fetch only hourly while driving?"
My FordPass integration only seems to fetch data hourly when the car is in-motion which causes some issues when graphing my fuel and electric level.  When on a trip, it takes sharp dives each hour instead of having a gradual decline.

When parked, it seems to report every 15 minutes.   Is there a way to resolve this?

![image](https://user-images.githubusercontent.com/78054864/169817694-7219b147-c

[2022-05-26 11:37] JayJay-SmartHome opened #176 "Retrying set up: none"
I have a Ford S-Max 2019 and I'm in the uk.
I have tried installing for several weeks, being patient but still unsuccessful

Log shows 3 errors

'Vehiclestatus'

Error fetching fordpass data: Error communicating with FordPass for Vin (copied from FordPass app)

Error communicating with FordPass for Vin

Any ideas?

[2022-05-26 21:59] JayJay-SmartHome commented on #168
Same problem here

[2022-05-31 02:06] coltography opened #177 "Does not show up in integrations after installation"
Not sure if this module has been abandoned, but nothing shows up after install/restart. I can't search for it in integrations either....if anyone has an solution please let me know!

[2022-06-02 07:22] Koetjeboeh opened #178 "New feature request: percentage of the battery"
When intergrated, there is no battery percentage showing of the car (in this case a Mustang Mach-E).
I would like to make some automation based on the percentage, not on how far I can drive (it's to dependant on the weather).

[2022-06-02 08:28] mhill312 commented on #168
Same thing. Can't get it past the "Retrying setup: None" problem. Entered all of the info correctly, AFAICT.

[2022-06-02 09:04] itchannel commented on #175
The integration polls the Fordpass API every 15mins, however that data is only scraped from the car by Ford on an irregular basis.
You can run the service "Fordpass Refresh" which will manually poll the car but doing this too often will cause significant battery drain.

[2022-06-02 09:09] itchannel commented on #168
If you can all please add the following to your configuration file to enable full verbose debugging I can see what the issue is.

[code]

The issue you are describing is normally caused by incorrect details such as VIN or your car not being supported so can you please include the following information along with the above log output:

- Region Located
- Model and year of car
- HA Version

[2022-06-02 09:10] itchannel commented on #173
Thanks for the feedback. Currently all the values come back from the Ford API as string values but I will look into casting them into their relevant format.

[2022-06-02 09:11] itchannel commented on #164
Closing as this was resolved in the latest version.

[2022-06-02 09:11] #164 closed

[2022-06-02 09:38] scottiecb19 commented on #168
This error originated from a custom integration.

Logger: custom_components.fordpass
Source: custom_components/fordpass/__init__.py:188
Integration: FordPass (documentation, issues)
First occurred: 10:32:37 AM (11 occurrences)
Last logged: 10:37:25 AM

400 Client Error: Bad Request for url: https://sso.ci.ford.com/oidc/endpoint/default/token

[2022-06-02 14:58] mhill312 commented on #168
Region: USA/MIDWEST
Model: FLEX 2019
HA Version: Home Assistant Core 2022.6.0, Home Assistant Supervisor 2022.05.3, Home Assistant OS 8.1

LOGS:

2022-06-02 09:43:23 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration hacs which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assi

[2022-06-02 16:16] itchannel commented on #168
@scottiecb19 Can you confirm you're entering the correct username and password and that you currently use the Fordpass mobile application without issue. As the error in your logs indicates it's unable to authenticate with the API with the given data/credentials. I can send you a link to a debug python script tomorrow which will give better output as to what the issue is.

[2022-06-02 16:23] itchannel commented on #168
@mhill312 Looking at your log it appears you're authenticating fine but it's unable to find your car with the given VIN number hence the "VehicleStatus" array being blank. Does this vehicle show up fine in the standard Fordpass App or does it use some legacy app? Can you also double check the VIN number and check there's no Os instead of 0s etc.

[2022-06-02 23:29] mhill312 commented on #168
@itchannel I use the FordPass iOS app on my phone, but it doesn't have all of these cool features talked about here.  My VIN is here copied and pasted from the FP app. 2FMHK6D83KBA20885

Thanks for looking into this stuff.

[2022-06-03 06:41] scottiecb19 commented on #168
@itchannel thanks for the reply. Yes, I can see the vehicle fine on the app and online. I've checked and double checked username and passwords, even changing the password to be sure and it just won't have it.

[2022-06-03 07:36] mhill312 commented on #168
The VIN is legit.

https://www.vindecoderz.com/EN/check-lookup/2FMHK6D83KBA20885

[2022-06-04 00:25] mhill312 commented on #168
Can I never use CarPlay if I am using this ford pass app with HA? That would certainly be a dealbreaker.

[2022-06-04 19:08] magnetic157 commented on #175
I saw on the home page that this is an option but I cannot see it anywhere on my integration.  The only thing I see is "sensor.fordpass_last_refresh" which shows the time it was last refreshed.

How do I access this function?

[2022-06-06 00:49] itchannel commented on #175
There is a service exposed by the integration in HA called "fordpass.refresh_status" you can set up an automation with a given VIN to manually poll the car on whatever interval you want. Just be aware it will cause significant battery drain.

[2022-06-06 00:51] itchannel commented on #168
@mhill312 It has nothing to do with Carplay this integration just polls the Ford API so doesn't affect anything to do with Mobile.

Can you let me know what features are supported in your app as I'm wondering if your car is limited hence this integration is struggling to retrieve the required vehicle details or is not compatible with the API I use. If you can add a screenshot of the Fordpass app h

[2022-06-06 01:07] itchannel commented on #168
@scottiecb19 @mhill312 I've updated my debug script to grab a copy of all vehicles associated with your accounts. If you can run the linked script and send me a copy of "log.txt" I can debug fully what's going wrong. Please remove the "access_token" before uploading.

[Debug Script](https://github.com/itchannel/ford_debug)

[2022-06-07 17:00] mattiaoui opened #179 "New request : write to influxdb"
I want to write data direclty to influxdb without using HA.

Thanks
Mattia

[2022-06-08 09:59] scottiecb19 commented on #168
So sorry, I've Googlewd how to debug this and can't seem to get it done. I can't ssh on to HA as the connection (internal and external) is going through duckdns, the internal ip doesn't connect. I've tried it with the HA 'Terminal & SSH' add-on with no luck either. Any suggestions?

[2022-06-09 17:30] Traviis commented on #177
I am also seeing this issue.

I installed 1.30 via HACS, restarted HA, and then went Configuration -> Integrations.

Hit the add button in the bottom right, and searched manually and via search bar for Fordpass, but did not see it in the list.

I see the following log lines:

[code]

Restarted a few times, but still not seeing it.

Not sure if the second line is relevant, but all the other ones ar

[2022-06-20 22:17] 400HPMustang opened #180 "Integration quit working"
Hello, today the integration stopped working for both of my vehicles. Here is the information from the logs, my VINs have been redacted.

[code]

[code]

[code]

[2022-06-20 22:32] circasurvivor55 commented on #180
Dealing with the same error:

`This error originated from a custom integration.

Logger: custom_components.fordpass
Source: custom_components/fordpass/__init__.py:189
Integration: FordPass (documentation, issues)
First occurred: 5:33:44 PM (45 occurrences)
Last logged: 6:28:34 PM

Error communicating with FordPass for 1XXXXXXXXXXXXXXX7`

[2022-06-20 23:45] itchannel commented on #180
Unfortunately it appears Ford has updated the API and in doing so have changed how the API authenticates. I'll have to look into it and rewrite a number of bits but it won't be a quick fix for now.

[2022-06-20 23:49] 400HPMustang commented on #180
Unfortunate but understandable. I’m going to disable the integration for now and keep an eye out for an update from you.

[2022-06-21 00:47] boostin4hp commented on #180
Would greatly appreciate it when you get a chance I love this integration!

[2022-06-21 01:03] BluThunder2k commented on #180
Thanks for looking into it.     My vehicle as well stopped working with the same errors.

[2022-06-21 01:12] JVTEAM commented on #180
Darn.  Thanks for the update.  Keep us posted.

[2022-06-21 03:31] itchannel commented on #180
If anyone is willing to test I have a new beta version with fixed Auth flow, I'm currently running it on my HA to test for bugs but anyone else is welcome to have a look. [Beta](https://github.com/itchannel/fordpass-ha/tree/1.32-beta)

As the Auth flow has changed you may need to delete and resign into the integration or at the very least delete the token file first!
As I'm still testing I haven't

[2022-06-21 04:24] tyldum commented on #180
Great work! Updated and iit works!

[2022-06-21 05:13] philbowers opened #182 "error while trying to install 1.32 beta"
Looks like HACS doesn't like 1.32 beta.

Logger: custom_components.hacs
Source: custom_components/hacs/websocket.py:286
Integration: HACS ([documentation](https://hacs.xyz/docs/configuration/start), [issues](https://github.com/hacs/integration/issues))
First occurred: 1:03:28 AM (7 occurrences)
Last logged: 1:05:29 AM

Expecting property name enclosed in double quotes: line 13 column 3 (char 359
!

[2022-06-21 05:43] itchannel commented on #182
Give 1.43Beta2 a go. There was an issue with the hacs file.

[2022-06-21 06:00] serlinGi commented on #180
great, TOP!

[2022-06-21 10:08] BluThunder2k commented on #180
Working here, just had to re-enable it (had disabled the integration), download the beta and we're back!    Thanks for you time!!

[2022-06-21 14:03] eric-ewilson commented on #180
It's working for me too. Thanks for the quick fix!

On Tue, Jun 21, 2022 at 5:08 AM BluThunder2k ***@***.***>
wrote:

[2022-06-21 14:29] jeffkindred opened #183 "Unexpected error while authorizing"
I noticed that the integration had stopped functioning as expected a couple of days ago. I was able to reload it and get it working for another day or so. It went unavailable again, so I deleted and reinstalled the integration via HACS and was met with an "Unexpected error" while authorizing. I tried a different password and got an "Invalid credentials" error. I logged into the FordPass app on my

[2022-06-21 15:37] marbindrakon commented on #180
Just updated from 1.30 to 1.32Beta and restarted HA. It appears to be pulling data without any further actions since I didn't re-authenticate or delete any token files.

[2022-06-21 16:16] buzzbronski commented on #183
Getting the same error. When going to that URL mentioned in the logs I also receive this error: { "statusCode": 401, "message": "Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API." }

Looks like we'll have to wait for the dev to implement a fix.

[2022-06-21 16:44] CEri1975 commented on #180
Great work...

[2022-06-21 17:22] ThePitaGyros commented on #183
The integration worked flawlessly 22 hours ago (June 20, 19:06 GMT), and then suddenly stopped working.
Now I get the following errors...

[code]

I tried to reauthorize and got the same "unexpected error" with the following log entries...

[code]

which looks like the same error that @jeffkindred mentioned before.

If I can help with further tests / info - please let me know.
Love the integration

[2022-06-21 18:00] ThePitaGyros commented on #183
I was not on the beta cannel - always a mistake ;-)
Just tried the 1.32beta version of the integration - with this version, things seem to work again.

@jeffkindred Try the beta - maybe the fixes things for you too.

[2022-06-21 18:04] jeffkindred commented on #183
I already tried 1.32Beta as part of my troubleshooting and had the same issue

[2022-06-21 20:16] jeffkindred commented on #183
I just tried the beta again, and it worked this time... not sure what happened the first time I tried it, maybe I forgot to restart HA or something.

Thanks for the great integration and keeping up on the maintenance :)

[2022-06-21 20:16] #183 closed

[2022-06-21 22:51] itchannel commented on #182
Closing issue as this has now been fixed

[2022-06-21 22:51] #182 closed

[2022-06-22 03:28] DevTodd commented on #180
The only issue that I see is that Tire Pressures are reporting as 9505 for all tires using LBS.  Otherwise I haven't found any other issues.  Thank you very much for getting the update out so quick.

[2022-06-22 04:43] Tuschz opened #184 "Unexpected exception on installation"
So i had this integration working, and one day it just stopped working.

I reset my PW for Fordpass and removed the integration.
I redownloaded from HACS and restarted HA.

When trying to set it up again i had below error

[code]

[2022-06-22 05:32] Tuschz commented on #184
Sorry, didn't see the other issue with same error

[2022-06-22 07:16] oleg-fiksel commented on #180
Same here. Works with https://github.com/itchannel/fordpass-ha/tree/1.32-beta
Thanks for fixing this! ❤️

[2022-06-22 08:30] GerdRuetten commented on #180
I testing the 1.32-beta.
One VIN i can connect without failure.
Two other VIN's are not work.

[2022-06-22 09:10] itchannel commented on #180
@GerdRuetten Can you tell me what kind of failure/error you are getting in the logs as I run multiple cars on mine and it's working fine.

[2022-06-22 09:41] itchannel commented on #180
1.33 is now officially released and out of Beta (Had to skip 1.32 due to a git issue with Hacs)

[2022-06-22 09:43] itchannel commented on #179
I'm sorry but if you want to do something like that then you're welcome to use the functions in the fordpass_new.py file but it's not something I'm looking at doing as this is just a HA integration and doesn't make sense to add separate functionality for writing to an influxdb as HA can be set to do that.

[2022-06-22 09:43] #179 closed

[2022-06-23 12:53] Bart274 commented on #178
I used a template sensor to read the Battery Fill Level attribute of my fordpass_elVeh sensor. That contains the battery percentage.

[2022-06-24 11:51] 7ooL commented on #123
I used this for an entity filter to know if the car was plugged in our not

[code]

[2022-06-26 13:37] xpac1985 commented on #180
Nice, thanks a ton for your work - that fixed it for me!
@itchannel @400HPMustang either of you might wanna close this issue ;)

[2022-06-27 14:08] #180 closed

[2022-06-27 14:12] 400HPMustang opened #187 "Integration not working...again"
So after a few days of happiness it looks like Ford has decided to change things up again. Not sure if we can continue to use this integration. Here's the logs

[code]
[code]

[2022-06-27 18:49] tonesto7 commented on #187
Yeah... ford is restricting the token endpoints further.  I'm working on a solution for my Fordpass Widget... I will post any solutions I find here as well

[2022-06-27 23:51] itchannel commented on #187
I occasionally see that error in my logs but it's more the fordpass API having a wobbly with tokens every so often. Usually fixes itself on the next refresh(15mins). In the last 24hrs it did it twice so at the moment it's not really worth worrying about unless it's stopping permanently for anyone.

[2022-06-28 17:32] Brandawg93 commented on #187
I'm looking into this as well for my homebridge plugin. I've generated authorization codes before and have code that may be useful to this: https://github.com/Brandawg93/homebridge-nest-cam/blob/master/src/login.ts.

[2022-06-28 18:22] tonesto7 commented on #187
@itchannel @Brandawg93

![image](https://user-images.githubusercontent.com/1835933/176254575-677ad6c4-b3ea-448d-a8d9-80d566c112f4.png)
With a body of ```operation=verify&login-form-type=pwd&username=EMAIL_HERE&password=PASSWORD```

The identity_source_id param for me always stays the same with 75d08ad1-510f-468a-b69b-5ebc34f773e3
The state_id is what constantly changes

[2022-06-28 18:23] Brandawg93 commented on #187
That's the same one I get too. More than likely, the state_id is randomly generated.

[2022-06-28 18:47] tonesto7 commented on #187
So they do have an official API but does not mention how to request a token
https://developer.ford.com/apis/fordconnect

[2022-06-28 18:54] Brandawg93 commented on #187
They probably have to set the business up to handle Oauth, and then you can use their official page.

[2022-06-28 18:57] tonesto7 commented on #187
nice find... I can't believe I missed the state_id in the HTML (I was looking for it)

[2022-06-28 18:58] Brandawg93 commented on #187
Ya. Just found that info too. That's the same way I had to do it for homebridge-nest-cam. It's a bit hacky, and makes things more difficult for the end-user unfortunately.

[2022-06-28 18:59] ianjwhite99 commented on #187
Ford also is validating the cookies as they are coming across to check to make sure the request is actually coming from `https://sso.ci.ford.com/`. I'm thinking the best solution to this is going to be opening a browser window using selenium, puppeteer or whatever and pulling the cookies & tokens down then using that to make the requests.

[2022-06-28 19:00] tonesto7 commented on #187
In my use case, I should be able to encapsulate this all in a nice webview

[2022-06-28 19:06] Brandawg93 commented on #187
I've done the puppeteer way before. It's pretty horrible.

https://github.com/Brandawg93/homebridge-nest-cam/blob/f40d106620d96972fedb0dd57179d67731cc33aa/src/util/login.ts

[2022-06-28 19:09] ianjwhite99 commented on #187
Agreed. It would be nice if they added the ability to generate tokens for user accounts or a client_id and client_secret that could be used with their OAuth.

[2022-06-28 19:13] tonesto7 commented on #187
I still don't see how we are going to capture the code... We can't capture fordpass:// URL and we can't change it to a custom URL because it throws a CSIAQ0167E error about invalid redirect_uri

[2022-06-28 19:15] Brandawg93 commented on #187
You would need to use something like puppeteer and analyze the response before the redirection and parse the code.

[2022-06-28 19:22] tonesto7 commented on #187
Another snafu is that the Code challenge is not a static value.

[2022-06-28 19:26] Brandawg93 commented on #187
Here's how you do the code: https://github.com/Brandawg93/homebridge-nest-cam/blob/5d174ba8b11400839313c1eb9d875cf8cdb6d2ec/src/nest/connection.ts#L36

[2022-06-28 19:34] bjsmyth commented on #178
I did what Bart did. In my configuration.yaml I have the following and it breaks out the battery percentage into its own sensor.

`template:
  - sensor:
      - name: "Escape EV Range Percentage"
        unit_of_measurement: "%"
        state: "{{ state_attr('sensor.fordpass_elveh', 'Battery Fill Level') }}"
        icon: "mdi:ev-station"`

[2022-06-28 20:50] tonesto7 commented on #187
The state_id is also in the action attribute in the first URL
![image](https://user-images.githubusercontent.com/1835933/176285233-b7539135-e2d0-4a65-bb40-d8b68e0eab4c.png)

[2022-06-28 20:53] Brandawg93 commented on #187
This will probably help you but not me...

You can use the auth-token and application id from https://www.ford.com/support/vehicle-dashboard.

That way you can do the auth process completely in the browser.

[2022-06-28 20:57] tonesto7 commented on #187
Sorry, I'm not following what you mean...

[2022-06-28 21:04] Brandawg93 commented on #187
It looks like they haven't properly locked down oauth between applications, so an auth-token generated by the support website will work for the connect apis.

All I did was:
1. log into https://www.ford.com/support/vehicle-dashboard
2. Look in chrome dev console for `/users` call
3. Copy `auth-token` and `application-id` to `usapi` status call

You would still need a way to intercept the network c

[2022-06-28 23:16] ianjwhite99 commented on #187
I'm having a hell of a time trying to get the `fordapp://userauthorized?code=<code>`. I can get all the way to the last request `https://sso.ci.ford.com/oidc/endpoint/default/authorize?qsId=<qsId>&client_id=9fb503e0-715b-47e8-adfd-ad4b7770f73b&identity_source_id=75d08ad1-510f-468a-b69b-5ebc34f773e3` using puppeteer but then I get Error: net::ERR_ABORTED.

I'm not sure if its the server blocking me

[2022-06-28 23:18] tonesto7 commented on #187
I think i have this almost done with puppeteer... I have to go take care of something but hopefully, I can play with it more tonight.

[2022-06-28 23:42] itchannel commented on #187
Good to see a few people working on it, I agree would be nice if we could just use the official 3rd party API but guessing there's charges associated with it.

The fordpass:// part calls a function in the app on the device which takes the given code and generates a token from what I can tell annoyingly that part is obfuscated from the little I managed to just check. Will try and have a look tonigh

[2022-06-28 23:56] ianjwhite99 commented on #187
This is a super hacky solution with puppeteer but I figured I'd share.

I was having issues grabbing the `fordapp://userauthorized?code=<code>&grant_id=<grant_id>`. Puppeteer is confused by the `fordapp://` URL Scheme and throws `net::ERR_ABORTED`.

I attempted to useRequestInterception to try stop the request after successfully hitting the `https://sso.ci.ford.com/oidc/endpoint/default/authorize`

[2022-06-29 00:31] ianjwhite99 commented on #187
It also appears the old password grant authentication url is not the correct was to exchange codes for access tokens. Unless I am missing something.

<img width="985" alt="Screen Shot 2022-06-28 at 7 30 03 PM" src="https://user-images.githubusercontent.com/35158392/176326316-553e3ac1-1fee-4ffd-ba93-af2a099ed068.png">

[2022-06-29 01:18] ianjwhite99 commented on #187
One step closer. Does anybody know what the code_verifier could possibly be?

The initial URL from the FordPass application has the code_challenge and code_challenge_method. But like @tonesto7 stated the value isn't dynamic.

```https://sso.ci.ford.com/v1.0/endpoint/default/authorize?redirect_uri=fordapp://userauthorized&response_type=code&scope=openid&max_age=3600&client_id=9fb503e0-715b-47e8-adf

[2022-06-29 01:30] ianjwhite99 commented on #187
SUCCESS!! I ended up using [pkce-challenge](https://www.npmjs.com/package/pkce-challenge) and that worked perfectly!

<img width="1063" alt="Screen Shot 2022-06-28 at 8 27 47 PM" src="https://user-images.githubusercontent.com/35158392/176331704-feaca132-cc69-41ab-9f7c-ea55e39d4552.png">

[2022-06-29 02:07] Brandawg93 commented on #187
Same! I have this working from beginning to end without puppeteer. I need to clean up the code and then I'll commit it to my repo.

[2022-06-29 03:34] tonesto7 commented on #187
@Brandawg93 I'm looking forward to seeing your solution

[2022-06-29 03:46] Brandawg93 commented on #187
Ok. Here's what I've got: https://github.com/Brandawg93/homebridge-fordpass/commit/cf6a2babb0ea9183e6e0dd110e814da89991ac52

The only thing that I don't have working is the [`getVehicles` function](https://github.com/Brandawg93/homebridge-fordpass/blob/new-auth/src/fordpass-connection.ts#L82). Maybe someone else can figure that one out. 😀 I need to put this up for a while and get sleep lol.

[2022-06-29 03:53] Brandawg93 commented on #187
And just a forewarning, they will most certainly break this when they add CAPTCHA to their sso UI.

[2022-06-29 05:38] ianjwhite99 commented on #187
I've released my changes as well: https://github.com/ianjwhite99/connected-car-node-sdk/commit/a6b5e02be034f3edd09988a327b56fd3fd94de18

My updates are similar to that of @Brandawg93, however I use the same routes that the FordPass application uses instead of going through the `redirect_uri=https%3A%2F%2Fwww.ford.com%2Fsupport%2Fvehicle-dashboard`. I also grab the Authorization Code from the `ford

[2022-06-29 07:17] Koetjeboeh commented on #178
I've got the percentage now, thanks!

[2022-06-29 07:17] #178 closed

[2022-06-29 09:09] itchannel commented on #187
Nice work @Brandawg93 @ianjwhite99 @tonesto7  👍 Just got it working in a very messy form in python. Need to tidy up now :)

[2022-06-29 17:05] tonesto7 commented on #187
Thanks again @Brandawg93 @ianjwhite99 I have this working in a private project again.
Now I need to get it working in my Scriptable Script.  The main shortcoming is that I can't use Axios or Cookie-Jar.

[2022-06-29 17:09] Brandawg93 commented on #187
I was curious how you would be able to do that.

I have it working privately in my plugin again as well. I'm making a few optimizations to my previous code, but it will still include axios and cookie-jar unfortunately. I started playing around with manually getting the cookies from each request and holding them in a variable, but then found cookie-jar.

[2022-06-29 17:34] tonesto7 commented on #187
Ok i have it working without cookie-jar now.

You only need to pass the cookies to the next step in 1-4
![image](https://user-images.githubusercontent.com/1835933/176500024-dd9b7619-0bff-47a8-99be-dad60bdd0eb5.png)

[2022-06-29 21:05] tonesto7 commented on #187
Ugh... i forgot that I can't use Buffer in Scriptable

[2022-06-29 21:07] itchannel commented on #187
@khpylon check out branch 1.34 for how I've implemented it in python. I'm already using session handling in requests so that handles cookies etc for the multiple calls. It's still a little messy but should give you a guide.

[2022-06-30 00:42] ianjwhite99 commented on #187
Thanks @itchannel for sharing your python release. It was a big help in getting the auth working as quickly as possible for my python SDK! https://github.com/ianjwhite99/connected-car-python-sdk/commit/e4a23f9de98d5e78a4a7f4ccf656c7061b01d572

[2022-06-30 03:53] tonesto7 commented on #187
@itchannel @Brandawg93 @ianjwhite99

Do you guys got any ideas on vanilla code to simulate this line?:
```const hashBuf = Buffer.from(hash, "hex");```

Here is the hash code output and the string output of the code above.
[code]
[code]

[2022-06-30 04:37] ianjwhite99 commented on #187
Someone correct me if I'm wrong but...

I don't believe you can use vanilla code to simulate that with Node. The [Buffer](https://nodejs.org/en/knowledge/advanced/buffers/how-to-use-buffers/) class in Node corresponds to some raw memory allocated outside V8. Meaning you would have to interact with the raw memory to simulate the Buffer.from() function.

[2022-06-30 05:22] rene-bayer commented on #187
@itchannel do you want to release it for hacs? :)

[2022-06-30 05:34] itchannel commented on #187
Will push to hacs in a few hours just need to finish off bug testing 👍

[2022-06-30 07:14] Brandawg93 commented on #187
@tonesto7 Which part of the code do you need Buffer for?

[2022-06-30 07:46] DeFiEcoSys commented on #141
Hey hey, just following up on this to see if anyone for the region code for SA?

[2022-06-30 09:08] rene-bayer commented on #187
![image](https://user-images.githubusercontent.com/11734245/176638837-541d7a75-22ab-4147-9398-fd2d3a914a5e.png)

Yes,  works again :-)
thx :1st_place_medal:

[2022-06-30 15:00] scooper1 opened #190 "MutableSequence not available in home assistant July beta core-2022.7.0b0"
getting fatal integration load error on latest home assistant beta core-2022.7.0b0

`2022-06-30 10:22:02 ERROR (MainThread) [homeassistant.loader] Unexpected exception importing component custom_components.fordpass
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/loader.py", line 599, in get_component
    cache[self.domain] = importlib.import_module(self.pkg_path)

[2022-07-01 05:23] itchannel commented on #190
@scooper1 Thanks for the heads up. I've removed the affected library from the next version and will push once I've finished testing 👍

[2022-07-01 17:41] scooper1 commented on #190
confirm fixed in beta2  thanks

[2022-07-01 17:41] #190 closed

[2022-07-02 05:12] khpylon commented on #187
Thanks everyone.  It looks like I got the Java interface working for my app.

[2022-07-02 07:19] briis opened #191 "Cannot load fordpass after upgrading to 2022.7"
I know 2022.7 is still beta, so here is a heads up that it won't work when upgrading to HA 2022.7.
Hope this can be finxed before the release.

I have the latest released version of fordpass installed.

[code]

[2022-07-02 07:53] itchannel commented on #191
Duplicate of #190

@briis already been fixed just haven't pushed to release branch yet 👍

[2022-07-02 07:53] #191 closed

[2022-07-02 09:48] briis commented on #191
🙏 Thanks

[2022-07-03 22:44] mhill312 commented on #168
Thanks. Here’s what I see when I open the app. I have not used it much, and honestly it seems like it may be not all there.

![PNG image](https://user-images.githubusercontent.com/105292279/177059605-06830cf2-4b01-45ed-90cc-2b9aae4a9309.png)

[2022-07-07 15:56] dennisbrouwer91 opened #194 "Broken on Home Assistant 2022.7.0"
On the new version of Home Assistant 2022.7.0 the integration doesn’t start anymore :

`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/loader.py", line 599, in get_component
    cache[self.domain] = importlib.import_module(self.pkg_path)
  File "/usr/local/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level

[2022-07-07 23:20] itchannel commented on #194
@dennisbrouwer91 have you updated to the latest fordpass version in Hacs 1.35? As this was fixed in that release 👍

[2022-07-08 06:11] dennisbrouwer91 commented on #194
Thanks for the quick reply! That indeed fixed it. Sorry, my bad! Verstuurd vanaf mijn iPhoneOp 8 jul. 2022 om 01:21 heeft itchannel ***@***.***> het volgende geschreven:﻿
@dennisbrouwer91 have you updated to the latest fordpass version in Hacs 1.35? As this was fixed in that release 👍

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentione

[2022-07-08 06:11] #194 closed

[2022-07-19 15:04] sup3rm3ga opened #197 "New Setup Broken?"
I was experiencing some wonkiness so deleted and attempted to re-add my integration. Now getting this error:

[code]

[2022-07-19 15:07] hokenoah commented on #197
Same here -- long-time viewer of Home Assistant projects but finally got it set up in my own home. Went to setup Fordpass and the dialogue box just says "Unexpected error."

Not sure how to get the log you pulled above, but I'm sure it's the same issue?

[2022-07-20 17:03] limbicactually commented on #197
Following

[2022-07-20 18:14] bearli97 commented on #197
Unexpected error.

With recent master branch.

[2022-07-20 19:41] slamdf150xc commented on #197
I'm also seeing the "Unexpected error" message when attempting to setup the integration for the first time. HA logs below.

`2022-07-20 13:26:58 DEBUG (MainThread) [custom_components.fordpass.config_flow] North America & Canada`
`2022-07-20 13:26:58 DEBUG (MainThread) [custom_components.fordpass.fordpass_new] /config/custom_components/fordpass/slamdf150xc@gmail.com_fordpass_token.txt`
`2022-07-20

[2022-07-20 23:13] itchannel commented on #197
Fixed in latest version 1.36 👍

[2022-07-21 07:13] sup3rm3ga commented on #197
Confirmed, thank you!

[2022-07-21 18:13] slamdf150xc commented on #197
Resolved for me.

Thanks for the awesome work!

[2022-07-22 13:28] cjramseyer opened #199 "inconsistent functioning"
Setup Fordpass integration with 2017 F-150 Platinum.
Setup completes successfully, and all 17 added sensors function (doorlock, window position, etc.)
Remote start functionality works as expected.

Occassionally, 15 of the sensor will become "unavailable", but then refresh and are available again.

These error below are showing in the log:

This error originated from a custom integration.

Logger:

[2022-07-25 11:51] #197 closed

[2022-07-27 20:47] pendlet opened #200 "GPS Not always updating"
GPS randomly updates and does not refresh when doing a Fordpass: refresh_status. Sometimes the GPS is very accurate and others it takes hours and sometimes days before the correct GPS lat and long are given.  gpsState always says UNSHIFTED even when its working. Should that change?

latitude: '38.xxxxxxxx'
longitude: '-76.xxxxxxx'
gpsState: UNSHIFTED
status: LAST_KNOWN
timestamp: 07-27-2022 16:40:

[2022-07-30 19:52] mikje opened #201 "How to complete remove and start over"
Since the remove button was not available in  HA i tried to remove manually,
removed all fordpass entities but now stuck with the fordpass integration mentioing 1 device

![image](https://user-images.githubusercontent.com/12999690/181984733-3cc20014-c07f-4186-8e79-9d87366e34c3.png)

How do i remove this?
I want to start over with this integration in the hope that it wil work then as well.

I uses

[2022-08-01 12:32] tgriek commented on #123
I do think it is nicer to have them as separate attributes. I expect the most used sensor out of this integration is battery status. Happy to make a pull request for it.

[2022-08-02 15:25] mikje commented on #201
removal was succesfull,  but reinsalling not.  It keeps saying incorrect login

[2022-08-02 15:26] mikje opened #202 "Is this integration working for anybody in Europe?"
I installed the integration but the credentials are not accepted. My fordpass app works well with these credentials

[2022-08-02 19:50] DavidRosseljong commented on #202
It's working for me. I had issues some versions ago but the author fixed it.

![image](https://user-images.githubusercontent.com/39567696/182460972-bf1dd91e-3f52-4abb-bdb2-9413a2a074d6.png)

[2022-08-05 19:11] jansenfd opened #203 "Probably account blocked due to integration not working"
For all who are struggling :

At some point there were a lot of reports due to the integration not working. It appears that this was an issue on Ford side changing login api or something I think?

But now it appears that my account is completely blocked at Ford because there were too many login attempts.

I cannot login anymore in Ford website, fordpass app and the home assistant integration is no

[2022-08-08 22:00] BillyFKidney opened #204 "Dashboard Icon mdi:android-messages was renamed to mdi:message-text"
The auto generated sensor for the dashboard is using an out of date icon.
<img width="391" alt="image" src="https://user-images.githubusercontent.com/65253277/183522072-fcda0785-75f4-4a7e-8001-53b4441dcb12.png">
<img width="383" alt="image" src="https://user-images.githubusercontent.com/65253277/183522142-48c00554-b02f-4111-bd92-209770d7f262.png">

Ford Pass Integration Version 1.36

[code]

[2022-08-10 04:00] Krolitian opened #205 ""ERROR (MainThread) [custom_components.fordpass] Error fetching fordpass data: Error communicating with FordPass for <MY VIN>""
Error as title shows. This is the result of the car constantly going offline for 5 minutes at a time:
![Screenshot_29](https://user-images.githubusercontent.com/82565931/183809744-96693c98-81bd-4b01-bfb5-82672e0d6117.png)

Just constant areas of "unavailable" where I can't monitor or interact with the car.

[2022-08-11 23:40] itchannel commented on #200
GPS coordinates are only updated when the car polls to the Ford API. You can manually poll the car using the "fordpass_refresh" service which will manually poll the car but is battery intensive if used to often. Unfortunately this is a Ford limitation and not the integration.

[2022-08-11 23:40] #200 closed

[2022-08-11 23:41] itchannel commented on #202
@mikje Can you please show me what's happening in the logs. Are you sure your VIN is correct?

[2022-08-11 23:41] itchannel commented on #201
Can you please provide a copy of your logs that mention fordpass.

[2022-08-11 23:42] itchannel commented on #205
This is a bug with the API where it times out occasionally resulting in the sensors going unavailable to next refresh. I did try adding timeouts etc but didn't seem to help.

[2022-08-11 23:44] itchannel commented on #199
This is due to the API sometimes not responding so the integration marks the sensors as unavailable until it can refresh the data from the Fordpass API again. Unfortunately with this being an unofficial integration and not having API developer access there's not much that can be done.

[2022-08-11 23:44] itchannel commented on #203
I had this happen to me once, but the backend system unlocked the account after a period of time. Make sure your not still trying to login and the integration isn't running. Then give it 24hrs and see if it unlocks.

[2022-08-11 23:50] Krolitian commented on #205
Is there any way that a future release could enable a config option where if the timeout occurs, it doesn't write the "unavailable" unless two timeouts occur in a row so that the 5 min timeouts are ignored, the data looks normal, and also the remote start button won't be disabled when another API call for it to start would still work?

Like you could do `ignore_consecutive_timeouts: '0'` and we co

[2022-08-11 23:52] itchannel commented on #204
Fixed in 1.37

[2022-08-11 23:52] #204 closed

[2022-08-12 00:17] itchannel commented on #205
I'm testing code at the moment that might help but too early to tell yet 👍

[2022-08-12 01:48] Krolitian commented on #205
Excited to see the results! Love the work you've put into this integration. My favorite use of HA so far.

[2022-08-12 06:32] jansenfd commented on #203
Unfortunately I have it disabled for a week now and still not able to login in the fordpass app and ford website.

To be honest I have totally no indication how to solve this Ford doesn't respond to any emails so far.

[2022-08-15 05:10] austinbeam commented on #176
@itchannel Any thoughts here? I’ve been seeing the same for the past few weeks. Thought it’d eventually come back but it seems to be stuck. I noticed there is no fordpass_token.txt to be found any longer. Assuming that’s not good. Don’t really want to purge my setup if I don’t have to because all of the entities are manually renamed and that is a pain to do over if I can avoid it.

[2022-08-15 18:51] simon-froelich commented on #121
For me this would be very useful to start charging when electricity is cheap.

[2022-08-16 18:47] mikje commented on #202
Vin is correct, fordpass app on the phone works but if I add the fordpass integration and enter user / pass and vin it says
![image](https://user-images.githubusercontent.com/12999690/184955639-20f12b3a-3630-43c8-ab96-f39e0da1c9ce.png)
the regio is correct (EU)

[2022-08-16 18:48] mikje commented on #202
btw I have no token file in the "custom maps"

[2022-08-17 07:01] mikje commented on #202
![image](https://user-images.githubusercontent.com/12999690/185055325-e3ef4f10-ec4d-4663-8d57-08897291b56b.png)

[2022-08-17 07:33] itchannel commented on #202
@mikje Please add the following to your configuration file and then try adding the integration again.

[code]

This will give debug logging so we can see what is going wrong.

[2022-08-17 07:36] itchannel commented on #176
Make sure the token file in "custom_components/fordpass/{your_username}_fordpass_token.txt" doesn't exist if it does delete the integration and rerun. Failing that please add the following to your configuration and send me the logs generated.

[code]

[2022-08-17 07:49] mikje commented on #202
![image](https://user-images.githubusercontent.com/12999690/185063958-3e364d65-f282-4bc8-bf84-a08d4c6c4601.png)

this is what I find in the logbook. The mentioned token file is not found at the specified location.

[2022-08-17 07:58] itchannel commented on #202
@mikje So that is just the debugger showing the location where the file will be once you've successfully signed in. What do you get after that? There should be more debug logs including the response from the Ford API.

[2022-08-17 07:59] #156 closed

[2022-08-17 07:59] #145 closed

[2022-08-17 08:00] itchannel commented on #151
Closing as been no updates since May. Make sure you restart Home assistant once adding with HACS for the integration to show up.

[2022-08-17 08:00] #151 closed

[2022-08-17 08:01] #150 closed

[2022-08-17 08:02] itchannel commented on #153
This was fixed in a previous release.

[2022-08-17 08:02] #153 closed

[2022-08-17 08:25] mikje commented on #202
I dont get anything after that at least not with the ford filter
![image](https://user-images.githubusercontent.com/12999690/185071433-15863546-82aa-46e7-9264-1654512a4258.png)

[2022-08-18 11:27] JVTEAM opened #207 "Using automations with Fordpass_tracker"
I've been attempting to create automations based on the tracker entering certain zones.   However when I use "Zone" and enters or leaves it never seems to trigger the automation.  Does anyone know the best way to run an automation on this?

[2022-08-19 04:07] rtw819 commented on #207
Having a similar issue with Zone based location checks.  I'm new to Automations, but I've been playing and added a Condition to a couple automations to see if the vehicle is at home, and it results in a failure condition every time.  Yes, there is a Zone defined for "home" (see logbook entries copied below).

YAML portion of the Automation Condition, based on other similar conditions...
[code]

Cl

[2022-08-19 08:44] JVTEAM commented on #207
I've been able to get a little bit of progress on here. I can now trigger home and work but I can't get it to do away for some reason.

I use "State" as the trigger type then put in the fordpass_tracker as the entity.  I can then put "home" or "Work" in the "to" portion.  I did have an epiphany this morning that if I put all those locations in the "from" spot that perhaps it will trigger that way.

[2022-08-19 08:52] itchannel commented on #207
So I use the state as the trigger for mine which works fine. I could never get the zone trigger to work on any of my tracker entities not just Fordpass. But using the state trigger and setting the To field to the zone you want normally works.

[2022-08-20 03:43] DevTodd commented on #163
@J-T-W - I recently called Ford and they reset my password without even asking.  Since I have about 20 automation there was no way in hell I was going to redo all of those so here's the steps to change the information

Disable the FP integration
Restart
make the .storage directory available or cd to it in term
edit core.config_entries
change your username/password/VIN
save
enable the integration
r

[2022-08-20 18:45] woempiej commented on #202
No problems in the Netherlands.
I added the integration 2 days ago.

Your picture shows "Login incorrect". Are you sure you are using the right Fordpass credentials?
Please check the credentials on this website: https://sso.ci.ford.nl/authsvc/mtfim/sps/authsvc?PolicyId=urn:ibm:security:authentication:asf:basicldapuser&identity_source_id=75d08ad1-510f-468a-b69b-5ebc34f773e3&Target=https%3A%2F%2Fsso

[2022-08-20 18:50] woempiej commented on #201
Do you have a backup from before installing the integration?

[2022-08-21 07:15] mikje commented on #201
I don t have a backup  from before installing  the mentioned link gives me
![Screenshot_20220821-004950_Samsung Internet](https://user-images.githubusercontent.com/12999690/185780090-51f30f50-8e76-4788-831a-3cb44349c26e.jpg)

Also from the NL btw

[2022-08-21 07:18] mikje commented on #202
That link gives me
![Screenshot_20220821-004950_Samsung Internet](https://user-images.githubusercontent.com/12999690/185780164-ccc9baf9-2969-4116-bf98-72551ba29afd.jpg)
Also from the NL btw

[2022-08-21 19:11] woempiej opened #208 "Tire pressure"
Hi,

Thanks for this great integration for HA.
I don't understand the below data "STATUS_LOW" because it is incorrect. I wan't to set a message if the tire pressure is low, but it is always low :)

![afbeelding](https://user-images.githubusercontent.com/62903344/185807098-495f5e8b-06cd-49fe-bb43-4f2871f27df9.png)

[2022-08-21 19:33] woempiej commented on #207
Is it an option for you to use the HA person tracker for this? Me and my Wife use the HA app (installed on the mobile phone). I use many automations with this entities in combination with zones.

[2022-08-21 19:41] woempiej commented on #207
![afbeelding](https://user-images.githubusercontent.com/62903344/185808139-39f09e60-e2c7-4de2-b7ed-a6353ae86fe9.png)

[2022-08-21 23:27] JacobWasFramed commented on #207
Can confirm, had the same issue with zones, but utilizing a State condition type and the fordpass tracker entity works without issue for a while now.

[2022-08-22 00:18] rtw819 commented on #207
Please pardon my ignorance, but what attribute and state are you using to accomplish this?

Here is an example that doesn't work (doesn't pass the test):
[code]

[2022-08-22 04:42] austinbeam commented on #176
Thanks @itchannel. I've been away, so apologies for the delay, but attached is a scrubbed log for your reference. In my case, the token file doesn't exist nor does it generate. This has persisted across many reboots and reloads.

Here's what I see on the device config page:
![image](https://user-images.githubusercontent.com/1715252/185840795-e5cc6ce5-91a2-4515-8716-25b69f9e8892.png)
![image](https

[2022-08-22 11:41] JVTEAM commented on #207
trigger:
  - platform: state
    entity_id:
      - device_tracker.fordpass_tracker
    to: Work

[2022-08-24 09:04] DarkWing982 commented on #202
I had the same issue, but when trying to login to the online Ford account I got an error code of CSIAH0320E. Quick Google search got me to the Mach-E forum where it appears that it's due to the API activity being deemed suspicious and the account gets disabled - https://www.macheforum.com/site/threads/unauthorized-api-use-can-disable-your-account.13893/

I've tried emailing fordpass@ford.com to ge

[2022-08-24 20:16] woempiej commented on #208
Can I somewhere setup the "Recommended" tire pressure?
And is there an option to set the Oil status to % ? The fordpass app use the % for oil.

[2022-08-24 20:35] woempiej commented on #208
This is no PSI or kPa but BAR

![afbeelding](https://user-images.githubusercontent.com/62903344/186518277-d9de3b12-6bee-4a23-b616-a9dc1e886ad4.png)

[2022-08-24 22:21] itchannel commented on #208
@woempiej the "STATUS_LOW" value is what is returned by the Ford API. In your situation I don't know why your car is reporting that as the pressures look ok but unfortunately that's a thing with your car not the integration.

I'm confused by your 2nd post. You can set the unit used between psi or kPa in the integration options menu?

[2022-08-24 22:22] itchannel commented on #207
@rtw819 I think your issue is using the zone. prefix when using the state trigger you only need to give the zone name not the entity id e.g. "Work" instead of "zone.Work"

[2022-08-25 05:33] rtw819 commented on #207
Ah, I've been looking for a working Condition not a Trigger, that would seem to be the difference.

One of my use cases where I need the location/condition is:  I would like to make sure all the doors/windows are closed, and the doors are locked at 11pm -- but only if the vehicle state is "Home".  Every combination of things I've tried with the Condition option have not passed the validation check

[2022-08-25 09:32] itchannel commented on #207
@rtw819 This works for me

[code]

[2022-08-25 18:02] woempiej commented on #208
PSI or kPa do not have the same values as BAR. The recommended Tire pressure is based on what?
I can't select the unit BAR.

[2022-08-25 18:04] woempiej commented on #208
For the Oil I found the attribute :)
![afbeelding](https://user-images.githubusercontent.com/62903344/186737372-75864b0d-0ec8-4c8a-a0c5-7dc8f7c3736f.png)

[2022-08-25 18:31] woempiej commented on #202
Try to go to https://www.ford.nl/
Login with your credentials.

[2022-08-25 19:17] mikje commented on #202
THat also results in a Black error screen
________________________________
Van: woempiej ***@***.***>
Verzonden: donderdag 25 augustus 2022 18:31
Aan: itchannel/fordpass-ha ***@***.***>
CC: mikje ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [itchannel/fordpass-ha] Is this integration working for anybody in Europe? (Issue #202)

That link gives me [Screenshot_20220821-004950_Samsung Internet]

[2022-08-25 19:42] woempiej commented on #202
Try another platform, not only "de aangevreten appel" ;P

[2022-08-27 10:52] JayJay-SmartHome commented on #176
Thanks @itchannel
Like @austinbeam , I don't have the token you suggest deleting either.

I'm out at the moment - will see if I can grab a copy of the log.

Thanks

[2022-08-28 20:51] itchannel commented on #208
I'll look at adding BAR as an option in the next release

[2022-09-05 05:21] cyrenaud commented on #141
Howzit! Any progress with support for South Africa. Happy to help in any way, but a bit of guidance may be necessary with Burp if required.

[2022-09-05 10:49] JayJay-SmartHome commented on #176
@itchannel have now got off the web chat with FordPass
They have turned off the FordPass functionality for cars that don't have a 'modem' - bit of a crappy response as my car could get WiFi on the front drive.
This has rendered the addon useless for me - gutted.

[2022-09-05 10:57] JayJay-SmartHome commented on #168
@mhill312 FordPass in the uk have turned off the FordPass API for cars without a'modem' since June 2022.
This may be why you are not pulling info through.

[2022-09-05 11:36] scottiecb19 commented on #168
@JayJay-SmartHome Does this mean that cars built prior to June 2022 with or without a modem should still be able to use this. Because my 2017 Kuga still won't connect.

[2022-09-06 10:57] Arvekari commented on #168
But mine is transit custom 2021 with modem and conenctivity and still i cannot connect

On Sep 5 2022, at 2:36 pm, scottiecb19 ***@***.***> wrote:

[2022-09-17 03:46] austinbeam commented on #176
@itchannel Any insights you can share? I'd sure love to get this working again. Appreciate all you do, have a good one.

[2022-09-19 05:18] rtw819 commented on #207
@itchannel  - Thank you for this...

It turns out that after I had manually added the simple YAML snippet, the dropdown for the Condition editor then allowed me to pick the correct "Home" value, which turned out to be "home" instead.  It seems the tracker location state is case sensitive somehow and doesn't pass the test if it isn't matched exactly, including case.

Here's what I ended up using (f

[2022-09-20 19:19] k1lln1n3 opened #210 "Unable to add fordpass_odometer as a statistic"
I'm trying to use fordpass_odometer to populate a bar graph to show distance travelled per month and map it to energy used from my charger. When I add it to the statistics dashboard, it doesn't show up in the list of statistics. I'm not sure if I'm doing something wrong or its not implemented. Please let me know. Thank you!

[2022-09-21 10:24] Obvpoff commented on #141
Hi,
Just another follow up on if there is any progress on this and or if there is something we can do to help?
Would love to use this integration on my Ranger!

[2022-09-21 18:39] ONE170 commented on #176
I just installed the ford pass integration and got following error. Any ideas what to do?

![image](https://user-images.githubusercontent.com/104277080/191584499-3016fcd4-a3c8-4ba1-8eab-e6a2d83a225d.png)

[2022-09-23 15:01] Calimerorulez opened #211 "Door status 'open', but all doors are locked/closed"
Hi,

I just discovered this nice addon, and I'm trying to get things to work. Curious about the door status, I've locked the car, but the overview says 'open':

<img width="562" alt="image" src="https://user-images.githubusercontent.com/1130552/191991227-61efe64c-91b0-4a66-b596-03dcc5c2e6f2.png">

What does 'ajar' exactly mean? Is that why the overall status is 'open'?

[2022-09-23 15:03] Calimerorulez commented on #211
I've double checked, but the passenger door is really locked and closed.

[2022-09-23 19:13] kroven9 opened #212 "Entity to create button for Trunk and Frunk?"
Hi,

Looking to be able to add a card to make buttons for the open frunk and trunk that are in the fordpass app. Would be really useful because HA allows you to make widgets in android where the fordpass app does not allow you to make widgets. Would be a neat work around for any of the remote access features to have quick access to on my phone.

[2022-10-08 21:09] DrFrankReade commented on #173
Hello, I'll second this report as a bug. Unfortunately I don't know python enough to cast it as a float or int, although I see the conversion to miles, and it's float there obviously to do the math...

[code]
Other values like odometer and number of messages are coming in as numeric.

[2022-10-13 06:18] danyal opened #213 "batteryFillLevel not showing up as sensor"
I added the integration and it pulls many of the values fine but batteryFillLevel is not showing up as a sensor available (my car is an EV).

[2022-10-21 04:30] itchannel commented on #211
Sorry been away for a while. Yeah it will only report Closed if all doors are set to the Close condition. If you keep getting the "Ajar" status then there might be something faulty with your door lock

[2022-10-21 04:31] itchannel commented on #212
I'll have a look at the latest fordpass app and see if I can add in trunk/frunk controls where supported.

[2022-10-21 20:58] Madbeefer opened #214 "Locked out of Ford Account"
I wasn't able to access my ford account at all. I finally got a hold of someone and they said they lock any account that has over 20,000 API calls in a week. I didn't see anywhere to change the interval for API calls.

[2022-10-22 12:58] AlteVerwischteZiege commented on #214
What else do you have that touches your FordPass data?
My utility offers a rebate for 'Off-Peak" charging who's app was refreshing and calling the API every 5 Minutes 24/7 that's 10,080 calls form just one App, before calls from the FordPass app, phone widgets, ect.
Since removing the utilities access, the interval can be attributed to FordPass/widget refresh and the HomeAssistant refresh calls.
!

[2022-10-24 13:52] safehome-jdev commented on #211
I don't think it's only @Calimerorulez door. I get the same prompt on a 2017 Ford Escape with an access point about 15-20 feet away.

[2022-10-27 16:51] Calimerorulez commented on #211
I've noticed, when, like @safehome-jdev , using a fairly remote access point, like at home, I've got the symptoms. When not near an access point (like not at home), the doors are shown as closed.

How does the connection on non-wifi work? Does the car have a builtin modem? I haven't enabled/bought the subscription.

[2022-10-31 05:37] plmcgrn opened #216 "Fuel level shows as 103%"
Not sure why/how this could happen, but my fuel level is reporting higher than 100%.  This is a 2020 F-150 with the extended range fuel tank.

<img width="520" alt="image" src="https://user-images.githubusercontent.com/889547/198938686-ea426950-7abe-4bf3-9975-ea74f48ce38a.png">

[2022-10-31 07:58] itchannel commented on #216
The fuel sender can report values from -5 to 105. As technically you can fill the tank past 100% so you will see the Ford API showing more than 100% if you've just topped your tank up its normal 👍

[2022-10-31 21:42] austinbeam commented on #203
I finally got through to FordPass support and they got back to me today. My account had been blocked, and they are having to manually unblock it. They also told me that this is a one-time thing and subsequently they will not unblock it.

I saw in #214 that they block after 20,000 hits in a week. The person I talked to acted like they don't allow any external access, so I'm not sure what to believe

[2022-10-31 21:45] austinbeam commented on #176
Finally think I got to the bottom of this...details below but TLDR is my account had been blocked and needs manual unblocking. Fordpass doesn't respond to emails, so try calling.

https://github.com/itchannel/fordpass-ha/issues/203#issuecomment-1297721758

[2022-10-31 21:53] austinbeam opened #217 "Feature Request: Forcibly Limit API Calls"
I love this integration, but seems like [Ford doesn't](https://github.com/itchannel/fordpass-ha/issues/203#issuecomment-1297721758). Several of us have gotten our accounts blocked and are now unable to use FordPass at all. They claim to be unblocking mine and I will report back assuming they do, but in the meantime wanted to make a feature request that might help with folks getting blocked.

Would

[2022-11-01 09:48] AlteVerwischteZiege commented on #217
@austinbeam In my case it was a 3d party app sponsored by my electrical utility that triggered the lockout with a refresh call every 5 min 24X7.  As best I can tell you are in control of how often your HA instance demands the refresh.

[2022-11-06 19:28] austinbeam commented on #217
Thanks @AlteVerwischteZiege -- as far as I know, nothing else is connected to Fordpass other than the app itself. All I could figure was I hit it really quickly in repetition during config change / restart cycles or something and caused the lockout, but hard to say for sure. I will make sure I'm not doing anything else to cause issues and hope for the best. Have a good one.

[2022-11-07 11:28] copywizard commented on #176
Hello i have the same problem as described above.
My app works great on my phone and is not blocked (yet)

but in HA i keep getting
![Screenshot 2022-11-07 at 12 07 00](https://user-images.githubusercontent.com/20820085/200299150-2def2f1b-fb9c-48f2-91d2-96afd814e429.png)

Even tried the solution in this threat by deleting the integration multiple times and every time i get a "username"_fordpass_to

[2022-11-17 18:22] BroManDudeGuyPhD opened #218 "Lock status only showing as "unlocked" in Home Assistant"
My sensor in Home Assistant only shows door status as "unlocked" even after successfully locking with the integration.

The sensor also becomes temporarily unavailable right before or after locking. I have a 2017 Escape Titanium

![image](https://user-images.githubusercontent.com/13458477/202527966-ee711e9f-adc4-4cec-8ae5-4fe4210ae4fb.png)

[2022-11-18 19:48] boldrikhun commented on #207
Hi!
I have the same issue, that I raised at [HA Forum](https://community.home-assistant.io/t/fordpass-location-based-automation-error/489159) as well (no response yet):

**So some additional information to this:**

- Studio Code Server says: “String does not match the pattern…”
- Automation condition test says: “Error occurred while testing condition: Unknown error”
- Automation Traces says: “Erro

[2022-11-21 02:31] chester512 opened #219 "Battery Level on 2022 Ford F-150 Lighting"
I can get my range in miles, but is there a way to get the battery level?  The max range varies depending on various conditions.

[2022-11-21 11:42] AlteVerwischteZiege commented on #219
You need to pull this attribute:
[code]

[2022-11-29 02:21] blaine07 commented on #214
For what it’s worth the same happened to me today; my accounts been locked.

Also, see this:

lots of pages:

https://www.macheforum.com/site/threads/unauthorized-api-use-can-disable-your-account.13893/page-11

[2022-11-29 17:25] jansenfd commented on #203
I just got nowhere with the Dutch fordpass support. They even wanted to send me to the dealer to update the and I quote : "G2234484-2.0
Provisionering telematicamodule (TCU)"
But this is nuts, it has to do with the account.

So what I did was completely reset the fordpass connectivity from a reset in my car. And register my VIN to another email adres and bam it worked. This was September 21st.

An

[2022-11-29 18:39] JVTEAM commented on #214
Also locked out today....

[2022-11-29 18:48] JVTEAM commented on #203
Got the same e-mail, now I'm locked out.

[2022-11-29 21:10] itchannel commented on #214
I'd be interested to know if you were using any other apps that use the Fordpass API?

As by default the HA integration only makes a vehicle call every 15mins. Of which that involves at max 5 API requests (Per Vehicle).

- Call to check oauth token
- Refresh or renew if needed
- Get latest Vehicle status from /status endpoint
- Get latest Messages from /messages

So in theory the maxAPI calls it s

[2022-11-29 21:17] blaine07 commented on #214
Link I posted above suggest it isn’t even a number of calls it’s that the request didn’t come from FORD APP. This app is ALL I had setup to do anything with my vehicle. Thanks,Blaine--Sent by carrier pigeonOn Nov 29, 2022, at 15:10, itchannel ***@***.***> wrote:﻿
I'd be interested to know if you were using any other apps that use the Fordpass API?
As by default the HA integration only makes a vehi

[2022-11-29 21:18] itchannel commented on #214
So currently the integration checks every 5mins for status updates. Which shouldn't cause any API issues as that's barely anything but if Ford are making the limit even less then I could add the ability to set your own update interval in the GUI or you can do it manually by editing the __init.py__ files on line 37 and changing the below line to another value in seconds (Keep it more than 300)

[co

[2022-11-29 21:22] itchannel commented on #214
@blaine07 they wanted a physical limit which would be hard to enforce with HA reboots etc. However adding the ability to change how often it updates for each individual user is probably the way forward.

I've been away for a while but will see what I can mock up later today.

[2022-11-29 21:24] itchannel commented on #217
As mentioned in #214 I will add in the ability to change the refresh rate in the options. By default it is every 5mins I would not recommend any lower than this or it will certainly lock your account out. But maybe I should increase the default to 10 or 15mins, thoughts?

[2022-11-29 21:24] itchannel commented on #216
Closing as this is normal operation as mentioned.

[2022-11-29 21:24] #216 closed

[2022-11-30 01:54] ivlis commented on #217
Thanks @itchannel for looking into that. I was locked out of my account today. I'm not using any other apps except this integration. I have two cars in my account, maybe this contributed to a ban. 15 minutes is actually totally fine with me.

Being locked out is not fun because phone as a key stops working as well as Ford Credit payments (yikes)

[2022-11-30 02:53] austinbeam commented on #217
I think the higher default is wise, seems like they’re cracking down. It’s a shame they aren’t willing to work with developers at all and in general are so hard to get in touch with.

I assume you’re talking setting the default at 15 and still having it be configurable, right?

[2022-11-30 04:51] ivlis commented on #217
@itchannel Does having two cars in HA increase API poll 2x?

[2022-11-30 04:54] itchannel commented on #217
@ivlis It does unfortunately but only by an extra 2 requests as the token is already stored if using the same account with both cars on it. It will double the requests though if you use separate accounts as they have different creds etc.

I have 2 cars on my HA and haven't been blocked or limited and I counted the API requests and they were way below the presumed 20k cut off. However I have change

[2022-11-30 05:13] austinbeam commented on #217
@itchannel Appreciate you and all your efforts!

[2022-11-30 07:40] itchannel commented on #218
@BroManDudeGuyPhD Can you send me a screenshot of the "fordpass_doorlock" in developer tools  so I can see the raw status. Also can you give me your status for "fordpass_alarm"

[2022-11-30 09:27] itchannel commented on #217
Latest release (1.39) changes the default poll interval from 5 minutes to 15 to reduce the amount of API calls.

You can also change it in the options if you want it quicker or slower. Just be aware it's set in seconds and anything less than 5mins (300 seconds) could result in a ban.

[2022-11-30 09:28] itchannel commented on #214
1.39 has been released which includes a new default poll interval of 15mins instead of 5 as well as the ability to change this in options.

[2022-11-30 09:30] itchannel commented on #207
This issue has now been resolved in 1.39. It now displays the latitude and longitude correctly which has fixed the automation's not working correctly.

[2022-11-30 09:30] #207 closed

[2022-11-30 09:31] itchannel commented on #210
Statistic support has been added in 1.39 (Latest) for the odometer. so give it a go now.

[2022-11-30 09:31] #210 closed

[2022-11-30 09:33] itchannel commented on #203
Ford seem to be cracking down on API calls. In the latest version I have reduced the poll time to 15mins instead of 5 which will drastically reduce calls to the API.

It's a shame Ford won't interact with developers so we could build an official integration where we know the exact limits and what can/can't be done.

[2022-11-30 09:38] itchannel commented on #173
I don't have an electric car but is the battery fill level a whole number or a decimal?

Once I know I'll fix these two bugs 👍

[2022-11-30 09:43] itchannel commented on #171
Closing as old issue and dotted is no longer used as a library in the integration.

[2022-11-30 09:43] #171 closed

[2022-11-30 09:49] itchannel commented on #135
Old issue and fixed in later releases.

[2022-11-30 09:49] #135 closed

[2022-11-30 12:09] balthisar commented on #214
Locked out yesterday.

- Nothing else is using this API aside from the FordPass app. I don't use third party services and don't give my credential to anyone. This is the _only_ thing I have accessing the API.
- It's running on my own instance on my own hardware in my own house, and not on an AWS instance, not Nabucasa, etc.
- Possibly related to update intervals, I'll offer that I'm connected to t

[2022-11-30 14:09] DrFrankReade commented on #173
Hello,

Battery fill level is a whole integer, no decimal.

ElVehDTE is distance to empty and it has one decimal place - 123.4

Thank you for sharing your work with the community.

Andy Baker

On Wed, Nov 30, 2022, 1:38 AM itchannel ***@***.***> wrote:

[2022-11-30 14:42] jrprinty commented on #214
I woke up to being locked out today.

I do have two vehicles connected through Home Assistant.

I can't believe Ford would do this to us as a paying customer!

@itchannel Thank you for all your work on this integration! It has served my family well over the years, and I hope Ford can pull their heads together and get this fixed for all of us.

[2022-11-30 15:52] serlinGi commented on #214
also to me 2 cars no longer usable with integration; blocked account, error code fordpass app: CAIAH0320E
I was hoping to fix it when I saw that the new update was published 😭

[2022-11-30 16:44] gpf2ez commented on #214
Add me to the list of people locked out yesterday. I also have two vehicles that and I got the same email as above and get the same CAIAH0320E error code when I try to login.

For those that have not done so already please call Ford Customer service at 800-392-3673.  They are taking reports and creating tickets.  They person I spoke to said they have been getting a lot of calls.

My guess is Ford

[2022-11-30 17:06] lannon89 opened #222 "Failed to login"
HomeAssistant: 2022.11.5
Just updated fordpass, now getting 'Retrying setup: None'

Can login to normal app with no issues.

[2022-11-30 17:22] lannon89 commented on #222
User error

[2022-11-30 17:34] jrprinty commented on #214
Well, I just got off the phone with Ford (833-385-0512). They made me delete my FordPass integration from Home Assistant and said it would be 3 to 5 business days before they re-enabled my account.

I'm so pissed off with Ford right now. Their API is publicly available, but now we can't use it.

I will set up a burner account once my Ford account is unlocked and see what happens with that account.

[2022-11-30 19:05] blaine07 commented on #214
They just escalated my case two days ago and haven’t heard anything since. Lady asked me if I deleted whatever and I told her yes but she was just who opened ticket 😩

[2022-11-30 19:19] jrprinty commented on #214
That's not what I wanted to hear @blaine07

I sent a public tweet to Ford but haven't gotten a response from them, and I pointed out the FordConnect API. I doubt it will help in any way, but at least it is more public now.

[2022-11-30 22:00] itchannel commented on #214
Shame to hear so many people are being locked out.

What sucks is it uses the documented api calls to the 3rd party API from the documentation on developer.ford.com which I have access to. At no point does it mention any API limitations or rules. I can only guess they want to go down the paywall route.

Hopefully there might be some transparency from Ford by either working with devs to make 3rd pa

[2022-11-30 22:33] jrprinty commented on #214
I'm going to bring that up when they call, if they actually call me.

I am also signed up with a developer account. Hepefully they have a plan that doesn't involve us losing functionality and having a paywall. This is effecting so many people not just in Home Automation but even with saving money with EVs and thier local electric companies.

[2022-11-30 22:43] balthisar commented on #214
Say, are any of you using a reverse proxy? Or Nabucasa?

I just had a conversation with an IT Security person with an onshore accent, and she asked if I were accessing the API via a VPN. I offered that I was using a reverse proxy, and she indicated that that may have been one of the flags, because there was a high incidence of IP address changes in the traffic.

I'm not going to start analyzing my

[2022-11-30 22:48] gpf2ez commented on #214
I host from a static IP from my house without a VPN or reverse proxy. I honestly think this comes down to a new employee who decided to look at logs and saw a huge amount of hits through the API and rather than looking to see what's going on just started shutting down accounts.

[2022-11-30 23:02] itchannel commented on #214
@balthisar Interesting to hear that they acknowledge HA. Would be nice if someone from Fords dev team reached out so I could work with them to make it nicely compliant and fully supported. We can dream :)  It's either someone from security wanting to limit the amount of exposure or someone from finance who thought "How can we reduce the API request costs lol"

It could potentially be using a VPN b