[2020-11-02 01:13] itchannel opened #5 "Intermittent Scan intevals"
Need to work out optimal scan interval to prevent battery drain and API soft ban

[2020-11-02 02:46] itchannel opened #6 "Requests fail after 30mins"
Underlying python library has an issue where the API rejects after a set length of time. Loading and closing the official ford app seems to get the API working again so must be some token or API check missing. Will need to intercept the mobile app to check

[2020-11-02 05:27] itchannel commented on #6
Underlying python library is broke, have fixed and will push my own version which caches the token and refreshes instead of constant auths

[2020-11-02 10:42] itchannel commented on #6
Will integrate the library directly into this for now as application id is unique to the user when using the correct API for latest fordpass app

[2020-11-03 04:26] itchannel commented on #6
Fixed in latest version, using custom API not the current pypi fordpass (Pull request has been sent to that)

[2020-11-03 04:26] #6 closed

[2020-11-04 00:25] itchannel commented on #5
Set to update every 5mins. (Doesn't currently poll the actual car as caused battery drain for me). In a future version I may change this to poll every x amount but for now just polls on car changes e.g. unlock/lock etc

[2020-11-04 00:25] #5 closed

[2020-11-04 19:59] KTibow opened #15 "Do you want me to add GitHub Actions?"
If you want, I can contribute some advanced CI to your repository in a PR. Let me know if you want that.

[2020-11-05 01:55] itchannel commented on #15
More than welcome to. What actions were you thinking?

[2020-11-05 01:57] itchannel opened #16 "Car update interval"
Hi All. Was just wondering what people think is a suitable interval to poll the car for updates. The current version has the functionality to poll the car and request updates however I have disabled it in the HA integration due to it constantly waking the car up.

I could set it to poll every hour or potentially only when a person arrives or leaves the house to get an update?

Please let me know y

[2020-11-05 02:03] KTibow commented on #15
I was thinking of https://github.com/KTibow/ha-blueprint but I could add the new HACS action if you want instead (it has less features though).

[2020-11-05 02:13] itchannel commented on #15
Looks like a handy action :)

[2020-11-05 08:16] #15 closed

[2020-11-06 01:10] itchannel opened #18 "Config_flow error"
Need to import .fordpass not fordpass

[2020-11-06 05:01] #18 closed

[2020-11-06 21:30] JOHLC opened #21 "Error communicating with FordPass for VINNUMBER"
Hello!

First of all, thank you for this integration. I CANNOT wait to get it working. I have been looking for something like this since I started with HA in April.
I have a '17 Ford Fusion and I am trying to get this integration setup.
Installed via HACS and configured via Integrations but I am getting the errors below.

For the username/PW I confirmed they were correct by signing into Ford's sit

[2020-11-07 00:45] itchannel commented on #21
That is an indication that it was unable to retrieve information from your car from the vehicle status endpoint. It is more than likely that your car doesn't support the features as I don't recall 17 model cars having a modem on board to relay information.

However I'll add some debug functions later today and get you to update and enable debug mode for me so we can see exactly what is returned to

[2020-11-07 01:20] JOHLC commented on #21
I've confirmed my car doesn't have a modem. I gets vehicle health reports through ford pass applink and that's about it. Only connects to wifi for sync updates. Guess I'll have to trade it in and get a newer model lol.

Cheers.
________________________________
From: itchannel <notifications@github.com>
Sent: Friday, November 6, 2020 7:45:22 PM
To: itchannel/fordpass-ha <fordpass-ha@noreply.github.

[2020-11-08 09:29] kacpersaw opened #22 "Windows status"
Here you go, have fun :see_no_evil:

[code]

[2020-11-08 11:03] itchannel commented on #22
Thanks 👍

[2020-11-08 17:51] #22 closed

[2020-11-13 19:49] carlosvroque commented on #21
I've added the custom component and had the same "problem". I guess my car only sends the data to the app, it's shame.

Still, great idea and I'll keep watching the development.

[2020-11-19 01:30] pinballnewf commented on #21
I;ve a similar problem, and my vehicle definitely supports the functions - it DID work for a little while, but has gone 'unavailable' and the HA error log has many Error communicating with FordPass for <VIN> errors.
Is there any way to enable debug to see what's going on?

[2020-11-21 05:07] pinballnewf commented on #16
Might be a good idea to create a service.refresh to allow automations to decide when to refresh - that way it could be refreshed whenever makes sense for each user

[2020-11-21 07:02] itchannel commented on #16
That's the plan for the next release. That way you can either have it on a schedule or have it triggered by something else like arriving home.

[2020-11-21 07:03] itchannel commented on #21
It's because I haven't added in any code to run the refresh command as I removed it due to significant battery use. The next version I'll be adding debugging and a service function that can be called in home assistant to poll the car when required so people can choose.

[2020-11-21 09:55] itchannel commented on #16
Have now added the fordpass.refresh_status service which will poll the car for an update. It is recommended this is only polled on actions such as arriving home or a manual/timed event. As it will result in batter drain if ran too often.

[2020-11-21 09:55] #16 closed

[2020-11-21 09:56] itchannel commented on #21
Refresh has now been added to the code. I recommend creating an automation that runs the "fordpass.refresh_status" service on set intervals or events such as arriving home. That way it won't drain the battery. I'm still working on debug but that should resolve the issue for now that @pinballnewf was experiencing with outdated data.

[2020-11-21 09:56] #21 closed

[2020-11-21 20:09] tonesto7 opened #24 "Allow Selection of Imperial vs Metric Units"
Thanks very much for your work.
Can you please add an option to allow for imperial units for fuel and mileage?

[2020-11-21 20:15] WantedLange opened #25 "Round numbers on fuel"
Hi!
Can you make the sensor for fuel round the numbers?
Now it reports 5 digits.

Maybe also add a sensor for mileage left seperate?

[2020-11-21 20:18] pinballnewf opened #26 "500 error after several hours"
Component becomes unavailable after several hours.  Opening the app on the phone and refreshing the vehicle fixes this for a few hours but it comes back. [VIN Redacted]

'vehiclestatus'
500 Server Error: Internal Server Error for url: https://usapi.cv.ford.com/api/vehicles/v4/1F***********8/status?lrdt=01-01-1970+00%3A00%3A00

Logger: custom_components.fordpass-ha
Source: custom_components/fordpas

[2020-11-21 23:54] itchannel commented on #24
Definitely something I'll look at adding, trying to work out if there's a way I can pick the region up from home assistant to be automatic.

In the meantime you can add a template sensor to convert to miles then just reference that sensor like below:

`- platform: template
  sensors:
    fordpass_odmiles:
      friendly_name: "Ford Odometer Miles"
      value_template: "{{ (states('sensor.fordpass

[2020-11-22 00:04] itchannel commented on #25
Hi @WantedLange, I will add it so it rounds out the fuel number again in the next update. The reason I changed it as I'm not fully convinced that number is Litres and might be more like a percentage value. However until I've acccumulated more data from my car I've left it as is.

If you want to add in a sensor for mileage/km left then you could add something like below to your config sensor sectio

[2020-11-22 00:10] itchannel commented on #26
@pinballnewf When this occurs can you try running the service "fordpass.refresh_status" and see if it updates correctly. As this should repoll the data from the car.

It shouldn't really expire the data like the error your getting as long as your using the fordpass python module that comes with the integration as it checks and refreshes the token to avoid any 500 errors. Can I confirm you haven't

[2020-11-22 04:33] TRusselo opened #27 "fordpass_gps should be device_tracker not sensor."
Im still learning myself, but i think

Fordpass_gps should be a device_tracker not sensor.
this will allow it to be set as a "tracking device" for "people",  and the status should show as a location, rather than "unshifted"....  ( I assume)

EDIT
dont change. ADD. no reason cant have both.

[2020-11-22 04:39] TRusselo commented on #24
home assistant uses User Locale (Language) to set other region specific settings, it is a per-user setting...  in HA click your user icon in sidebar.

But it would screw us Canadians...  we use English (US) in home assistant as there is no English (CA).
There is an English (GB) but due to the recent update to Home Assistant Calendar integration, if you have English (GB) selected as language, it no

[2020-11-22 04:42] TRusselo commented on #26
Ford has been experiencing issues with their service lately and are working on fixing it.

My phone app has been unreliable for being able to communicate with my vehicle the past 2 weeks.
2 days ago in the android app, it popped up with a message that they are working on it.

[2020-11-22 04:50] TRusselo commented on #25
lol  its hard to tell the difference between a 95 Liter tank and 100 % full....
my work van is 95 liters (25.1 gallons on spec sheet)

[2020-11-22 05:00] TRusselo commented on #27
you might also get an actual location address with geocoded_location attribute on the sensor device type.
but please look into adding device_tracker device type for presence detection (home/away status)

[2020-11-22 05:25] thisisbenwoo opened #28 "How can I help?"
Hi @itchannel, sorry for the roundabout way of reaching out. I couldn't find anywhere how I could just drop you a quick note. I'm REALLY excited about this integration, and wanted to offer myself to help with testing, or documentation. I am an enterprise IT marketing strategist by trade, but a geek by night. My programming capabilities are minimal, but anything else I can do to support. I always k

[2020-11-22 06:19] pinballnewf commented on #26
Hey @itchannel ,
My HA instance runs in docker, so it's unlikely that the original fordpass.py library would be loaded, I DID check the host machine for it nonetheless - it's a good call because i had been messing with that library - but it wasn't on the host either.
It's still happening, and the fordpass.refresh does NOT bring it back.  Opening the app though brings it back every time.
Anything e

[2020-11-22 06:43] TRusselo commented on #26
My HA is running in docker on Unraid.
fordpass working just fine with the HACS installation for me

[2020-11-22 10:59] petheridge commented on #26
Hi @itchannel I appear to be experiencing a similar issue. Installed package via HACS. After several hours the entities go unavailable. The FordPass.refresh_status service does not seem to bring it back, opening the FordPass app brings it back.

`2020-11-22 10:41:38 WARNING (MainThread) [custom_components.fordpass] 401 Client Error: Unauthorized for url: https://usapi.cv.ford.com/api/vehicles/v4/W

[2020-11-22 11:26] itchannel commented on #26
@petheridge @pinballnewf next time it becomes unavaliable can you restart your home assistant and tell me if it comes back.

During testing I had this exact issue which came down to the app making a secondary call to another API endpoint after login which fetches the refresh token to be used. I've emulated this functionality but I wonder if for some reason on your setups it's not getting this refr

[2020-11-22 11:32] itchannel commented on #27
I'll have a look into adding a device_tracker but the docs aren't the best in the world so may take a little time to get my head around it.

For now it should show on the MAP and work like a tracker, the only difference is the "SHIFTED" / "UNSHIFTED" which is an attribute pulled from the FORD API which I agree can look a little weird so would be nice to have home/not_home

[2020-11-22 11:39] itchannel opened #29 "Add device_tracker entity"

[2020-11-22 11:41] itchannel commented on #28
Hi Ben,

Glad your enjoying it. It's very much a side project as like you I wanted to be able to control my car and get updates like my fuel level before I leave the house. If you can keep an eye out for any bugs you might experience and let me know that would be great. If your up for it I will need some beta testing once I've finished the latest update adding/fixing some of the reported features.

[2020-11-22 13:25] itchannel commented on #29
Added in active_dev branch will merge after I've added options enhancement

[2020-11-22 15:49] TRusselo commented on #26
Happening to me too now.   I was restarting HA 100 times yesterday as I updated things.

Home Assistant Core - running on Unraid Docker
Version 118.0
old version from pip ? no
Canada
Opening the app AND clicking "refresh info" on my vehicle fixes it yes.

[2020-11-22 15:51] petheridge commented on #25
@itchannel Im sure the fuel level shown in home assistant is should be % (mine at least). ![image](https://user-images.githubusercontent.com/30731128/99908374-43633580-2cda-11eb-8047-d4a6db32f491.png)![image](https://user-images.githubusercontent.com/30731128/99908380-4827e980-2cda-11eb-95d8-2747131cb0f3.png) Fiesta has a 45L tank.

[2020-11-22 15:51] TRusselo commented on #27
Home/Away status is only available with a Device Tracker that has been added to a person.
you can only link a device tracker to a person, not sensors.

But yes i have the sensor showing in a map card.... when its not "UNAVAILABLE" from the other issue.

[2020-11-22 15:55] TRusselo commented on #25
according to google the ford fiesta 2019 has a 12.4 Gallon / 47 liter fuel tank capacity.

[2020-11-22 16:24] petheridge commented on #26
@itchannel
Install is Home Assistant Supervised but in docker - RPi4.
Version 0.118.0
Not installed the FordPass lib via PIP ever.
Country - UK
Become unavailable 20 minutes ago.
Called FordPass.refresh_status first, waited 10minutes - still unavailable
Restarted Home assistant - still unavailable.
Opened Ford pass app (did not go to vehicle details screen or request refresh from FordPass app) - e

[2020-11-22 16:29] petheridge commented on #26
Interestingly, entities became unavailable at 16:02, they reappeared 16:20 after opening the FordPass App. Now Fordpass_lastRefresh = 11-22-2020 13:17:07.

Not sure if this helps understand what's going on!

[2020-11-22 16:33] TRusselo commented on #26
it seems to happen after 4 hours of inactivity.

[2020-11-22 17:59] TRusselo commented on #26
I was thinking, in the android app, there is a refresh button...
so there must be a call service...  (i think is the term for it)
perhaps the integration could use that call to check-in every 4 hours
maybe it'll keep the integration alive...

![image](https://user-images.githubusercontent.com/1154815/99911461-ce7c0580-2cb1-11eb-829b-15b084800c30.png)

[2020-11-22 18:09] thisisbenwoo commented on #28
Count me in! I have a 2018 Ford Explorer Sport, and a 2018 Ford Fusion Titanium Hybrid. I just bought a nonda ODB-II dongle as well, don't know if that helps too.

[2020-11-22 19:59] pinballnewf commented on #26
@itchannel
Install is Home Assistant Core in docker
Version 0.117.5
No fordpass lib
Country - Canada

[2020-11-22 20:25] TRusselo commented on #26
hmm was unavailable again...
opened app, update info
shows in Home Assistant again....
but this looks familiar....
![image](https://user-images.githubusercontent.com/1154815/99916228-17d65000-2cc6-11eb-97cd-b59ae1284945.png)
thats not todays date
![image](https://user-images.githubusercontent.com/1154815/99916234-215fb800-2cc6-11eb-8067-c465415a239b.png)
these 2 screenshots were taken 1 minute apa

[2020-11-22 20:26] TRusselo commented on #26
should call this CanadaPass

[2020-11-22 20:33] TRusselo opened #30 "add lock device entity for door locks"
if possible add lock device entity for door locks
lock.VEHICLE_door_lock

[2020-11-22 20:34] arjan-s commented on #25
Fuel shows 103.913776 L for me, while the capacity should be 52 L. The tank is full, so it's probably a percentage, but somehow it can still go above 100%.

[2020-11-22 21:09] thisisbenwoo opened #31 "Install challenges"
I just realized that despite Configuration | Integration showing me I have 2 cars, I actually have no devices or entities. I saw these entries in home-assistant.log:

2020-11-22 13:00:16 WARNING (MainThread) [custom_components.fordpass] 'vehiclestatus'
2020-11-22 13:00:16 WARNING (MainThread) [custom_components.fordpass] Error communicating with FordPass for 1XX2Y3ZZ4ABC56789
2020-11-22 13:00:16 E

[2020-11-22 21:56] itchannel commented on #30
So there is already a door lock entity but I might change the name as it's currently "lock.lock" and would be better as "fordpass_doorlock"

[2020-11-22 21:57] itchannel commented on #31
Can you confirm your car/cars has a build in ford modem. e.g. has door unlock/lock, remote start and status info.

[2020-11-22 21:58] TRusselo commented on #30
yup.. there it is... and it got missed because it didnt contain the word "ford".
Thanks.

[2020-11-22 22:01] itchannel commented on #26
So there is 2 calls in the mobile application one of which refreshes the token and the reason why when you open the app it fixes it again. The python module I created should replicate this by making the two API calls one of which does the refresh as this happened for me originally. However since adding the second call mine has worked fine for the last month without becoming unavailable so I don't

[2020-11-22 22:02] thisisbenwoo commented on #31
Fair question, and yes. I can use FordPass app to start the car from my phone.

[2020-11-22 22:04] TRusselo commented on #26
i do stuff...

[2020-11-22 22:04] itchannel commented on #24
@TRusselo Can you confirm if the number returned for the odometer is in miles or km for you. Ignore the extension just need to see if it returns km for everyone or whether it returns miles instead. Before I go and convert the value.

[2020-11-22 22:05] itchannel commented on #31
Ok. I'll send you a couple of debug files in a bit. If you can run them on a machine with python it will log all the API calls to a text file so I can see exactly what is going wrong for you.

[2020-11-22 22:07] itchannel commented on #25
So I thought it was percentage but don't get how it can be over 100% as it showed 105% on mine when I topped up 🤔

[2020-11-22 22:07] itchannel commented on #25
unless the fuel sender unit gives a raw value and can go over 100

[2020-11-22 22:38] thisisbenwoo commented on #31
Thanks, I just saw that Ford has dramatically change the app, and I guess
reset the connections. Before you go to any trouble, I'll give it another
try after I update everything.
---
*BenWoo* | +1 (212) 724-1188 | *this*is*ben*woo@gmail.com

On Sun, Nov 22, 2020 at 2:05 PM itchannel <notifications@github.com> wrote:

[2020-11-22 23:20] Madseason41 commented on #24
KM for me and I am in the southern U.S. I just came here to figure out how to get fuel and mileage to show in U.S. gallons and miles.

[2020-11-22 23:21] itchannel commented on #26
Anyone experiencing issues can you please download the linked repo [Debug](https://github.com/itchannel/ford_debug) and follow the instructions and send me the log.txt that is created. Happy for you to remove your password etc from the log.txt file. However I need to check the tokens being sent to/from.

Can you please run the file first and it should return a big json of your vehicle status and t

[2020-11-22 23:23] itchannel commented on #24
@Madseason41 Can I confirm that the value you see is KM and not just miles with the KM tag. Trying to check if all regions return the value in KM or whether it returns different depending on region. If it's the same I can just add a conversion function and a nice imperial/metric option but need to check first.

[2020-11-22 23:24] itchannel commented on #31
@thisisbenwoo if you are still having issue can you run the files in this thread "debug" #26

[2020-11-22 23:30] petheridge commented on #25
@itchannel you are correct, raw fuel level calculated by the PCM from the tank float sensors ranges from -5.217 to 105.979 %. Float sensor range 0x0 to 0x3FF(1023), translated by the PCM (1023 x 0.108696) -5.217408 to % and broadcast over the vehicle CAN network. The precise position of the needle or digital fuel gauge is then calculated by the cluster. This has been the standard in Ford vehicles

[2020-11-22 23:34] Madseason41 commented on #24
Ah yes, its actually km. Vehicle has around 74k miles and 119k km is displayed in the custom integration.

[2020-11-22 23:35] itchannel commented on #25
@petheridge Awesome, thanks for that info. I'll get and change it to % in the next update.

[2020-11-22 23:35] itchannel commented on #24
Great. Then I'll add in a Metric/Imperial option to the integration then you can choose how you want it displayed

[2020-11-23 00:11] TRusselo commented on #24
my van dash, ford app and HA all say 2603 KM

[2020-11-23 01:03] thisisbenwoo commented on #31
@itchannel - OK, so stupid rookie mistake not checking that everything was up to date on my end. My Explorer is now a device and entity. Unfortunately, despite being able to see my wife's Fusion Titanium Hybrid in our app, it doesn't show up as a device with entities in HA.

I think this is a FordPass issue. I hate that Ford lumps everything into SYNC3, but not every vehicle has the same set of ca

[2020-11-23 01:03] #31 closed

[2020-11-23 02:30] TRusselo commented on #26
i have already run the first log.  just waiting for it to go offline.
I am so proud of myself for figuring out how to use that once-set-up linux vm...  got all the requisites and the debug installed and working without running to a forum.

[2020-11-23 02:46] pinballnewf commented on #26
Log after failure:
`00:30:26,202 root DEBUG None
00:30:26,202 root DEBUG 1606091426.2028863
00:30:26,206 urllib3.connectionpool DEBUG Starting new HTTPS connection (1): sso.ci.ford.com:443
00:30:27,206 urllib3.connectionpool DEBUG https://sso.ci.ford.com:443 "POST /oidc/endpoint/default/token HTTP/1.1" 200 1277
00:30:27,208 root DEBUG Stage1 Request
00:30:27,208 root DEBUG {'User-Agent': 'fordpass

[2020-11-23 02:58] itchannel commented on #26
@pinballnewf cheers for the output. Next time it expires can you delete the the cached token file /tmp/token.txt and rerun that script it and tell me if it works

It looks like it's not refreshing the token correctly which is strange as it works everytime for me.

[2020-11-23 03:00] pinballnewf commented on #26
@itchannel
Got to say this is the first time i've seen HTTP 402 status.  had to look that one up haha

I deleted /tmp/token.txt and the result is the exact same failure.

[2020-11-23 03:04] pinballnewf commented on #26
Also, I opened the app after the failure and reran [with /tmp/token.txt intact] and it did work.

[2020-11-23 03:06] itchannel commented on #26
Yeah it's the 402 error which is why the multi step token part is in there. Can you delete /tmp/token.txt and then run the command again changing the 1 to a 0.

Also on line 94 of fordpass_new.py change it to read
```                 if self.saveToken == False: ```

That should make the script not save the token and just request a new one every time. Trying to work out why it's not working for som

[2020-11-23 03:07] pinballnewf commented on #26
Ok, i can do that.  I'll wait the two hours for expiry again just to make sure.

[2020-11-23 03:07] itchannel commented on #26
@pinballnewf If you can provide a capture from the app that would be amazing. As I'm replicating my version of the app (Australia) and it all works fine so would be good to compare against another region of the app just incase.

[2020-11-23 03:08] itchannel commented on #26
Just wish I could replicate it on my end, but it performs flawlessly for me in HA and on the test script without expiring lol

[2020-11-23 03:09] pinballnewf commented on #26
@itchannel no worries!  I was actually getting ready to tackle building this integration on my own, but decided to see if anyone had done it and you were much further along than anyone else, so I thank you :-) We'll figure it out.

[2020-11-23 05:18] itchannel commented on #24
Latest version now allows you to set imperial or metric in the options. (Small bug not showing a title for options but still works fine)

[2020-11-23 05:18] itchannel commented on #30
Closing the issue, door lock entity exists and latest version has it renamed to "fordpass_doorlock"

[2020-11-23 05:18] #30 closed

[2020-11-23 05:19] itchannel commented on #29
"fordpass_tracker" has now been added in the latest release

[2020-11-23 05:19] #29 closed

[2020-11-23 05:19] itchannel commented on #27
Added in latest version

[2020-11-23 05:19] #27 closed

[2020-11-23 05:39] TRusselo commented on #26
file:///home/tristyn/Desktop/ford%20debug/ford_debug-master/log.txt
here's my log.
worked first time. failed 2nd

[2020-11-23 08:12] itchannel commented on #26
@TRusselo Thanks for the log at least is shows you and @pinballnewf are having the exact same issue. Can you try doing what I suggested to @pinballnewf . Basically change line 94 to ```if self.saveToken == False:``` and instead of doing 1 at the end of the command do 0. Also deleted /tmp/token.txt. What this should do is force the script to not save or reuse the token and just request a new one ea

[2020-11-23 09:11] #24 closed

[2020-11-23 09:12] itchannel commented on #25
I've now changed it to percentage. The only thing is with those values it will technically report -5% and + 105% depending on the tank but as it's now converted to a float that shouldn't matter.

[2020-11-23 16:38] petheridge commented on #26
Hi @itchannel, below are the logs for the steps you outlined above.

1. First log with everything working fine : [entities okay log.txt](https://github.com/itchannel/fordpass-ha/files/5584230/entities.okay.log.txt)

2. Log file while entities unavailable in HA: [entities unavailable.txt](https://github.com/itchannel/fordpass-ha/files/5584232/entities.unavailable.txt)

`Traceback (most recent call

[2020-11-23 17:39] TRusselo opened #34 "+15 minutes button or service call?"
Is there a way to add 15 minutes to the starter timer?

Not sure if its the same in all markets, but here in Canada, all starters are the same,
Runs for 15 minutes.  Can be started or extended once more before requiring key in ignition.

The fordpass android app has a button to extend the remote start by 15 minutes.  The app will let you use it once before requiring the key to turn in the ignition

[2020-11-23 19:18] arjan-s commented on #26
Same behavior here. It stops working in HA after a few hours, and starts working again by simply opening the FordPass app on my phone,withoit any interaction with HA.

[2020-11-23 19:34] TRusselo commented on #26
Have you updated to new version of integration in HACS?
should have been fixed last night

[2020-11-23 19:53] arjan-s commented on #26
Yes, I'm running 1.0.6, which is the latest as far as I can tell.

[2020-11-23 20:47] TRusselo commented on #26
Mine just went unavailable too. 1.0.6

[2020-11-23 21:38] petheridge commented on #26
Same here about 1 hour ago. also on 1.0.6.

[2020-11-23 21:55] pinballnewf commented on #26
Hey @itchannel ,
a capture of app traffic for you.  I entered the app, then selected the 'details' button and then 'refresh', though not all of that is probably required, it might be beneficial.  I've tampered with the OAUTH tokens and redacted the VIN.  If that causes you trouble let me know and I can send you the original privately.

'GET https://liveassistmobilesdk.liveassistfor365.com/mobile-s

[2020-11-23 22:48] itchannel commented on #26
1.0.6 doesn't fix this bug. @pinballnewf thanks for the packet capture. What's annoying is the refresh flow is identical to the python script which makes 0 sense. The only thing I can think is it's utilising one of the extra cookies but then that wouldn't explain why the HA starts working when the app is opened. In Australia the application makes identical calls to the API but works fine and the r

[2020-11-23 23:03] itchannel commented on #34
Could probably be achieved using a service call. I don't have the option to extend on mine or at least it's never shown up just have start and kill. Would need a packet capture of someone extending the start times so I can figure out what API call it makes.

[2020-11-24 03:48] TRusselo commented on #26
just waiting for it to go offline again....
however not sure if its going to matter, but i switched to hassio supervised docker today...  was on core

[2020-11-24 04:13] TRusselo commented on #26
[log.txt](https://github.com/itchannel/fordpass-ha/files/5587373/log.txt)
downloaded the updated debug and ran with 0 before and after "UNAVAILABLE"

[2020-11-24 04:16] TRusselo commented on #34
you know of an easy way to do that, or should i just start googling?
Say i run it on my work phone,  run something on the same network to capture packets from the network and filter for work phone MAC address or something?

[2020-11-24 04:54] TRusselo commented on #34
i have a tcpdump while i started, and extended the vehicle....  i see the phone IP...  talking to google not much else... 192.168.1.118
[tcpdump.txt](https://github.com/itchannel/fordpass-ha/files/5587496/tcpdump.txt)

[2020-11-24 06:00] pinballnewf commented on #26
@itchannel
I've been messing with this quite a bit today, and it doesn't look like anything to do with OAUTH or tokens.  It seems I must issue the refresh command from the app for the component to become available again.  I stepped through every call the app made, and after completing the refresh [which is 4 API calls] the component became available again.  The component is only making 1 refresh c

[2020-11-24 06:48] arjan-s commented on #26
For me simply opening the FordPass app is enough. I don't have to click anything in it.

[2020-11-24 06:50] itchannel commented on #26
@pinballnewf I originally had this exact issue and opening the app (No refresh needed) was the way to fix it until I noticed the call to /"https://api.mps.ford.com/api/oauth2/v1/token" which I added after login which fixed it for mine. So maybe on your app or vehicle there is another call needed. Be good to see what comes out of your research, unfortunately I'm somewhat stuck without having a non

[2020-11-24 06:55] itchannel commented on #34
tcpdump won't help. Needs you to set a proxy on your phone to point to something like Burp to intecercept the traffic as the app communicates over https. I'll have a look once we've fixed the timeout issue for some people

[2020-11-24 07:09] itchannel commented on #34
If you want to try yourself you can follow this tutorial

https://portswigger.net/support/configuring-an-android-device-to-work-with-burp

[2020-11-24 07:22] petheridge commented on #26
For me also entities unavailable from 1:40am, the FordPass app was open in the background on my iPhone overnight (I did not do a fresh launch), at 7am I switched over to the FordPass app, didn't click anything or refresh from the app. About 3 minutes later the entities were available in HA.

[2020-11-24 17:21] TRusselo commented on #34
its not a big deal, no rush.
I actually found a work around,

start, delay 15min 30sec, start again.

I actually setup an automation to auto start (twice) on days I work by using a calendar event

google_calendars.yaml:
`  entities:
  - device_id: PERSON_work
    ignore_availability: true
    name: Tristyn's Work
    track: true
    max_results: 30
    search: Work`

automations.yaml:
`- id: '1606

[2020-11-25 03:06] pinballnewf commented on #26
@itchannel
I've been messing with this quite a bit today, and it doesn't look like anything to do with OAUTH or tokens.  It seems I must issue the refresh command from the app for the component to become available again.  I stepped through every call the app made, and after completing the refresh [which is 5 API calls] the component became available again.

[2020-11-25 03:13] pinballnewf commented on #26
Well,
I've managed to keep my home assistant connected to Ford for 3 hours now, which is a record for me!  Still to early to tell if it's a bonafide fix or not, but if anyone wants to try.  This will likely only work for people in North America, as the app is broken down by region, and the required field would need to be determined for each.

Here is what I did:

Delete the fordpass integration [t

[2020-11-25 04:57] itchannel commented on #26
Be interesting to see if that fixes it. I did change the application ID to my app ID so maybe your on to something with it being region specific. I believe the APP ID is a the ID of Azure application gateway used for the relevant API.

If it does fix it then I can add an option to enter a Application ID and we will just have to accumulate a list of APP ID's for each region maybe.

Thanks for the b

[2020-11-25 04:58] itchannel commented on #34
Nice little workaround :)

[2020-11-25 05:01] pinballnewf commented on #26
@itchannel been 5 hours now, and still connected, so I'm feeling quite hopeful.  Most I got previously was 2.
Would be nice to have a 'region' option during setup, that way the App-ID [and UA string] can be set appropriately.  So far, we've seen North America and Asia Pacific [assuming thats what the -AP is from your UA]

[2020-11-25 08:03] itchannel commented on #26
Agreed a drop down and associated lookup table would be the nicest way. Only issue is collecting the data set first :)

[2020-11-25 08:13] gijsprins93 opened #35 "No devices/entities are created"
I installed the FordPass integration from HACS and then from the HA integrations. Logged in and filled in my VIN. Yet it doesn't create any devices or entities. 24h has passed now, no errors, but also no entities.

Doesn't it work for my car then perhaps? (Ford Focus 2018 model)
The app on my phone works perfectly.

[2020-11-25 08:19] arjan-s commented on #26
Depending on the size of the regions, I can provide the NL or EU app ID. However, reading back in this issue, I don't immediately see how to do that.

[2020-11-25 09:59] itchannel commented on #26
@arjan-s it basically requires proxying traffic from your phone using something like burp proxy to see the API calls being made. Would be good if we can get a database of common regions together if @pinballnewf reports back that it's still working for him

[2020-11-25 10:00] itchannel commented on #35
What functionality to you have avaliable on your app. I believe that the latest API is for cars fitted with fords new modem which hasn't been out long. However I know America and Canada have had it longer than other regions.

If you can look at your home assistant logs you should see "Failed to connect" or something similar can you check for me.

[2020-11-25 15:20] pinballnewf commented on #26
Still connected this morning without any dropouts, so I'm calling that a success...

[2020-11-25 17:05] petheridge commented on #26
Managed to grab thus using Burb Proxy for the first time...
User in the UK.

User-Agent: fordpass-eu/314 CFNetwork/1206 Darwin/20.1.0
application-id: 1E8C7794-FF5F-49BC-9596-A1E0C86C5B19

[2020-11-25 17:47] petheridge commented on #26
@pinballnewf do you know how to go about deleting the temp token file? Running HA supervised in Docker 🤷‍♂️ I'd like to test the new application-Id overnight.

[2020-11-25 17:50] pinballnewf commented on #26
Yep
`docker exec -it <container name> /bin/bash`

when you get the bash# prompt issue command
`rm /tmp/token.txt`

[2020-11-25 18:02] petheridge commented on #26
@pinballnewf thanks so much for that! - I have added in the EU user-agent and application-id I captured. Now have the integration re-added and working. Will leave it overnight and see if it also works for me.

[2020-11-25 18:55] pinballnewf commented on #26
@arjan-s, looks like @petheridge  has acquired an app-id for the EU if you'd like to try!

[2020-11-25 19:35] arjan-s commented on #26
Awesome! I simply put the EU user agent and application ID in my fordpass_new.py file and restarted my Home Assistant docker container. And behold: the entities started working immediately, without me having to open the FordPass app!
(Yes, I skipped some of the steps, like deleting and re-adding the integration, because I felt that wouldn't be necessary.)
I'll leave it overnight and report back to

[2020-11-25 20:04] pinballnewf commented on #26
Awesome. Yeah the extra steps are likely not needed. I did that trying to
figure out why auth wasn't working before homing in on the /TMP/token.txt
file.  Wanted to make sure I had consistent state after all the messing
around I did.

On Wed., Nov. 25, 2020, 12:35 p.m. arjan-s, <notifications@github.com>
wrote:

[2020-11-25 20:09] arjan-s commented on #26
By the way, `/tmp/token.txt` is an awfully generic name. It would be much better if it was changed to `/tmp/fordpass_token.txt`.

[2020-11-26 03:01] itchannel commented on #26
@pinballnewf nice work. I'll try and push out an update later today with the changes and a list of ID's we know so far. @arjan-s I agree with the token being generic it was something I did quickly and met to go back to change it 👍

[2020-11-26 06:50] petheridge commented on #26
Also still connected 12 hours later!

[2020-11-26 07:10] arjan-s commented on #26
Also still going strong here 12h later!

[2020-11-26 08:28] ObiKaiKenobi commented on #26
Hi all,

just tested @petheridge ´s User-Agent and app-id with my **"german"** focus and since then it is working like a charm (15h until now).
Proir to that change the component went unavailable and just stayed available for 4h after opening FordPass (Pro) App.

Looking good to me and I´ll report back if issue reappears.

[2020-11-26 08:35] itchannel commented on #26
Sounds positive 👍

To confirm APP Id's we have so far are:
Uk/Europe - 1E8C7794-FF5F-49BC-9596-A1E0C86C5B19
Australia - 5C80A6BB-CF0D-4A30-BDBF-FC804B5C1A98
North America & Canada - 71A3AD0A-CF46-4CCF-B473-FC7FE5BC4592

Has anyone got any others?

I'll try and get this pushed tonight failing that tomorrow unless someone else wants to submit a pull request :)

[2020-11-26 15:27] Gadget111 opened #36 "Items become unavailable"
Installs, and works perfectly. However after an hour or so all item become unavailable. Calling the refresh service does not bring them back. Removing the device and re adding works.

[2020-11-26 16:15] petheridge commented on #36
@Gadget111 Issue captured in #26, should be fixed in a day or so.

[2020-11-26 18:36] pinballnewf commented on #35
@gijsprins93 , this is very likely due to issue #26  - I had the exact same problem when i first set this up.

[2020-11-26 18:40] TRusselo commented on #34
The downside is it's twice as much wear and tear on the starter but it's a company lease vehicle so I'm not upset.

[2020-11-27 17:12] emile-bodin opened #37 "Fuel level shows negative number after car off"
Hi ,

Great integration.
I am testing it and found that when the car is turned off, the fuel level drops to a negative number.

![IMG_20201127_180724](https://user-images.githubusercontent.com/2363359/100471878-7858f900-30db-11eb-97f2-89837a2ba254.jpg)

Initially is thought it was because the sensors became unavailable, but after calling the fordpass.refresh_status or refreshing via the ford app t

[2020-11-27 17:22] petheridge commented on #37
@emile-bodin Does the fuel gauge in your FordPass App reflect an empty tank when you vehicle is off? -5% to 105% is the range the vehicle reports. It's odd that it's actively reporting empty when off. I have not had this issue.

[2020-11-27 21:35] emile-bodin commented on #37
I am using 2 separate apps, "FordPass" and "FordPass Pro"
I  the first one there is no fuel information at all, in the pro version the fuel status is "Information not available"

So it seems its somthing that the ford api sends when the car is off.

Might be an idea to "remember" last fuel state, instead of reporting the "information not available" state

[2020-11-27 21:47] thisisbenwoo opened #38 "HA Cloud - Entity exposure"
Just coming back to playing with the integration. One thing I immediately noticed was that when I go to Configuration | Home Assistant Cloud | Alexa | Managed Entities, the following shows up:

![image](https://user-images.githubusercontent.com/45885373/100485959-ec34da80-30b6-11eb-8671-52ed393cf004.png)
![image](https://user-images.githubusercontent.com/45885373/100485973-f6ef6f80-30b6-11eb-97d8-

[2020-11-27 22:01] thisisbenwoo commented on #35
I am having a problem with my second VIN ...
My first one is fine. The second one (my wife's) has no devices or entities:
My car:
![image](https://user-images.githubusercontent.com/45885373/100486487-eb04ad00-30b8-11eb-934c-62e6dfd4664e.png)
My wife's car:
![image](https://user-images.githubusercontent.com/45885373/100486514-02439a80-30b9-11eb-8b2d-4c1c95d7431a.png)

[2020-11-27 22:41] petheridge commented on #38
Good point. Although it does appear (on Alexa) to be disabled on app and by voice by default.

![image](https://user-images.githubusercontent.com/30731128/100487601-6d18c400-3101-11eb-94f8-2118ba45adc4.png)

[2020-11-27 22:53] thisisbenwoo commented on #38
The default action of the FordPass skill in Alexa is to require a PIN. So
that might be something you consider.

---
*BenWoo* | +1 (212) 724-1188 | *this*is*ben*woo@gmail.com

On Fri, Nov 27, 2020 at 2:41 PM petheridge <notifications@github.com> wrote:

[2020-11-27 23:23] TRusselo commented on #36
duplicate https://github.com/itchannel/fordpass-ha/issues/26

[2020-11-27 23:40] itchannel commented on #34
Once someone provides a copy of the API call for extending the timer I can build it in, unfortunately I double checked my app and don't have that ability

[2020-11-27 23:41] itchannel commented on #37
Could you please provide me the following information because as  @petheridge says I also don't have this issue and the car returns the correct fuel amount with the engine off.
* Application Region
* Version of app used
* model year and model of the car

[2020-11-27 23:42] TRusselo commented on #34
Yeah im 3000 km away from my work phone right now. ill look into it when i get home

[2020-11-27 23:44] itchannel commented on #38
So I agree it can be a security issue, however it used the lock type entity for door locks which will automaticly follow the Alex or Google security perms you have setup. It's not something I can set from the integration that I'm aware of.

[2020-11-27 23:44] itchannel commented on #34
👍

[2020-11-27 23:46] itchannel opened #39 "Version 1.0.7"
Coming in the next update:

- Ability to choose region on setup screen (Will fallback to the old ID if not selected or preinstalled)
- Token file renamed to fordpass_token.txt

[2020-11-27 23:52] thisisbenwoo commented on #38
NP.. I wasn't sure if it was something programmable or not. Thanks. Can
close this now.

---
*BenWoo* | +1 (212) 724-1188 | *this*is*ben*woo@gmail.com

On Fri, Nov 27, 2020 at 3:44 PM itchannel <notifications@github.com> wrote:

[2020-11-28 01:08] itchannel commented on #38
Was worth a check.

[2020-11-28 01:08] #38 closed

[2020-11-28 01:20] itchannel commented on #26
If anyone wants to quickly test before I release beta branch is here
[Beta Release](https://github.com/itchannel/fordpass-ha/tree/Region-Beta)

[2020-11-28 01:23] itchannel commented on #35
I'm guessing those are two seperate instances of the integration @thisisbenwoo . Are they using the same fordpass account or different?

[2020-11-28 02:25] thisisbenwoo commented on #35
Yes..
[image: image.png]
Same account though...
Same email/password

---
*BenWoo* | +1 (212) 724-1188 | *this*is*ben*woo@gmail.com

On Fri, Nov 27, 2020 at 5:23 PM itchannel <notifications@github.com> wrote:

[2020-11-28 02:44] pinballnewf commented on #26
@itchannel  it's working here, thx for the credit!

[2020-11-28 02:49] itchannel commented on #35
Can you post a screenshot of your log on startup of the integration so I can see any errors

[2020-11-28 02:57] #25 closed

[2020-11-28 03:25] thisisbenwoo commented on #35
This repeats every few minutes:

2020-11-27 19:01:59 WARNING (MainThread) [custom_components.fordpass]
'vehiclestatus'
2020-11-27 19:01:59 WARNING (MainThread) [custom_components.fordpass] Error
communicating with FordPass for 1XX2X3XX4XXX56217
2020-11-27 19:01:59 ERROR (MainThread) [custom_components.fordpass] Error
fetching fordpass data: Error communicating with FordPass for
1XX2X3XX4XXX56217
2

[2020-11-28 04:19] TRusselo commented on #26
so i installed the beta.... dont know where to set region.
uninstalled integration, reinstalled beta, email, password, VIN,    still not seeing where to set region

[2020-11-28 04:39] TRusselo opened #40 "[Feat. Req.] MDI icons / Better names"
Ford Door Lock
mdi:car-door-lock

Ford Window Position
mdi:car-door

Ford Starter
mdi:key-star

Ford Ignition Status
mdi:key

Ford Last Update
mdi:clock

Ford Odometer
mdi:gauge

Ford Doors
mdi:car-door

Ford Fuel Level
mdi:fuel

Ford Oil Life
mdi:oil

Ford Battery
mdi:car-battery

Ford Tire Pressure
mdi:car-tire-alert

Ford Alarm
mdi:bell

Ford Tracker
mdi:radar

Ford GPS
mdi:radar

[2020-11-28 04:40] TRusselo commented on #40
![image](https://user-images.githubusercontent.com/1154815/100493890-2626d080-30f9-11eb-8b35-93ec18d30e0e.png)

[2020-11-28 09:16] itchannel commented on #26
You will see the drop down during setup, if it's not showing it means hacs hasn't downloaded the repo correctly and your still on the old files. I'm going to make the release live now anyway.

In regards to the refresh interval, I meant exactly that up to the user to add an automation to trigger the refresh service. Some people have it on a timed amount like you at 4 hours and others like myself o

[2020-11-28 09:27] itchannel commented on #40
Icons are a good shout and will add them to the next release.  Naming wise I had issues seting proper names which caused the entity ID's to be set as the name which was weird. When I have 5 I'll look into that again

[2020-11-28 09:28] itchannel commented on #39
Version 1.07 released

[2020-11-28 09:28] #39 closed

[2020-11-28 09:28] itchannel commented on #36
This should have been resolved in 1.0.7. However if it still persists please use issue #26 as mentioned

[2020-11-28 09:28] #36 closed

[2020-11-28 09:29] itchannel commented on #35
@thisisbenwoo please try the new update 1.0.7 which should fix the expiring entities as that was a known issue #26 . However the multiple can one I will need to look into and work out how I can add support for 2 cars.

[2020-11-28 09:30] itchannel commented on #28
Closing this thread, Any support needed please comment on the relevant tickets 👍

[2020-11-28 09:30] #28 closed

[2020-11-28 09:55] petheridge commented on #40
@TRusselo good shout on icons. Just been having a look on mdi and wonder if these for odometer and fuel could be more intuitive?

Ford Odometer
mdi:counter

Ford Fuel Level
mdi:gas-station

![image](https://user-images.githubusercontent.com/30731128/100499150-29ed3e00-315f-11eb-939d-4a23afc64ac6.jpeg)

[2020-11-28 13:37] JanEsders commented on #35
Just updated to 1.0.7 from 1.0.6 (worked fine before, just with the issue of entities becoming unavailable after a few hours). Didn't find a setting to set the region afterwards so deleted the Integration and added my car again with region UK/Europe (living in Germany) but no entities are created for hours now

[2020-11-28 15:29] TRusselo commented on #40
ooohh sweet those are better choices.

[2020-11-28 23:57] itchannel commented on #35
Can you check your HA log please and let me know if you have any errors

[2020-11-29 11:58] JanEsders commented on #35
I would, but today everything works fine. Until now, no "unavailable" as well.

Good work, really love this integration!

[2020-11-29 13:31] ObiKaiKenobi opened #42 "401 Client Error after updating to 1.0.7"
Hi,

After 1.0.6 was running smoothly with "EU App-ID" I just updated to 1.0.7* an now receive the following errors in the log.

[code]

Rolling back to 1.0.6 with manually set User-Agent and App-Id** everything is back online.

*Completly removed intergration and custom component and performed restarts between tests. Used region EU on setup.

**User-Agent: fordpass-eu/314 CFNetwork/1206 Darwin/20

[2020-11-29 13:44] ObiKaiKenobi commented on #42
Just figured it out by my self.

I had to remove the auth-token* and now everything is running after reconfinguration.

*removed both, old and new token:
[code]

[2020-11-29 13:44] #42 closed

[2020-11-29 15:36] ObiKaiKenobi commented on #40
And for cars with remote start feature:

[code]

[2020-11-29 21:44] dacmcbibs opened #43 "Door Lock always shows an "unlocked ""

[2020-11-29 21:44] dacmcbibs opened #44 "Door Lock always shows an "unlocked"

[2020-11-29 21:45] dacmcbibs opened #45 "Door Lock always shows an "unlocked" status"
The entity seems to bounce between unlocked and unavailable , never showing a locked state
- if there is anything I can collect to help troubleshoot let me know

[2020-11-29 23:14] itchannel commented on #45
Have you ran the fordpass.refresh_status service at all? As it won't auto poll the car due to battery drain so it's up to you to set an automation to poll that service depending on how quick you want to poll data from your car otherwise the values won't change.

[2020-11-29 23:14] itchannel commented on #45
![image](https://user-images.githubusercontent.com/5840973/100556216-7b770380-32ec-11eb-9a75-370367c324d0.png)
Try running that and let me know if your lock status updates

[2020-11-29 23:15] itchannel commented on #43
Duplicate #45

[2020-11-29 23:15] #43 closed

[2020-11-29 23:15] itchannel commented on #44
duplicate #45

[2020-11-29 23:15] #44 closed

[2020-11-29 23:16] itchannel commented on #26
Seems like it's now working for everyone. I'll close this issue today unless anyone says differently.

[2020-11-29 23:16] itchannel commented on #35
Awesome, may have just taken a while to refresh your token.

[2020-11-29 23:16] #35 closed

[2020-11-30 00:37] dacmcbibs commented on #45
Yes I have run the refresh status service... , but it still always shows as unlocked:
![image](https://user-images.githubusercontent.com/36335317/100557969-374b1b00-327a-11eb-8335-28e6c59d8623.png)

[2020-11-30 00:42] itchannel commented on #45
Can you look in your HA logs for me and see if there is any error from the fordpass integration. Is it just the lock or are you getting the same issues with the other entities?

[2020-11-30 00:54] dacmcbibs commented on #45
I cleared my logs, and ran a refresh status service call, no errors in the logs.  The status of the other entities is as follows:
alarm - shows error
doorStatus - ways shows open because hood door and inner tailgate door are invalid (because I don't have those I assume :) ) all other doors show valid status of closed
Window position - unsupported

Otherwise the other entities all show valid values

[2020-11-30 01:03] itchannel commented on #45
Can you give me a state for those invalid doors, I can edit the code to disregard them then.

Interesting your alarm shows error.

Out of interest what model and year of car do you have.

May get you to run the debug script which will spit out the vehicle json data as it sounds like your car is different to a lot of others.

[2020-11-30 01:16] dacmcbibs commented on #45
Its a Ford Escape 2018
The state of HoodDoor and InnerTailGateDoor are both "Invalid"
I'd be happy to run the debug script, would you mind pointing me to it? I don't see it in the repository.

[2020-11-30 01:18] itchannel commented on #45
[Debug](https://github.com/itchannel/ford_debug) If you can run that and then send me the contents of the log file minus passwords and tokens.

Don't worrry about putting a region or anything as it only needs a temp token

[2020-11-30 03:01] dacmcbibs commented on #45
Attached is my sanitized log (really just the last line of the log since from the look of it that's all you really need)
Let me know if you need anything else
[log.zip](https://github.com/itchannel/fordpass-ha/files/5613561/log.zip)

[2020-11-30 06:18] SeanPM5 opened #46 "Error fetching fordpass data on 2019 Ford Fusion"
I have a 2019 Ford Fusion Titanium Hybrid / Energi and was excited to try this integration. When setting it up via the config flow I get a success dialog so it appears to authorize fine initially, but then fails to connect or create any entities.

![image](https://i.imgur.com/9Xax0zb.jpg)

My car is in the FordPass app (though I've always used MyFordMobile app before). And after looking at the rea

[2020-11-30 14:17] denperss11 opened #47 "issue with lates version.."
When im running at 1.0.6 everything is working fine.
- But when im update to 1.0.7 vers, i get errors like:

Logger: custom_components.fordpass
Source: custom_components/fordpass/__init__.py:140
Integration: FordPass (documentation, issues)
First occurred: 9.23.22 (246 occurrences)
Last logged: 15.01.31

401 Client Error:
501 server error:

Iv'e tried the guide but 107 dosent work for my EU ford.

[2020-11-30 19:38] denperss11 opened #48 "Missing PHEV status"
Hi.

Im using your awesome work, thank u!
But i only se 12v battery status.
- Can u make it so it states the volts and not just status "Good/Bad"  but ex. "12.3v"
- It also missing the status of the EV/PHEV Battery procent..

Is it possible that u can add this to the next update ?

Really great great job!
Thank u..

[2020-12-01 13:10] itchannel commented on #47
Are you still encountering this issue?

What region did you select for your car? also can you try deleting the integration and deleting /tmp/token.txt & /tmp/fordpass_token.txt then adding the integration to clear all tokens.

[2020-12-01 13:14] itchannel commented on #48
I would need a dump of the vehicle status json to see what values are required for a EV/PHEV as I don't have one.

If you could run the following script on a pc with python and send me the output from the log file minus passwords and tokens I can look at getting it integrated for you [Debug Script](https://github.com/itchannel/ford_debug)

[2020-12-01 13:17] itchannel commented on #46
Can you please run the following debug script on a linux machine or WSL, so I can see the verbose log and figure out why it isn't working for you. Please remove your token and passwords from the log before sending [Debug Script](https://github.com/itchannel/ford_debug)

[2020-12-01 13:22] itchannel commented on #45
From what I can tell it's an issue with your car or compatibility with your car and the latest API as I can see the following for both "lockstatus" and "alarm"

"lockStatus":{"value":"ERROR","status":"CURRENT","timestamp":"11-30-2020 00:44:22"}
"alarm":{"value":"ERROR","status":"CURRENT","timestamp":"11-30-2020 00:44:22"},

where as normally these should be locked/unlocked and Set/notset.

I can a

[2020-12-01 13:59] denperss11 commented on #48
Hi there,

Thank u so much !
I haven't tried that before, could u please quick guide me trough so i can
do it correctly? :)

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virusfri.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4

[2020-12-01 14:04] denperss11 commented on #47
Hi,

Yes im still having this issue.

i'm selecting UK&EUROPE,.

Also i dont have the to files in my temp folder.. ?
- i'm running it at Synology Nas with Hass.io/HomeAssistant

Den tir. 1. dec. 2020 kl. 14.11 skrev itchannel <notifications@github.com>:

[2020-12-01 14:24] dacmcbibs commented on #45
I saw the same when I looked at the log.  Maybe it isn't supported on my car .  I can lock and unlock the car from the FordPass app, but nothing in the app actually tells me the status of the doors being locked or unlocked (I just get a popup that the action was successful)  - there is also no entry in the app for the alarm (which also works ).  Thanks for taking a look.

[2020-12-01 14:46] emile-bodin commented on #37
There were a bunch of communication issues, after applying the code change to reflect Europe and a sync via HA when my car was turned on and the fuel % was shown correctly, and most importantly it stayed ;)

I have upgraded to the newest release and readded the integration (after deleting the tokes) and resynced the status with the car turned on.

Have not seen the issues again.
I think the ticket

[2020-12-01 15:11] itchannel commented on #47
Is that using the docker instance on your NAS? If so you need to interact with the container and delete it from within the container.

[2020-12-01 15:14] itchannel commented on #48
It's pretty much

1. Clone the debug repo
2. Ensure you have python3 installed
3. python3 -m pip install requests json
4. python3 debug.py email password vin 1
5. Log file is created in the same folder as the script

[2020-12-01 15:15] itchannel commented on #45
I would try running the debug script a couple of times over a day or two and see if those two values change in the JSON at all just incase. I know fords API has been very buggy the last 24hrs

[2020-12-01 15:16] itchannel commented on #37
Glad to hear it's working for you 👍

[2020-12-01 15:16] #37 closed

[2020-12-01 18:15] SeanPM5 commented on #46
first try, without quotes on my password (which has special characters)
[code]

second try, same 'vehiclestatus' error as seen in the HA log with not too much more info.
[code]

[2020-12-01 19:34] denperss11 commented on #47
No it dosent use docker. Its a direct install with normal dictionary..

tirsdag den 1. december 2020 skrev itchannel <notifications@github.com>:

[2020-12-01 20:05] TRusselo commented on #48
batteryStatusActual":{"value":13,"status":"CURRENT","timestamp":"11-23-2020 00:57:36"}}

"batteryFillLevel":null,"elVehDTE":null,"hybridModeStatus":null,"chargingStatus":null,"plugStatus":null,"chargeStartTime":null,"chargeEndTime":null,"preCondStatusDsply":null,"chargerPowertype":null,"batteryPerfStatus":null,"outandAbout":{"value":"PwPckOffTqNotAvailable","status":"CURRENT","timestamp":"11-23-20

[2020-12-01 22:05] TRusselo commented on #26
Just went unavailable...

[2020-12-02 00:59] #26 closed

[2020-12-02 01:01] itchannel commented on #46
The second part would fail tbf as it looks like it's unable to log you in complaining about the request. Out of interest what special characters do you have in your password just wondering it's a parsing error my side.

[2020-12-02 01:03] itchannel commented on #47
Can you link me to the install you used, as I can't find any synology installs that don't use docker.

[2020-12-02 02:19] TRusselo commented on #48
for non electric vehicles would also like to see added :
Distance to Empty:  144.3 KM
"fuel":{"fuelLevel":51.304512,**"distanceToEmpty":144.3**,"status":"CURRENT","timestamp":"11-23-2020 00:57:36"}

Battery Voltage : 13 Volts
Battery Status Actual (needs testing to see if this IS voltage or not)
"batteryStatusActual":{"value":13,"status":"CURRENT","timestamp":"11-23-2020 00:57:36"}}

Oil Life - ch

[2020-12-02 03:43] SeanPM5 commented on #46
It's a 14 character password with the two special characters being `>` and `?`

Here is a screen shot showing my car in the FordPass app btw. So seemingly I am logged in with them, but it's not letting me log in with this integration.

![fordpass](https://i.imgur.com/JRpymMu.jpg)

[2020-12-02 08:52] denperss11 commented on #47
Sorry.

It dident see it, i install hassio by a plugin..

But when im lookin at the docker, there is no temp files.
- My docker folder is emty.

Logger: homeassistant.config_entries
Source: config_entries.py:247
First occurred: 30. november 2020 15.58.57 (3710 occurrences)
Last logged: 9.48.57

   - Config entry for fordpass not ready yet. Retrying in 40 seconds
   - Config entry for hue not ready

[2020-12-02 09:01] denperss11 commented on #48
Yes, that looks like the correct data :)

Please add all options both HEV an non HEV dat as listed from TRusselo
<https://github.com/TRusselo>.

Thank u for sharing!

Den ons. 2. dec. 2020 kl. 03.19 skrev Tristyn Russelo <
notifications@github.com>:

[2020-12-02 09:05] denperss11 commented on #48
Is there any one that have time for a remote session to assist me doing the
log file.
Sorry but im not the best with python :(

My skype is: live:denperss11

Den ons. 2. dec. 2020 kl. 10.01 skrev Dennis Aydin <spamdennis2018@gmail.com

[2020-12-02 10:51] itchannel commented on #48
@TRusselo

- distanceToEmpty is already an attribute for the fuel entity so I recommend adding a template if you want to use it to save a lot of entities.
![image](https://user-images.githubusercontent.com/5840973/100863294-1683ff00-34e0-11eb-9332-797ddc2451f5.png)

- Battery voltage I will be adding as a attribute to the battery sensor

- Oil level is already an attribute
![image](https://user-im

[2020-12-02 10:53] itchannel opened #49 "Add token reset function"
Will add a service call to delete all tokens

[2020-12-02 10:58] denperss11 commented on #48
Hello,

If u could add my skype, or other preferred i can give u alle the requested
data from my HEV.

but i need the help by running the python scrip from my win.
- im ready now by my pc.

Or if u could do a small video guide, from your end then i will upload it
right away..

Thank u..

Den ons. 2. dec. 2020 kl. 11.52 skrev itchannel <notifications@github.com>:

[2020-12-02 11:12] itchannel commented on #48
skype: itchannelv2

[2020-12-02 11:21] itchannel opened #50 "Add handler for door status "Invalid""

[2020-12-02 11:22] itchannel commented on #46
@SeanPM5 The script you ran do you have the logfile for me, it has the verbose output of the requests/responses and not just what was printed to the console

[2020-12-02 13:44] denperss11 commented on #48
Sorry i did first see your msg now, but ping me when ready..
ive added you to skype..

Den ons. 2. dec. 2020 kl. 12.12 skrev itchannel <notifications@github.com>:

[2020-12-02 22:31] itchannel commented on #48
Need to add the following:

[code]

[2020-12-02 22:37] itchannel commented on #47
Deleting the token has fixed the issue for @denperss11

[2020-12-02 22:38] #47 closed

[2020-12-03 00:02] SeanPM5 commented on #46
Sorry about that, macOS wasn't giving me a logfile but just hopped on a Linux machine and got it. Hopefully there is something useful in here.

[code]

[2020-12-03 00:27] itchannel commented on #46
402 Error is typically the issue when the Application ID is wrong. Can you do me a favour and open your fordpass app and then rerun the script.

Optionally you could also change the application ID in fordpass_new on line 17 in the debug script to "71A3AD0A-CF46-4CCF-B473-FC7FE5BC4592" which is the ID for North America just to see.

[2020-12-03 02:46] SeanPM5 commented on #46
Here it is after changing the application ID.

[code]

[2020-12-03 07:03] itchannel commented on #46
Can you change the 1 at the end of the command to a 0 and delete /tmp/token.txt then rerun the debug script. It's still using your old token for the different APP id on your latest log

[2020-12-03 21:57] MartyTremblay opened #52 "Missing data points for Ford Expedition"
Noticing a few Ford Expedition-specific data points missing from this awesome component; specifically TPMS is of interest... Dumping my debug output for future reference.

`{'vin': 'XXXXX', 'lockStatus': {'value': 'LOCKED', 'status': 'CURRENT', 'timestamp': '12-03-2020 20:11:48'}, 'alarm': {'value': 'SET', 'status': 'CURRENT', 'timestamp': '12-03-2020 20:11:48'}, 'PrmtAlarmEvent': {'value': 'Null'

[2020-12-03 23:28] itchannel commented on #49
Added in #51

[2020-12-03 23:28] #49 closed

[2020-12-03 23:28] itchannel commented on #50
Added in #51

[2020-12-03 23:28] #50 closed

[2020-12-03 23:30] itchannel commented on #40
New icons have been added in #51

[2020-12-03 23:30] #40 closed

[2020-12-03 23:31] itchannel commented on #48
New entity added called elVeh which shows the current charge status and any attributes like charge time. #51

[2020-12-03 23:32] itchannel commented on #52
Will add TPMS to the 1.0.9 release

[2020-12-04 00:41] itchannel opened #53 "Door Status bug in 1.0.8"
Status check is not working correctly. All doors showing Closed but main Status is open

[code]

[2020-12-04 00:54] SeanPM5 commented on #46
[code]

[2020-12-04 10:15] Afterdark1st commented on #53
I Have the same problem

[2020-12-04 11:36] itchannel commented on #53
Fixed in the latest release #54

[2020-12-04 11:42] itchannel commented on #48
Added in 1.0.8

[2020-12-04 11:42] #48 closed

[2020-12-04 11:44] itchannel commented on #52
Added to #54

[2020-12-05 00:21] #53 closed

[2020-12-05 02:37] SeanPM5 commented on #46
So after contacting Ford over the phone, I was told that electric vehicles are not supported at all in FordPass. I don't think that information is correct as fordpass-ha v1.0.8 mentions EV features, and my car (a PHEV) was indeed in the FordPass app. The customer service rep sounded very confident though.

After the support call I removed the car from my virtual "garage" in the FordPass app and at

[2020-12-05 02:37] #46 closed

[2020-12-05 06:53] itchannel commented on #46
That certainly is strange as I know users with Hybrid vehicles using this integration hence we I added PHEV features from there outputs. Maybe Ford are starting to migrate certain users to a new app. If you ever get to the bottom of it let me know as maybe it's something I need to start supporting down the line.

[2020-12-08 15:24] pbnj4640 opened #55 "Odometer Entity Not Created"
I have all the expected entities available with the exception of the odometer.

https://imgur.com/a/euFIhmc

[2020-12-09 04:31] itchannel commented on #55
Can you please check your Home Assistant log and let me know if you have any errors from the fordpass Integration

[2020-12-09 09:27] itchannel commented on #52
Closing as the feature is now live

[2020-12-09 09:27] #52 closed

[2020-12-09 18:01] pbnj4640 commented on #55
Yes I am. My car (I guess) doesn't support GPS?

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 316, in async_add_entities
    await asyncio.gather(*tasks)
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 507, in _async_add_entity
    await entity.add_to_platform_finish()
  File "/usr/src/homeassistant

[2020-12-09 18:34] pbnj4640 commented on #55
Also device tracker

Error adding entities for domain device_tracker with platform fordpass
Error while setting up fordpass platform for device_tracker
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 316, in async_add_entities
    await asyncio.gather(*tasks)
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py",

[2020-12-10 18:15] MartyTremblay opened #56 "Window Position always shows as "Open""
Attributes for all 4 windows show "Fully_closed_position" but entity state shows "Open"
[code]
Please refer to my JSON ouput found here https://github.com/itchannel/fordpass-ha/issues/52#issue-756622726

[2020-12-11 13:54] itchannel commented on #55
Looks like it. Will add in a check to mark the sensor as unavailable in the next release.

[2020-12-11 13:54] itchannel commented on #56
Thanks looks like your car gives a different window position value that ones I've seen so far so will add in a check for it.

[2020-12-11 14:48] MartyTremblay commented on #56
It's what I've noticed myself. Perhaps a simple Regex will do the trick.

[2020-12-11 16:12] thisisbenwoo commented on #56
BTW, I haven't had a chance to report this, but I have the same issue with
my Explorer

---
*BenWoo* | +1 (212) 724-1188 | *this*is*ben*woo@gmail.com

On Fri, Dec 11, 2020 at 6:49 AM Martin Tremblay <notifications@github.com>
wrote:

[2020-12-12 00:16] itchannel commented on #56
This should be fixed in #57

[2020-12-12 00:17] itchannel commented on #55
I have fixed the two above errors so it now checks to see if your car supports GPS before adding the tracker entity. Let me know if this doesn't fix the odometer issue but hoping now the tracker issue is resolved the script should be fine.

[2020-12-12 00:18] itchannel commented on #45
Closing this issue as the original point has been fixed and there has been no answer from the original author in 10 days

[2020-12-12 00:18] #45 closed

[2020-12-12 14:14] pbnj4640 commented on #55
This solved it! Thanks

[2020-12-12 14:14] #55 closed

[2020-12-12 22:37] jasonAspireWPG opened #58 "Ford Pass stopped working"
The integration was working but since reinstalling HA I can't get integration to work. Below is the log entry.

Logger: custom_components.fordpass
Source: helpers/update_coordinator.py:166
Integration: FordPass (documentation, issues)
First occurred: 4:35:31 PM (1 occurrences)
Last logged: 4:35:31 PM

Error fetching fordpass data: Error communicating with FordPass for 1*********KFB86523

[2020-12-13 02:53] itchannel commented on #58
Did you reinstall HA to the same box?
Has the integration been installed and then getting the error or are you getting that error when trying to install it entering in your details?

[2020-12-13 13:37] theOrakle opened #59 "ValueError: could not convert string to float: ''"
Here is my stack:

[code]

I am seeing the following error on versions 1.0.9 and 1.10, if I revert to 1.0.8 the issue goes away.

[code]

I have not dug into the issue yet, but I'm happy to help debug.

Thanks and love what you have done - much needed!

[2020-12-13 22:19] SeanPM5 commented on #46
I spoke with my Ford dealer about this, and they said the following models cannot use FordPass, and have to instead use the MyFordMobile app:

- Ford C-Max Energi
- Ford Focus Electric
- Ford Fusion Energi Plug-in Hybrid (which is the car I have)

I couldn't get solid information on whether this applied to only specific model years, or whether all EV's would be transitioning to this app. So I don'

[2020-12-15 00:13] itchannel commented on #59
So I believe this is the offending line
[code]

[2020-12-15 00:28] itchannel commented on #56
Closing as this issue has been fixed

[2020-12-15 00:28] #56 closed

[2020-12-15 11:33] paulgbrichardson commented on #56
I am still seeing this issue in 1.10

The State is Open but the attributes read as

driverWindowPosition: Fully_Closed
passWindowPosition: Fully_Closed
rearDriverWindowPos: Fully_Closed
rearPassWindowPos: Fully_Closed

[2020-12-15 11:55] MartyTremblay commented on #56
I'm seeing the same issue as well.

[2020-12-15 13:20] Banzarykey commented on #56
Still getting this issue.

driverWindowPosition
Fully_Closed
passWindowPosition
Fully_Closed
rearDriverWindowPos
Fully_Closed
rearPassWindowPos
Fully_Closed

[2020-12-15 13:25] Banzarykey commented on #37
I seem to bet getting this same issue with 1.10

fuelLevel: -5.217408
distanceToEmpty: 246.8
status: CURRENT
timestamp: '12-15-2020 13:17:10'
unit_of_measurement: '%'
friendly_name: fordpass_fuel
icon: 'mdi:gas-station'

[2020-12-15 18:09] theOrakle commented on #59
My car does support TPMS.

Here is the JSON as requested:

`{'vin': 'ABC123', 'lockStatus': {'value': 'LOCKED', 'status': 'CURRENT', 'timestamp': '12-12-2020 18:12:34'}, 'alarm': {'value': 'ACTIVE', 'status': 'CURRENT', 'timestamp': '12-12-2020 18:12:34'}, 'PrmtAlarmEvent': {'value': 'Null', 'status': 'CURRENT', 'timestamp': '12-12-2020 18:12:34'}, 'odometer': {'value': 72861.0, 'status': 'CURRENT

[2020-12-15 18:13] theOrakle commented on #59
I updated my VIN, Lat, & Long to protect the innocent...

As far as TPMS - it looks like the answer is "sort of", but the JSON explains why it always thinks my windows are open as well.

![FP_TPMS](https://user-images.githubusercontent.com/37029980/102254701-9a6dbc00-3ece-11eb-811c-f3d97dbebb59.png)

[2020-12-15 23:29] itchannel commented on #59
Ok it looks like your car doesn't actually give the tyre pressures which is why it's erroring. I will have to add a check to ignore tyre pressures with the none object the rest will return 0. Although I do wonder if down the line your car might actually give tyre pressures as it responds with "0" for some rather than None.

I can fix the windows issue, I've come across a number of different window

[2020-12-16 10:26] itchannel commented on #59
Should be fixed in the latest update #60

[2020-12-16 13:25] theOrakle commented on #59
Error is gone.  Thank you.

Window still shows as open, but let's see what others get in their status as I'm sure when more people find the integration, you get a bigger picture and I may be an anomaly.

[2020-12-16 13:25] #59 closed

[2020-12-17 08:30] degrashopper opened #61 "Invalid authentication"
When i try to login with mij fordpass credentials and VIN number i instantly get the message that the authentication is invalid.
Fordpass is working with these credentials on my phone.

Could it be that the integration can't handle special characters in the password?

HA 2020.12.0

[2020-12-17 09:02] itchannel commented on #61
Can I ask what special character you are using as I have special characters in mine working ok.

[2020-12-17 09:05] degrashopper commented on #61
Yes you can. these are the characters #&^

[2020-12-17 10:44] itchannel commented on #61
I've just changed my password to contain those symbols and it works fine.

Can you double check your VIN and credentials is correct. Failing that you could run the debug script and look at the log file to check the response from the authorisation API as it will tell you what is wrong [debug](https://github.com/itchannel/ford_debug)

[2020-12-17 10:51] Afterdark1st opened #62 "fordpass_windowPosition"
My card reports windows Open, but on focus all windows report Fully closed

Loving the integration thx for all your hard work

[2020-12-17 10:59] itchannel commented on #62
Can you let me know the exact value it says under the attributes. Is it "Fully_Closed" or something different?

[2020-12-17 11:10] itchannel commented on #62
Don't worry I've identified the issue and should be fixed in 10mins

[2020-12-17 11:19] itchannel commented on #62
Should be fixed in #63

[2020-12-17 11:19] degrashopper commented on #61
@itchannel my password was not correct... I requested a new password and now it works!! Thanks for your support and sorry for the inconvenience.

[2020-12-17 11:19] #61 closed

[2020-12-17 15:30] MartyTremblay commented on #56
Fixed in #62  and released #63

Thanks!

[2020-12-17 17:27] pbnj4640 commented on #58
I am seeing some similar results. I have not done any new installations.

Logger: custom_components.fordpass
Source: custom_components/fordpass/__init__.py:162
Integration: FordPass (documentation, issues)
First occurred: 12:20:05 PM (7 occurrences)
Last logged: 12:24:04 PM

Error communicating with FordPass for 1********LGC06114

V. 1.10 was good, since then, I am seeing this issue. If I interact

[2020-12-17 17:43] jasonAspireWPG commented on #58
It was installed on the same Synology Diskstation using Docker. Would it be
the move from Hass.Io to the official HA docker image?

The installation was working perfectly until this change

On Sat, 12 Dec 2020 at 20:53, itchannel <notifications@github.com> wrote:

[2020-12-17 18:07] degrashopper opened #64 "401 client error every so many minutes in logging"
Every so many minutes i get the following 3 error messages in the logging:

- 401 Client Error: Unauthorized for url: https://usapi.cv.ford.com/api/vehicles/v4/VIN/status?lrdt=01-01-1970+00%3A00%3A00

- Error communicating with FordPass for VIN

- Error fetching fordpass data: Error communicating with FordPass for VIN

clearing the tokens dit not help.

Running version 1.12 and ha 2020.12.0

[2020-12-17 23:31] explosivo22 commented on #64
I am getting the same thing since upgrading home assistant. I am running 1.12 and 2020.12.1. I didn't notice this until after an install of the 2020 version of home assistant.

[2020-12-18 01:25] itchannel commented on #64
So I don't appear to be having the same issue on mine running the latest home assistant update.

Is this causing any of the fordpass entities to become unavaliable or is it just showing up in the log?

[2020-12-18 01:26] itchannel commented on #62
Closing this issue as it has been verified as fixed in another issue #56

[2020-12-18 01:26] #62 closed

[2020-12-18 01:27] itchannel commented on #58
Can I confirm you have both selected the correct region for the application. As the app dropping etc is a result of the region not being set correctly ?

[2020-12-18 01:29] explosivo22 commented on #64
Mine were all showing offline or unavailable. I tried clearing out fordpass and starting from scratch and now I have no entities.

[2020-12-18 03:23] explosivo22 commented on #64
I am also getting the following in my log
`Logger: homeassistant.config_entries
Source: config_entries.py:247
First occurred: 9:07:25 PM (31 occurrences)
Last logged: 9:22:03 PM

Config entry for fordpass not ready yet. Retrying in 10 seconds
Config entry for nest not ready yet. Retrying in 80 seconds
Config entry for fordpass not ready yet. Retrying in 20 seconds
Config entry for fordpass not rea

[2020-12-18 06:47] degrashopper commented on #64
All related entities go 'unavailable' for exactly 5 minutes. You can see that in the history of the entities.

[2020-12-19 14:02] denperss commented on #48
Hi,
Could u check skype ? :)

[2020-12-19 14:03] denperss opened #65 "Issue after updating to lates vers.."
Ive got a issue after updating to the lates version..
Can u check Skype ?

[2020-12-19 16:21] jasonAspireWPG commented on #58
I can confirm that. I reinstalled it and ensured it was set to North
America and Canada

On Thu., Dec. 17, 2020, 7:28 p.m. itchannel, <notifications@github.com>
wrote:

[2020-12-20 01:54] itchannel commented on #64
Does your HA install have enough system resources as you both say this happened with the latest version update to HA? I've seen config errors before in HA and it's usually caused by underpowered VM/Server.

The underlying code for the fordpass integration has only changed some minor functions so wouldn't be the cause of the errors you are now experiencing.

[2020-12-20 01:55] itchannel commented on #58
I'll install a copy of the HA docker image today/tomorrow and have a play to check as a couple of people seem to have issues with the latest docker image from HA.

[2020-12-20 02:01] explosivo22 commented on #64
![SmartSelect_20201219-200051_Home Assistant](https://user-images.githubusercontent.com/809080/102703478-e86b2280-4234-11eb-8a81-2c3da7c219be.jpg)
This is what mine looks like right now

[2020-12-20 02:08] itchannel commented on #64
Out of interest what docker install type are you using

- hass.io
- Official Docker Image
- Custom install

Just trying to narrow down what might be causing it for some people.

[2020-12-20 02:13] explosivo22 commented on #64
![SmartSelect_20201219-201230_Home Assistant](https://user-images.githubusercontent.com/809080/102703605-8ca19900-4236-11eb-92ff-cdd4067c746a.jpg)
Should be hass.io on raspberry pi3.

[2020-12-20 03:39] itchannel commented on #58
So I can't even sign in using the HA docker image and the integration. It appears to be an issue with the python libraries installed on the latest docker image as it's causing URL's to timeout

``` requests.exceptions.ConnectionError: HTTPSConnectionPool(host='api.mps.ford.com', port=443): Max retries exceeded with url: /api/oauth2/v1/token (Caused by NewConnectionError('<urllib3.connection.HTTPSC

[2020-12-20 03:45] itchannel commented on #58
So I can fix the issue by entering the docker container and changing the DNS server in /etc/resolv.conf to point to 1.1.1.1 or some other DNS server. So it seems like a docker issue. Can anyone else who is having issues try that for me.

[2020-12-20 03:52] itchannel commented on #58
The docker image from HA seems to have dns issue from what I can tell. So not something I can fix from my end as hardcoding an IP is a bad idea considering the fordpass API uses Azures APP gateway

![image](https://user-images.githubusercontent.com/5840973/102704707-a2f93480-42ca-11eb-9778-8994cbb980a2.png)

[2020-12-20 03:54] itchannel commented on #64
Your issue might be similar to #65 it seems the latest version of HA causes DNS resoloution issues. Or at least from my testing. Can you try changing your DNS server in /etc/resolv.conf to something like 1.1.1.1 or 8.8.8.8 and seeing if the problems go away.

[2020-12-20 04:12] explosivo22 commented on #64
I am actually sending my whole network to 1.1.1.1 with 8.8.8.8 secondary. I will try changing it directly on the box though.

[2020-12-20 10:58] degrashopper commented on #64
I am running hassio supervised on a ubuntu machine with more then enough resources left. I think it has something to do with a token that expires after 3600 seconds. between the last 2 unavailable sessions it was exactly an hour.

[2020-12-21 01:50] itchannel commented on #64
@degrashopper Try manually deleted fordpass_token.txt in /tmp. Also what region are you in as the token expiring after an hour could potentially be you having the wrong application ID. As I can only collected what people give me so we may need to collect a different app id for you.

[2020-12-21 01:58] #65 closed

[2020-12-21 06:19] degrashopper commented on #64
In the hassio tmp folder the fordpass_token.txt is not present. Or do you mean a different /tmp folder. Where is the /tmp folder located? I am in the europe region. Where can i see the application id i use?

[2020-12-21 09:50] degrashopper commented on #64
I think I figured it out.

I checked the code and it tries to execute os.path.isfile("/tmp/fordpass_token.txt"). On a supervised system i don't think the application has the rights to do so. The file needs to stay within the persistent data file path (usually the homeassistant /config folder) so that the homeassistant container can reach it.

Now the integration can't read the file and tries to co

[2020-12-21 15:11] degrashopper opened #66 "Kpa instead of PSI when UoM Metric is selected"
When you select the UoM "metric". You should also see the tire pressure in kilopascal. Kilopascal is the standard metric unit for pressure.

The api sends the pressure data allready in kilopascal so you don't have to convert them when metric is selected.

[2020-12-22 09:21] oggioniale opened #67 "installation issue"
I try to install this add-on in my HA system (information below) but I obtain this error: "Invalid Add-on repository!"
![Screenshot 2020-12-22 at 10 11 30](https://user-images.githubusercontent.com/1393893/102871804-2b004b00-443f-11eb-9c95-64208c0a0c72.png)

## System Health

version | 2020.12.1
-- | --
installation_type | Home Assistant OS
dev | false
hassio | true
docker | true
virtualenv | fals

[2020-12-22 09:59] degrashopper commented on #67
You are in the wrong spot. You try to add it as an addon in the supervisor addon store. Install it via the HACS integration.

[2020-12-22 10:25] oggioniale commented on #67
sure I was in the wrong spot!

[2020-12-22 10:25] #67 closed

[2020-12-24 10:03] degrashopper commented on #64
I have changed the /tmp/ path to /config/custom_components/fordpass for now and the problem is solved.

[2020-12-24 14:09] degrashopper commented on #64
Changing the /tmp/ path only made the file visible but did not fix the problem with the 401 error.

[2020-12-26 20:32] horfic commented on #64
Hi,
i also get during the https://usapi.cv.ford.com/api/vehicles/v4/VIN/status?lrdt=01-01-1970+00%3A00%3A00 call for region EU&UK a status 401 with $id = 1.

never got it working for my VIN, vin is correct as i can read vehicle capabilities and also vehicle details per rest.

does somebody got an idea?

[2020-12-28 03:34] jimmychanga opened #68 "Rear windows report incorrectly"
Current version: 1.12
2019 Ford Edge ST

DriverWindowPosition
Fully_Closed
PassWindowPosition
Fully_Closed
RearDriverWindowPos
Undefined
RearPassWindowPos
Undefined

[2020-12-28 23:54] itchannel commented on #64
I think the issue you guys are having is the region is different to the 3 I have so far. The only way to troubleshoot that would be to get you to proxy traffic between your local fordpass mobile app and the ford API. That way I can update the application ID for you.

A quick test is to open the fordapp and refresh the data, then try the fordpass integration and see if it works for an hour.

[2020-12-28 23:54] itchannel commented on #68
Do you have rear windows in your car?

[2020-12-28 23:57] itchannel commented on #66
I'll have to have a think about how to implement this as I prefer it to read in "PSI" for metric hence why it does it :)

However I can look at adding an individual option potentially if people would prefer it matching correctly.

[2020-12-29 13:25] degrashopper commented on #64
I use an android 10 device and catching https traffic with an added certifcate wont work. After android 7 the system ignores added certificates.

The problem here is not the applicationID. The requests work but during the token renewal it goes wrong for some reason. I have checked some request with postmen.

The url's for requesting the first en second token works. the refresh url https://api.mps.

[2020-12-29 17:34] jimmychanga commented on #68
Well yeah, it’s why I’m reporting it :)

It’s a SUV.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: itchannel <notifications@github.com>
Sent: Monday, December 28, 2020 6:54:45 PM
To: itchannel/fordpass-ha <fordpass-ha@noreply.github.com>
Cc: jimmychanga <joemarr_intek@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [itchannel/fordpass-ha] Rear win

[2020-12-29 18:46] horfic commented on #64
the following works for me
* GET https://sso.ci.ford.com/oidc/endpoint/default/token
* PUT https://api.mps.ford.com/api/oauth2/v1/token
* PUT https://api.mps.ford.com/api/oauth2/v1/refresh
* GET https://api.mps.ford.com/api/users/vehicles
* GET https://api.mps.ford.com/api/users/vehicles/{vin}/detail/
* GET https://api.mps.ford.com/api/capability/v1/vehicles/{vin}

* GET https://usapi.cv.ford.com/

[2020-12-29 22:19] itchannel commented on #64
What country are you using the application in?

That error is usually application/client ID related the "Uk/Europe" one is an application ID provided by a user on here and may not be applicable to all European countries (However it does work for quite a lot of users). I only have the Australian version of the application to work from. The best way is to use a proxy like "Burp" to intercept the cal

[2020-12-29 22:23] itchannel commented on #64
The application ID is normally the cause of the 300second issue, does reopening the fordpass application on your phone and refreshing bring the entities in HA back online again? As this issue seems very similar to #26

What country/appstore are you getting the application for I have a Android 10 device running Magisk and custom CA certs so can intercept if I can get hold of your version of the And

[2020-12-29 22:30] itchannel commented on #68
Out of interest are they electric windows in the rear of your car? Also are those the only window values you seen when viewing the window entity. As it looks like your car can't give readings for the rear windows. I can add "Undefined" to the filter so they will no longer report as "Open"

[2020-12-29 22:36] jimmychanga commented on #68
Yes, they are electric.

As of the latest version, the front windows report the correct status and the rear windows report undefined.

In the previous version, all 4 windows showed as Open.

Joe Marr
C: 704-773-1985
E: joe.marr@bodiddely.com<mailto:joe.marr@bodiddely.com>

From: itchannel <notifications@github.com>
Sent: Tuesday, December 29, 2020 5:31 PM
To: itchannel/fordpass-ha <fordpass-ha@nor

[2020-12-29 22:53] itchannel commented on #68
The previous version didn't take into account the status of "Undefined" where as the new one does. It looks like your rear windows do not support "statuses" on my new pickup it doesn't support window statuses for any windows. The easiest fix is to add "Undefined" to the array so it won't report it as Open anymore for the entire group. It will continue to report Undefined for the individual status

[2020-12-30 01:29] jimmychanga commented on #68
Thats fine, I figured you would want to know. The FordPass app does show correct statuses, so I suspect the issue lies more with Ford's external facing API. Where are you pulling this data from, I can try to troubleshoot the issue myself.

[2020-12-30 01:32] itchannel commented on #64
I've spent the morning dissasembling both android and IOS versions of the application and can confirm that the EU application ID is correct as well as the Australia/New Zealand one.

I don't quite understand why you are getting the error, have either of you tried the debug script so we have a full log of the traffic [Debug](https://github.com/itchannel/ford_debug) Running that creates a log file o

[2020-12-30 01:39] itchannel commented on #68
Interesting as it uses the exact same API the ford app uses. If you have time run the following [Debug](https://github.com/itchannel/ford_debug) script which will log to a txt file all the calls. The one your interested in is the last one which contains a big json array of all the statuses. If you can grab out the "WindowPosition" array from that I can check to see how your statuses are different

[2020-12-30 02:13] jimmychanga commented on #68
Here ya go:

'windowPosition': {
	'driverWindowPosition': {
		'value': 'Fully_Closed',
		'status': 'CURRENT',
		'timestamp': '12-30-2020 00:36:47'},
	'passWindowPosition': {
		'value': 'Fully_Closed',
		'status': 'CURRENT',
		'timestamp': '12-30-2020 00:36:47'},
	'rearDriverWindowPos': {
		'value': 'Undefined',
		'status': 'CURRENT',
		'timestamp': '12-30-2020 00:36:47'},
	'rearPassWindowPos': {

[2020-12-30 02:23] itchannel commented on #68
So that is exactly what the integration is seeing "Undefined" for 2 of your windows. So your fordpass app either must not show the status of those back 2 windows or it lies and just says "Closed". As the integration and that debug script uses exactly the same  API endpoint.

I'll add in so it doesn't show "Undefined" statuses as open and if you ever find those two windows show anything other than

[2020-12-30 02:37] jimmychanga commented on #68
Ok, cool. I'll run the debug periodically and let you know if anything changes. In the future, if you need help testing or troubleshooting issues, let me know.

[2020-12-30 07:42] horfic commented on #64
Hi,
`
08:28:24,342 urllib3.connectionpool DEBUG Starting new HTTPS connection (1): usapi.cv.ford.com:443
08:28:25,303 urllib3.connectionpool DEBUG https://usapi.cv.ford.com:443 "GET /api/vehicles/v4/{REDACTED}/status?lrdt=01-01-1970+00%3A00%3A00 HTTP/1.1" 200 42
08:28:25,304 root DEBUG Vehicle Status
08:28:25,304 root DEBUG {'User-Agent': 'fordpass-ap/93 CFNetwork/1197 Darwin/20.0.0', 'Accept-Enco

[2020-12-30 14:37] degrashopper commented on #64
I think i have the solution. The code is not handling 401 responses at the moment. And it should be able to.

Status defenition:
When you call the vehicle status interface with an invalid token you will get a 401 response. To get past that you have to call the refresh defenition to get a valid token (see first block of code).

Refresh_token defenition:
It can also happen that the refresh interface

[2020-12-30 16:04] horfic commented on #64
that is not the solution for me, i get a 401 http status if the token is invalid. but i'm always testing with a brand new auth.

i get a status 200 but with json body

`
{
    "$id": "1",
    "status": 401,
    "version": "1.0.0"
}
`

[2020-12-30 18:46] degrashopper commented on #64
@horfic do you use an automation to trigger the fordpass.refresh_status? If so how many times a day is that service triggered?
It could be that they block new requests when you trigger the status interface to much.

[2020-12-30 18:52] degrashopper commented on #64
At the moment I added some code to the functions refresh_token and status  in fordpass_new. So far I haven't had 401 errors anymore at http level.
hopefully they stay away.

[2020-12-30 23:23] horfic commented on #64
hi, the application itself is currently disabled, as its not working.

i only enabled it for the testing the requests
1) Works - https://sso.ci.ford.com/oidc/endpoint/default/token
2) Works - https://api.mps.ford.com/api/oauth2/v1/token
3) Works - https://api.mps.ford.com/api/oauth2/v1/refresh
4) NOPE - https://usapi.cv.ford.com/api/vehicles/v4/{vin}/status

[2020-12-31 01:58] itchannel commented on #64
Let me know how you get on, I've added the code changes to my dev copy to test. The only change I made was to change "token" to "self.token" otherwise it will result in an exception. If it works for a day I'll push it out in the next release.

[2021-01-02 01:41] sminker81 commented on #58
Im getting the same error. If I reload the integration it starts working right away. About 4-8 hours later I get the error again and entities show as unavailable.

[2021-01-02 01:43] sminker81 commented on #58
I dont know how close this is to a HomeBridge plugin, but they had an update recently that addressed something similar.

[2021-01-02 01:47] sminker81 commented on #58
Is this what you are talking about changing? I can give it a whirl as long as the whole Matrix doesnt come down with it lol.

<img width="280" alt="Screen Shot 2021-01-01 at 7 46 01 PM" src="https://user-images.githubusercontent.com/76228732/103449174-240ce000-4c6a-11eb-8438-9dc3e873c708.png">

[2021-01-02 11:55] my7hcry opened #69 "fordpass region"
Can u support china fordpass, which is loged with phone number and passwd.

[2021-01-05 08:05] degrashopper commented on #64
After some tweaking the following code works for me. If i get a 401 response when calling the vehicle status interface. the token is refreshed.

To get this working from the original script I had to do the following things:
- changed the path of the fordpass_token.txt to "/config/custom_components/fordpass/fordpass_token.txt" in writeToken, readToken, clearToken functions. Otherwise there is no fi

[2021-01-05 09:23] degrashopper commented on #66
Please change in sensor.py line 120 with the following additional if statement for emperial or metric return.

[2021-01-06 10:32] itchannel commented on #64
@degrashopper cheers will add the code to mine and test the next day or so. But looks good so cheers 👍

[2021-01-06 13:21] DukeSkywalker opened #70 "Decimals?"
Hi

I've been looking around but can't see if anyone else asked:

Is it possible to have values with decimals, eg battery status, I don't know if the value from ford is rounded already?

Thanks for this integration, it's awesome!

[2021-01-07 03:45] itchannel commented on #70
Unfortunately it's not possible for the battery as the Ford API only responds with the voltage as a rounded number

[code]

I have done to two decimals on other values where possible

[2021-01-07 03:47] itchannel commented on #69
Theoretically it is possible. However I have no access to the Chinese version of the application. If you can log the requests from the app I can add support to the integration.

[2021-01-07 03:47] itchannel commented on #68
Closing for now as original issue was fixed and other part wasn't supported.

[2021-01-07 03:47] #68 closed

[2021-01-07 04:18] itchannel commented on #64
@degrashopper if you have 10minutes would you mind trying the new branch. I've implemented some of your changes and changed a few bits as some of your code was duplicating bits. If you need to change the token location you can edit the variable self.token_location in the py file however by default it now puts it with the integration files.

[Development Branch](https://github.com/itchannel/fordpas

[2021-01-07 10:13] degrashopper commented on #64
@itchannel i have added your code. After about 2 hours i got the erro.

will not work. I also tried this and then you get the following error

Thats why i added data as a dict (like in the function  "__acquireToken"

[2021-01-07 13:44] degrashopper commented on #64
Olso only changing Self.refreshToken(self.token) to Self.refreshToken(data) is not enough

[2021-01-07 17:33] Bariego6484 opened #71 "No devices/entities"
Good afternoon, no entities or devices appear. In log I get this:

Logger: custom_components.fordpass
Source: helpers / update_coordinator.py: 166
Integration: FordPass (documentation, issues)
First occurred: 18:17:35 (20 occurrences)
Last logged: 18:30:59
Error fetching fordpass data: Error communicating with FordPass for XXXXXXXXXXXXX

[2021-01-07 19:53] EvasionOfTruth commented on #71
Just added today and having the same issue

Logger: custom_components.fordpass
Source: custom_components/fordpass/__init__.py:162
Integration: FordPass (documentation, issues)
First occurred: 2:44:53 PM (8 occurrences)
Last logged: 2:50:12 PM

Error communicating with FordPass for 1fterXXXXXXX

[2021-01-07 19:56] EvasionOfTruth commented on #71
Odd, logged in with the phone app and now everything shows in Hass.  Not sure if timing issue or using the app helped

[2021-01-07 21:03] Bariego6484 commented on #71
I don't get it. How exactly do I clear the tokens?
Thnks

[2021-01-07 23:42] itchannel commented on #64
Ok cheers for testing.

[2021-01-07 23:43] itchannel commented on #71
A new update is coming that should fix this for niche cases like you are experiencing. Should have something rolled out by tomorrow.

[2021-01-07 23:48] itchannel commented on #64
@degrashopper I was having a funny 5 yesterday and forgot the _acquiretoken required a dictionary. I've added in those extra lines in the dev branch so it should work for you now if you have 5 to check.

It's a pain as I can't trigger a 401 on mine to check :)

[2021-01-08 11:40] #71 closed

[2021-01-08 11:42] Bariego6484 commented on #71
great!!! Thanks a lot. Sorry I didn't think to close ...

[2021-01-08 14:07] degrashopper commented on #64
@itchannel I double checked it by running your code but t is not enough.
After calling the refresh_token function you have to update the "self.token" value by calling the"acquireToken" function.
After updating the self.token value you have to update the "headers" dict. After that you can execute the interface call.

So either you add the code below in the 401 handling part, or you need to re trigg

[2021-01-08 14:40] itchannel commented on #64
@degrashopper out of interest have you tried it without the self.__acquireToken() as the refreshToken function  should update the values of self.token. Trying to avoid running the token refresh twice. If it still doesn't work without it I'll add it in for now and contemplate rewriting the token functionality when I have 5 to avoid it getting too messy.

I've added in the header part as agreed I fo

[2021-01-08 14:50] degrashopper commented on #64
I commented the self.__acquireToken() line out in the above mentioned code. I will let you know if it works or not.

[2021-01-08 14:53] itchannel commented on #64
Thanks.

[2021-01-09 00:03] itchannel commented on #64
@degrashopper any luck?

[2021-01-09 00:34] itchannel commented on #70
Closing as not possible.

[2021-01-09 00:34] #70 closed

[2021-01-09 00:35] itchannel commented on #66
This has been implemented in #72

[2021-01-09 00:35] #66 closed

[2021-01-09 00:35] itchannel commented on #58
@sminker81 Please try the new update and let me know if it fixes it for you

[2021-01-09 00:36] itchannel commented on #64
I've pushed the new version to release. I've left in the double check as it won't make a second call but may remove down the line if you confirm it still works 👍

[2021-01-09 12:22] degrashopper commented on #64
The code is now almost running for 24h and haven't had an error yet, so it works

[2021-01-09 12:22] #64 closed

[2021-01-11 21:04] pbnj4640 commented on #58
This is working for me now.

[2021-01-11 21:30] jasonAspireWPG commented on #58
Worked for me! Appreciate your efforts

On Mon., Jan. 11, 2021, 3:05 p.m. pbnj4640, <notifications@github.com>
wrote:

[2021-01-12 14:03] MartyTremblay commented on #66
For those who wish to keep units in Psi but live in a metric world (aka Canada), this is the template I use:
[code]

[2021-01-12 22:54] itchannel commented on #58
Awesome. Will close this issue now

[2021-01-12 22:54] #58 closed

[2021-01-12 22:56] itchannel commented on #66
@MartyTremblay Nice post. I've done the same for mine. I was going to keep the value PSI but given quite a few people use it now, it made sense to move it to match the actual value for imperial.

[2021-01-17 13:33] canon102 opened #73 "Last refresh rate"
Hey There,

Great Integration, The only issue i'm having right now is that the last refresh rate time stamp is horribly off.

fordpass_lastRefresh - 01-17-2021 12:52:58

my Current time is -01-17-2021 06:57:23

So it looks like my time zone for the refresh is off by 6 hours.

[2021-01-17 23:01] itchannel commented on #73
@canon102 Current refresh date is in UTC time as that's what Ford supplies from the API. I'll add in a check to change the time to your local timezone from the HA config.

[2021-01-20 05:54] canon102 commented on #73
Thanks that would be great.

Another question,  Is it possible to do separate lock and unlock commands ?  The only thing I see is the lock entity toggle.

From: notifications@github.com
Sent: January 17, 2021 5:01 p.m.
To: fordpass-ha@noreply.github.com
Reply to: reply@reply.github.com
Cc: canon102@live.ca; mention@noreply.github.com
Subject: Re: [itchannel/fordpass-ha] Last refresh rate (#73)

@c

[2021-01-20 14:51] root01 opened #74 "refresh cycle?"
Hi,
what would be a good refresh cycle to not drain the battery?

[2021-01-20 22:28] itchannel commented on #74
Nothing shorter than an hour is my recommendation. I have mine set to refresh when I arrive home instead that way it's up to date when I need it.

[2021-01-20 22:29] itchannel commented on #73
The lock entity allows you to do lock/unlock, you can also lock/unlock separately using it depending on how you are displaying the entity

[2021-01-24 03:31] canon102 commented on #73
How do I do lock / unlock separately on a button card ?

From: notifications@github.com
Sent: January 20, 2021 4:29 p.m.
To: fordpass-ha@noreply.github.com
Reply to: reply@reply.github.com
Cc: canon102@live.ca; mention@noreply.github.com
Subject: Re: [itchannel/fordpass-ha] Last refresh rate (#73)

The lock entity allows you to do lock/unlock, you can also lock/unlock separately using it depending

[2021-01-25 16:41] Hydrooxygen opened #75 "fordpass.tracker refresh rate"
Hi,
I figured, that the device_tracker.fordpass_tracker refreshes every 5 minutes.
Is there a posibility to change that interval?
I want to automate the garage door. And waiting 5 mins in front of it is not the solution ;)

Thanks a lot.

[2021-01-26 22:47] itchannel commented on #75
You can call the service "fordpass.refresh_status" which will poll the car and get an update. However the more you do this the more the battery will drain so I wouldn't recommend using the fordpass tracker solely for detecting when your near home.

Also the individual entity can be updated more often by addding the below, however it will only poll the API more often not the car.
[code]

[2021-01-28 10:24] thisisbenwoo opened #76 "Does FordPass give the status of a navigation request, eg. advise if the nav is set for Home?"
Hi,
Sorry I've been a little absent. But at least for my Explorer, everything is working the way I want (I'm not stressing it too hard). But one thing that dawned on me, is it possible, since my car already has the Nav built in, to figure out what destination is set for the Nav, and if it is (say) Home, then it can pass a notification through to HA. That way, I can calculate roughly how long it wo

[2021-01-28 14:09] #75 closed

[2021-01-28 14:09] Hydrooxygen commented on #75
Thank you for the info

[2021-02-01 01:51] itchannel commented on #76
Unfortunately that isn't currently exposed by the Ford API so wouldn't be possible.

[2021-02-01 01:51] #74 closed

[2021-02-01 07:35] thisisbenwoo commented on #76
:-(
Oh well, woulda been nice! :-)

[2021-02-01 07:35] #76 closed

[2021-02-03 05:23] ltoolio opened #78 "Error fetching fordpass data: Error communicating with FordPass for 3XXXXXXXXXXXX"
Presented with the error message referenced in the subject line in my log files

Running Home Assistant version 2021.1.5 in a docker on Ubuntu 18.04

Vehicle is a 2018 Ford Fusion Energi Platinum.

Copied the fordpass v1.14  folder to my custom_components folder as I do not run HACS (which may be the source of my issue).

Added FordPass integration via UI.

Authenticated with email, password, VIN

[2021-02-03 05:54] storkpkp opened #79 "Not showing in integrations"
I was able to successfully install the repo in HACS, but cannot find Ford Pass in integrations anywhere.

[2021-02-03 07:20] itchannel commented on #78
Can you add the following to your configuration and restart home assistant. It will then log all the debug calls to the main log to see why it isn't working for you.

[code]

[2021-02-03 07:21] itchannel commented on #79
Did you restart home assistant once adding it to HACS and then clicked the add button in integrations to set it up?

[2021-02-03 07:22] itchannel commented on #73
Local refresh time added in #77

[2021-02-03 07:22] #73 closed

[2021-02-03 15:47] theOrakle commented on #78
Try 1.12...  I have had the same issue after 1.12 (both 1.13 & 1.14), just have not logged a bug yet.

1.14 was just released and I thought I would try, but after everting from 1.14 back to 1.12 it works again.

[2021-02-03 16:55] ltoolio commented on #78
Debug lines are below.  Also tried downgrading to 1.12 (deleted prior fordpass folder, added 1.12 folder) with the same result:

[code]

[2021-02-03 18:28] theOrakle opened #80 "1.13 & 1.14 Issues with pathing"
I get the following on 1.13 & 1.14, but 1.12 works fine:
[code]

Did one slight tweak to "make the pain stop" in the fordpass_new.py file:
Alter
`self.token_location = "custom_components/fordpass/fordpass_token.txt"`
to fully qualified path
`self.token_location = "/full/path/to/hass/config/custom_components/fordpass/fordpass_token.txt"`

And all is well.  I'm not sure if it is do to how I instanti

[2021-02-03 21:39] itchannel commented on #80
@theOrakle thanks for reporting this bug.
I added that variable just incase people need to change it. It is on my list to look at a better way such as getting the config directory path from HASS.

[2021-02-03 21:40] itchannel commented on #78
@ltoolio Is that output from the latest version or 1.12 as its missing the latest debug info.

Also can you tell me the model and age of your car. As it looks like its failing on retrieving the vehicle status array from Ford.

[2021-02-04 02:13] ltoolio commented on #78
@itchannel - I thought it was from the 1.14 install, but may have been from the 1.12 test that @theOrakle suggested (didn't work for me).

Here were my steps to validate that I was using the 1.14 version:
- Stopped HA
- Removed the fordpass folder from custom_components via command line
- Rebooted HA.
- Stopped HA
- Added the 1.14 fordpass folder back to custom_components
- Rebooted, added the int

[2021-02-04 03:12] itchannel commented on #78
Does your car have an onboard modem and work with the fordpass mobile app?

2018 models don't all have the latest onboard modem for support so might be the reason for the error.

[2021-02-04 13:07] Realpsudo commented on #80
This near ended me having to pull all my hair off, until I read this!
Thanks for the solution @theOrakle

[2021-02-05 01:50] ltoolio commented on #78
Going to close this one out.

For future searches:

FordPass can be setup for a plug-in hybrid like my '18 Fusion Energi.  However, the Fu has an additional app called MyFord Mobile for the remote controls.

So....no dice for me. :(

[2021-02-05 01:50] #78 closed

[2021-02-09 04:42] cmlittle opened #81 "Odometer Reading"
Small nit, but after selecting "imperial" in the integration, my odometer is still reading in km, rather than miles. While I know the imperial system sucks, this is the world I live in and I'm wondering if there is anyway to fix this. Amazing integration, btw, thank you.

[2021-02-09 08:35] itchannel commented on #81
@cmlittle you need to restart home assistant for the change to take effect once changing options 👍

[2021-02-12 04:55] thoppenreys1 opened #82 "FordPass integration looses connection at random intervals"
HA Version - 2021.2.3
FordPass Integration Version - 1.14

This integration has worked great since it was officially released in HACS until a couple of weeks ago. After successfully authenticating, entities updating as they should, etc...at random times HA looses connection somehow, all entities become 'unavailable' and will not reconnect (even with HA restart) until the integration is either dele

[2021-02-12 18:54] itchannel commented on #82
@thoppenreys1 from what I can see in the logs the integration is having issues accessing the Fordpass API. ```requests.exceptions.ConnectionError: HTTPSConnectionPool(host='usapi.cv.ford.com', port=443): Max retries exceeded with url: /api/vehicles/v2/1#############978/status (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fa9f9a497f0>: Failed to establish a new con

[2021-02-12 18:55] itchannel commented on #81
Closing issue as user needs to restart HA for unit change to take effect

[2021-02-12 18:55] #81 closed

[2021-02-12 18:56] itchannel commented on #69
Closing issue as no response from original poster and no access to the China version of the application to develop. Will reopen if this situation changes

[2021-02-12 18:56] #69 closed

[2021-02-12 18:56] itchannel commented on #79
Closing as no reply in 10 days.

[2021-02-12 18:56] #79 closed

[2021-02-18 13:03] degrashopper commented on #80
@theOrakle could you test if the following path works for you? /config/custom_components/fordpass/fordpass_token.txt
This path should work for all HA setups.

[2021-02-19 03:29] dacmcbibs opened #83 "DistanceToEmpty Attribute does not follow unit of measurement"
The distance to empty attribute for the fuel sensor doesn't follow Imperial unit of measurement.

The attribute still shows the distance in Kilometers

Also, the fuel sensor reports values greater than 100% (104%) when the tank is full.  I'm sure this is just how fordpass is returning the value, but thought I'd mention for completeness

[2021-02-23 10:14] Madseason41 commented on #34
Any update on this? I have an extend button on my app that extends for 10 min. I’m willing to help but need instructions on how to capture the call.

[2021-02-24 22:35] itchannel commented on #83
@dacmcbibs Thanks I will change the attribute to reflect Kilometres/Miles in the next update.

The fuel tank sender can record over up to 105% capacity I believe, I could cap it at 100% but I quite like the  idea of getting the exact measurement )

[2021-02-24 22:36] itchannel commented on #34
@Madseason41 I haven't had a chance to look at this as it's not a feature on my version of the application. I have a feeling though it might just send another start command to extend the timer. So potentially could just send fordpass_ignition start again to reset the timer.

[2021-02-24 22:37] itchannel commented on #80
@degrashopper I'll test that path on a couple  of my instances and see if it works.

[2021-02-24 22:38] itchannel commented on #82
@thoppenreys1 any progress on this otherwise I'll close the issue as its a local instance issue.

[2021-02-25 03:36] dacmcbibs commented on #83
105%? I guess I am shorting myself when I fill up my tank ;)
Thanks again for developing this integration!

[2021-02-26 02:07] denperss opened #84 "Issue dosent show my car suddenly"
![image](https://user-images.githubusercontent.com/59692230/109244773-979d1a80-77df-11eb-9c29-984e66eb8c3c.png)

Suddenly my car is not avaible, i tried to delete the device and added it again but it dosent show it :(

i try the refresh automation but without luck..

[2021-02-26 02:07] denperss commented on #84
is deleted the win no..

[2021-02-26 13:29] jysaloma opened #85 "[ENHANCEMENT] ELVeh is missing the distance to empty range"
Would it be possible to add similar distance to empty or range for ELVeh?
<img width="388" alt="kuva" src="https://user-images.githubusercontent.com/24212289/109306065-4a549380-7847-11eb-8158-fe4d773a5eb9.png">

[2021-02-26 13:30] jysaloma commented on #85
In fuel this is available
<img width="395" alt="kuva" src="https://user-images.githubusercontent.com/24212289/109306262-98699700-7847-11eb-9360-b906c843fa83.png">

[2021-03-02 08:09] itchannel commented on #84
Can you check your home assistant logs for me and let me know if there’s any errors.

[2021-03-02 08:11] itchannel commented on #85
I don’t have a electric vehicle to check on mine, are the fuel values the remaining electric range? If you have time I could get you to run a debug script which will give me the values from your car to add the function if available

[2021-03-02 08:49] denperss commented on #84
Error fetching fordpass data: Error communicating with FordPass forExpecting value: line 1 column 1 (char 0)Is there any specific I should look for ?Sendt fra min Galaxy
-------- Oprindelig besked --------Fra: itchannel <notifications@github.com> Dato: 02.03.2021  09.09  (GMT+01:00) Til: itchannel/fordpass-ha <fordpass-ha@noreply.github.com> Cc: denperss <denperss11@gmail.com>, Author <author@nore

[2021-03-03 01:13] cbennett6008 opened #86 "[ENHANCEMENT] status-color defined for non-normal readings"
Is it possible to flag the sensors to display a status color if a non-optimal reading is detected?
for instance the tire pressure in my truck is 'STATUS_LOW' at the moment, thanks to the cold weather this month, and it sure would be nice to see that in my UI.
I know I could define a second copy of the sensor as a template sensor to do this, but I hate to have that many duplicate sensors, seems un-

[2021-03-03 10:00] itchannel commented on #84
Weird. Could you try deleting the fordpass_token.txt file in "custom_components/fordpass/fordpass_token.txt" and then uninstalling/reinstalling the integration. Might have a wonky token cached somewhere

[2021-03-03 10:07] itchannel commented on #86
I don't know if it's possible to set the status color for a sensor. I know switches etc do it. But short of using a template or a custom lovelace card I don't think I can do it from a developer perspective. I may be wrong just couldn't find any documentation on it from a quick look.

[2021-03-03 12:58] denperss commented on #84
Hi..

It worked by deleting the token file, thank u :) !

Med venlig hilsen / Kind regards

Den ons. 3. mar. 2021 kl. 11.00 skrev itchannel <notifications@github.com>:

[2021-03-07 21:08] alexrasmussendk opened #87 "Version key is missing in the manifest file"
### New requirement for custom components

**Version key** is required in the manifest file for future support in Home Assistant otherwise it will be blocked from running.

More information: https://developers.home-assistant.io/docs/creating_integration_manifest/#version

[2021-03-08 20:15] itchannel commented on #87
This will be added in my next update, hopefully later this week.

[2021-03-08 20:15] itchannel commented on #84
Glad it worked :)

[2021-03-08 20:15] #84 closed

[2021-03-09 09:17] garide78 commented on #85
hi, I have a kuga plug in hybrid, and would be interested in having what you requested from jysaloma in the electrical part of the car, (% of recharge, distance traveled, etc ...)
if I can help you debug the data let me know.
 Thank you

[2021-03-09 10:52] paulgbrichardson opened #88 "Battery Logic"
The battery sensor is always STATUS_LOW, but I have a voltage of 13...  I updated it manually to STATUS_GOOD but the next update from Ford set it back to Low.
I have done ~10 hours of driving over the last three days and either I have a dodgy battery (maybe?) or the logic for the battery sensor isn't quite right.

I did get a low battery alert from Ford a while back as the car was not used due to

[2021-03-16 20:43] warren1201 opened #89 "Support for Electric Cars"
Would be great to add support for the electric cars such as charge status and battery level

[2021-03-16 20:55] itchannel commented on #88
So mine reads as a voltage of 12v and STATUS_GOOD. The status value is set by the ford API so I can only think that there might be something wrong with your battery or it's a little wobbly with your version of car.

Do you have any alerts or messages in the Ford app?

This is what mine looks like

![image](https://user-images.githubusercontent.com/5840973/111378616-cbd46e80-86ed-11eb-8c31-bd16a713

[2021-03-16 20:57] itchannel commented on #89
I've added some basic values using data supplied from a hybrid. I'll see what I can add electric wise as long as the values are supported by the Ford API

[2021-03-16 20:59] itchannel commented on #85
If the values are exposed by the API I'll look at adding them.

[2021-03-17 10:18] pinthenet opened #90 "Integration not initialising"
I've tried to install this a few times but with no luck. I see the following messages in the log, every minute

`Mar 17 11:12:45 newgromit hass[29531]: 2021-03-17 11:12:45 WARNING (MainThread) [custom_components.fordpass] [Errno 2] No such file or directory: 'custom_components/fordpass/fordpass_token.txt'
Mar 17 11:12:45 newgromit hass[29531]: 2021-03-17 11:12:45 WARNING (MainThread) [custom_compo

[2021-03-17 10:50] itchannel commented on #90
There is a small bug on certain systems that can't acces the token location. If you change the line ''' self.token_location = "custom_components/fordpass/fordpass_token.txt" ''' in fordpass_new.py which can be found in "config/custom_components/fordpass/" on your system.

to ''' self.token_location = "/config/custom_components/fordpass/fordpass_token.txt" '''

it should work. I haven't added it to

[2021-03-17 11:18] itchannel commented on #83
This is still on my list to change in the next release. Just been mega busy so haven't actioned it yet :)

[2021-03-17 13:56] pinthenet commented on #90
I tried "/config/custom_components/fordpass/fordpass_token.txt" & "config/custom_components/fordpass/fordpass_token.txt" with the same results – it can't find the token file (and it really doesn't exist)

I also tried /custom_compontents/fordpass/fordpass_token.txt

From: itchannel ***@***.***>
Sent: 17 March 2021 11:51
To: itchannel/fordpass-ha ***@***.***>
Cc: Author ***@***.***>; pinthenet ***@

[2021-03-17 14:33] pinthenet commented on #90
I took a risk & changed the path to "/home/homeassistant/.homeassistant/custom_components/fordpass/fordpass_token.txt" and it now seems to work (no errors, 1 device, 15 entities). Maybe I have a strange setup? I don't really understand the background intricacies of HA....

[2021-03-19 10:56] itchannel commented on #90
Great glad you managed to fix it. Interesting that the path I suggested didn't work for you. Good thing I haven't pushed that update yet until I'd tested all instances :)

[2021-03-19 10:56] #90 closed

[2021-03-19 10:56] itchannel commented on #87
Added in Update 1.15

[2021-03-19 10:56] #87 closed

[2021-03-19 10:56] #82 closed

[2021-03-23 18:39] denperss commented on #88
How can i add the battery voltage instead of "STATUS_GOOD" ?

[2021-03-23 18:53] denperss opened #92 "Missing top cealing window"
Hi..

Is it possible to add the top sealing (Sun light) window status ?
currently missing :)

[2021-03-23 21:45] paulgbrichardson commented on #88
Its an attribute of the battery sensor.  If you want it as it's own sensor then create a template sensor -

[code]

[2021-03-24 14:01] denperss commented on #88
Oh thank u so much Paul,

Is that the same for the Phev battery ?

[2021-03-24 14:05] paulgbrichardson commented on #88
Pass... I don't have an electric car (I wish!!!)

[2021-03-24 14:07] paulgbrichardson commented on #88
Certainly weird as it drops to 12 and still says Low.
I got a warning from the FordPass App in Jan, but nothing since.  I have noticed though that the screen in the car says "System turning off to save battery".   Its due a service in a month or two so I'll mention it then, sounds like somethings gone screwy.

[2021-03-24 14:09] denperss commented on #88
What car model do u have and year?
When is the last time u got it system updated from Ford ?

[2021-03-24 14:11] paulgbrichardson commented on #88
Ford Fiesta - 2019.
Its never been into Ford for a service as less than 2 years old.
I'll try a system update one of these days, easier said than done, as I can't park close enough to my property to connect to wifi.

[2021-03-24 14:18] denperss commented on #88
Okay thats the reason why u having this issue with (System turning off to save battery)
- This is a known issue with Ford 2019 - 2021 models.  the fix was made some weeks ago (Luckly u :P )

U need to go to a ford dealer tell them about the issue and ask them to update your car.. This should bee free ;)

Then i think that your problem will be solved in HA after that :) !

[2021-03-24 14:18] denperss commented on #88
They have to do it from the Shop its firmware that endusers dont have access to :(

[2021-03-24 14:19] paulgbrichardson commented on #88
Good to know, not in a rush but might book the service sooner than later, its due May time anyway!

[2021-03-24 17:37] denperss commented on #88
👍

[2021-03-28 07:55] goofy7264 opened #93 "[ENHANCEMENT] Separate Distance and Tire Pressure Units of Measure"
Would it be possible to separate Distance and Tire Pressure Units of Measure.  It's quite common (in Canada) to use metric for Distance UOM but use Imperial (psi) for tire pressure UOM.  If possible it would be ideal if you could select the UOM for distance separate from the pressure.  Maybe two selections in the Integration Options?

[2021-03-28 20:05] cjramseyer opened #94 "Installed via HACS, but can't add integration"
Have latest HA, HACS, and installed Fordpass from HACS.
Reboot HA, and process to add the integration, however, the integration doesn't show in the list.

[2021-03-28 23:42] goofy7264 commented on #92
It also appears to have issues with the rearpassenger and reardriver windows on f-150 CrewCab.  Both report Unknow Window Position although the front windows report correctly.  This may or maynot be an API issue, but it if is, is there a way to exclude those windows so the overall sensor does not show open all the time?

Also, appears that the F-150 has one additional Window (which also may not be

[2021-03-28 23:45] goofy7264 commented on #94
A silly question, but you are you looking in the correct integration area (HA Configuration-->Integrations)? It is listed as FordPass.  It is not Under HACS.

![image](https://user-images.githubusercontent.com/39275640/112772335-2cbd4a00-8ffe-11eb-9a02-84572b2af90e.png)

[2021-03-29 12:29] craw169 commented on #80
I could not get fordpass integration to work until i changed self.token_location to:
 /config/custom_components/fordpass/fordpass_token.txt
in fordpass_new.py then i restarted and re-added integration and now it is working fine.

[2021-03-29 21:32] cjramseyer commented on #94
It is not a standard integration so must first be installed via HACS then
added from components -- integrations.
It is NOT in the list.  Even following a reboot of HA as required once
installed.

Regards,
CJ

On March 28, 2021 7:46:55 PM goofy7264 ***@***.***> wrote:

[2021-03-31 07:01] denperss commented on #88
Hi Paul,

Do u know how to do it with the chargeing state as well ?
ex state: ChargeTargetReached should be = Full charged ?

[2021-03-31 08:39] paulgbrichardson commented on #88
I can't help much as I don't have that entity but something like below.  If you are also using the last sensor then skip the first two lines.... I followed the following so should be almost there...
[(https://www.home-assistant.io/integrations/template/#renaming-sensor-output)]

[code]

[2021-03-31 14:04] denperss commented on #88
Thats all right,
ive tried to insert the code u sent me, but that crashing my HA :(

[2021-03-31 14:22] denperss commented on #88
Im just getting, unknown status :(

`  - platform: template
    sensors:
      car_charge:
        friendly_name: "Ladestatus"
        value_template: >-
          {% if is_state('sensor.fordpass_elveh', 'EvsePaused') %}
            Standby
          {% elif  is_state('sensor.fordpass_elveh', 'ChargeTargetReached') %}
            Full charged
          {% elif  is_state('sensor.fordpass_elveh', 'N

[2021-03-31 14:23] denperss commented on #88
- platform: template
    sensors:
      car_charge:
        friendly_name: "Ladestatus"
        value_template: >-
          {% if is_state('sensor.fordpass_elveh', 'EvsePaused') %}
            Standby
          {% elif  is_state('sensor.fordpass_elveh', 'ChargeTargetReached') %}
            Full charged
          {% elif  is_state('sensor.fordpass_elveh', 'Notready') %}
            Not charging

[2021-03-31 14:25] paulgbrichardson commented on #88
Can you take a screenshot of the entity in the developer tab?   Mine just
shows  Unsupported as I don't have an EV car.

On Wed, Mar 31, 2021 at 3:22 PM denperss ***@***.***> wrote:

[2021-03-31 14:32] denperss commented on #88
I got it working, i forgot a singel letter :( 👍

[2021-04-03 19:57] RyanEwen opened #95 "Doors not showing as locked after driving (used to work at some point)"
Hi there,

I have an automation that checks if the doors were left unlocked and notifies my phone. It used to work very well but after some update (not sure which) the doors never show up as locked again unless locked through the service. This means every time I get out, lock the doors (using the door handle or fob), my automation later alerts me that the doors were left unlocked.

Ford Ranger 201

[2021-04-03 21:01] itchannel commented on #95
Hi @RyanEwen, I've always found the Ford API to be unreliable when it comes to updating of door statuses. On my truck it updates automatically when I unlock the doors but not for locking it.
So I have an automation which detects when my person status changes to "Home" and then sends a fordpass_refresh service request to get the latest status from the car after 10minutes being home.
That way I get

[2021-04-03 21:02] itchannel commented on #94
@cjramseyer Have you checked your HA logs to see if there is any errors, also when searching in the integration list make sure you use a capital F.

[2021-04-03 21:04] itchannel commented on #93
I would recommend just using a simple template sensor to convert it back to psi and display it as an entity you can use. I could change the settings but it's a small use case and would clutter up the UI for now.

[2021-04-03 21:05] itchannel commented on #92
@goofy7264 can you look in the door entity and let me know the exact string for "Unknown window position" you're getting. The integration should filter out unknowns but may be a new status I haven't seen.

[2021-04-03 21:57] RyanEwen commented on #95
Interesting, I could just have it refresh the status before it notifies me. I didn't think of that.

I'll try that, thanks

[2021-04-04 09:01] goofy7264 commented on #92
Sure thing, here it is.

RearDriverWindowPos
Undefined window position
RearPassWindowPos
Undefined window position

![image](https://user-images.githubusercontent.com/39275640/113503894-ae334180-9502-11eb-80ce-b35f8fab5d9a.png)

[2021-04-04 09:06] goofy7264 commented on #93
I can certainly do that, I just thought since it would simply be adding a second dropdown in the Config portion (Distance Units and Pressure Units) it might be worth doing.  Thanks for the consideration.

[2021-04-04 10:23] itchannel commented on #92
Thanks. This is a weird one as the code is there to exclude windows from reporting open with the "Undefined window position" value. Will have to look into it further

[code]

[2021-04-04 10:24] itchannel commented on #92
I take it you're running the latest version of the integration?

[2021-04-04 10:25] itchannel commented on #93
I will definitely add it to the future list as agreed it would be a nice to have. Unfortunately super busy with work commitments so haven't found the time to dedicate to this for a while.

[2021-04-04 10:28] denperss11 commented on #92
Yes im running the lates vers. i will update u later today with the states from the top celing windows states..

[2021-04-05 11:51] NickAx1 opened #96 "[Feature Request] Guard mode"
Recently took ownership of my new ford vehicle and the fordpass app gives me an option to toggle guard mode. When guard mode is activated and I open a door I get an immediate notification on my phone. Is it possible to integrate this with HA both for guard mode alerts and turning on/off guard mode?

[2021-04-06 15:23] goofy7264 commented on #93
Totally understandable.  Work and Family have to come before side projects :)

[2021-04-06 15:24] goofy7264 commented on #92
I installed via HACS and it lists ver 1.15 so I assume that's the latest version?

[2021-04-06 16:02] denperss commented on #92
This is not relevant to this bug..
Please create another!

[2021-04-06 19:19] goofy7264 commented on #92
I responded to the question asked

[2021-04-06 19:29] denperss opened #97 "issues with the rearpassenger and reardriver windows on f-150 CrewCab. Both report Unknow Window Position although the front windows report correctly. This may or maynot be an API issue, but it if is, is there a way to exclude those windows so the overall sensor does not show open all the time?"
It also appears to have issues with the rearpassenger and reardriver windows on f-150 CrewCab.  Both report Unknow Window Position although the front windows report correctly.  This may or maynot be an API issue, but it if is, is there a way to exclude those windows so the overall sensor does not show open all the time?

Also, appears that the F-150 has one additional Window (which also may not be

[2021-04-06 20:12] goofy7264 commented on #92
oh, so you feel that the original post I made was not relevant to the "bug" of not reporting the top "cealing" window (whatever that is).  I, apparently wrongly, assumed you were reporting an a "bug" with the window sensor so I added that the rear winodws were also a problem.  my mistake for not fully understand what a top "cealing" window was.

[2021-04-07 01:01] itchannel commented on #96
Interesting new function. I'll try and look into it, just checked and my truck doesn't support it yet so may need someone to do some debugging who has "guard" mode so I can work out the API calls for it.

[2021-04-07 01:03] itchannel commented on #97
If it reports Unknown window position then the Ford API doesn't have a sensor avaliable to report the position. The integration should ignore "Unknown window position" so it doesn't report Open all the time. If it's not then there is a potential bug which I need to look into as per the original issue.

The additional window if it doesn't show in the window sensor then it isn't supported or listed

[2021-04-07 01:06] itchannel commented on #92
@goofy7264 In regards to this bug. Can you please go to the developer tab in HA and send me all the values in the "State Attributes" area for the "fordpass_windowposition" sensor. As I can't replicate the issue my end so just want to see the exact sensor values you retrieve thanks.

[2021-04-07 01:07] itchannel commented on #92
Ahh ignore me. I think I have just spotted the issue :) My bad getting mixed up with Doors and Windows lol

[2021-04-07 01:09] itchannel commented on #92
Closing this issue as the bug relates to #97 . The actual support for the missing ceiling window is not supported by the official Ford API so there is no way of currently adding it as a sensor value.

[2021-04-07 01:09] #92 closed

[2021-04-07 01:10] itchannel commented on #97
@denperss @goofy7264 In regards to this bug. Can you please go to the developer tab in HA and send me all the values in the "State Attributes" area for the "fordpass_windowposition" sensor. As I can't replicate the issue my end so just want to see the exact sensor values you retrieve thanks.

It "should" catch the Undefined position in this array

[code]

However it looks like it might not be for

[2021-04-07 01:44] goofy7264 commented on #97
Here is what I got from the state_attributes

driverWindowPosition: Fully closed position
passWindowPosition: Fully closed position
rearDriverWindowPos: Undefined window position
rearPassWindowPos: Undefined window position
friendly_name: fordpass_windowPosition
icon: 'mdi:car-door'

I think the problem may be that you have "Undefined_window_position" and it's reporting "Undefined Window Position"

[2021-04-07 02:02] itchannel commented on #97
So where you see a space it is actually an underscore, HA just automaticly removes it. I can't see why its not working for you as that value should of hit the array and reported back as closed rather than open.

Annoyingly my truck doesn't support window statuses so makes it harder for debugging as I get a blank array back. Only thing I can think is to add a bit of debugging, unless you know how t

[2021-04-07 05:21] itchannel commented on #96
Ok I've made some progress, I now have the relevant API calls to enable/disable and check guard status

[code]

[2021-04-07 05:22] itchannel commented on #96
Ok I've made some progress, I now have the relevant API calls to enable/disable and check guard status

[code]
I get "Enrollment in progress" so it isn't currently avaliable for my car. But if anyone wants to do me a favour I can give a python script to run to get the output for their car for me to test :)

[2021-04-07 08:47] goofy7264 commented on #97
IF you let me know what you need me to do, I can try and take a look at it.

[2021-04-07 09:29] NickAx1 commented on #96
I will be happy to test it out, might need some pointers as to what to do to get the output though.

[2021-04-07 18:22] RyanEwen commented on #95
Just following up to say it works well now that I have it calling the refresh service about a minute before my timer finishes and checks on the door lock status. There's been once instance where a minute wasn't enough time between refreshing and checking, but otherwise it's been great. Thank you

[2021-04-08 11:19] itchannel commented on #95
Glad it worked for you :)

[2021-04-08 11:19] #95 closed

[2021-04-08 11:19] itchannel commented on #96
Cool. I'll edit the python debug script this weekend for you to run which will simply give you a log file to send with the required data.

[2021-04-09 17:32] famgrowor commented on #94
@cjramseyer Found any solution? Got the very same problem here...

[2021-04-09 18:03] cjramseyer commented on #94
It finally showed up in integrations a couple days ago.  I added it and am adding my vehicle

[2021-04-10 14:38] RyanEwen commented on #95
I just wanted to add that I updated SYNC from 3.3 to 3.4 and I suspect this is what broke things. Perhaps there's a bug in SYNC where it doesn't push the lock status like it does the unlock status?

[2021-04-13 03:52] mclever commented on #97
Mine shows undefined without spaces and state is closed instead of open like yours.

RearDriverWindowPos: Undefined_window_position
rearPassWindowPos: Undefined_window_position

[2021-04-13 06:01] austinbeam opened #98 "Fordpass Integration Loses Connection After ~48hrs"
After configuring the integration, it works flawlessly connecting to two vehicles on the same account for the first ~48hrs or so. After this, it stops communicating and the entities become unavailable. This has happened twice now. The first time, I deleted the fordpass_token.txt and re-added the vehicles and was able to get it working again.

It's anyone else experiencing something similar? Someth

[2021-04-13 10:18] Pepe962 commented on #93
This is also the case in Australia
We use KM for distance and speed but psi for tyre pressures

[2021-04-13 17:03] root01 commented on #85
That sounds great.

[2021-04-13 17:08] root01 opened #99 "Lockstatus"
Is there a Problem with the Lockstatus? In the past i make i refresh of status an it works fine. One or two weeks ago, refresh doesn't work. The locked car is still "unlocked" (in the pass pro app to). It need a lock with the app an then its locked in the app an api. Can someone test this? Thanks.

[2021-04-13 22:13] itchannel commented on #99
I've never had it report "locked" without polling the car first running the "refresh_status" it only ever auto updates the "Unlocked" status. However I can report that it is still working for me on my automation which polls the car 15mins after I arrive home to get the latest car status which is the way I'd recommend doing it.

[2021-04-13 22:16] itchannel commented on #98
I've seen this error on HA docker instances where the DNS can't resolve the subdomain intermittently. Can you turn on debugging by adding this to your configuration then send me the complete log.

[code]

[2021-04-13 22:17] itchannel commented on #97
@mclever thanks for the feedback. This is definitely a weird issue and only seems to affect a subset of people. Will have to look into this more when I have some spare time

[2021-04-13 22:18] itchannel commented on #94
Good to hear it showed up. Weird that your HA instance didn't add it straight away.

[2021-04-13 22:18] #94 closed

[2021-04-14 03:43] austinbeam commented on #98
Thanks for your help @itchannel and all your hard work on this.

Log attached, left it running for a while (~2.5hrs) and it just kept cycling this same thing over and over. Haven't seen the max retries error above show up this time around, but am consistently seeing the "Extra data" warning. I did notice that the first error takes ~14s whereas it almost immediately errors on subsequent tries.

Let

[2021-04-14 14:24] root01 commented on #99
I think there is a problem with my HASS:
`[139651044093376] Error handling message: Unknown error
16:22:29 – (FEHLER) Home Assistant WebSocket API
websocket_api script: Error executing script. Unexpected error for call_service at pos 1: Expecting value: line 1 column 1 (char 0)
16:22:29 – (FEHLER) custom_components/fordpass/fordpass_new.py
`

[2021-04-16 18:06] root01 commented on #99
I do a complete new HASS installation and the Problem is the same.

`2021-04-16 19:58:32 WARNING (MainThread) [homeassistant.loader] You are using a custom integration hacs which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant
2021-04-16 19:58:36 WARNING (MainThread) [homeassistant.loader] You

[2021-04-18 20:48] TerrorSource commented on #89
https://www.ford.no/owners/vehicle-dashboard
F12 in chrome
Search "status?country=nor&vin=%VIN%"

Full link = https://www.digitalservices.ford.com/owner/api/v2/ota/status?country=nor&vin=%VIN%
%VIN% = your VIN

vehiclestatus.batteryFillLevel
{
  "value": 91.5,
  "status": "LAST_KNOWN",
  "timestamp": "04/15/2021 09:52:56",
  "quarterRange": "FULL"
}

[2021-04-20 14:45] austinbeam commented on #98
Any feedback on this @itchannel? Thanks again for your help.

[2021-04-26 08:04] itchannel commented on #98
Sorry been away so only just had a chance to check in.

Would you be able to check to see if the fordpass_token.txt file changes at all from when you setup to start experiencing the error. I am going to add two cars to my test instance and let it run for 48hrs to see if I experience the same issue. However I can't see in your log the same error you experienced about being unable to resolve "usapi.

[2021-04-26 08:10] itchannel commented on #99
@root01 sorry for the delay. It looks like there's something going on with the value your getting back for the status array. You said it used to work ok for you? Is your fordpass app still working ok?

If you have 5mins if you could run the following python script and send me the contents of the log file I can look and see what data is being sent that is causing the error.

[Debug Script](https://

[2021-04-26 08:48] itchannel commented on #96
Took longer than planned but Guard functions are now in the test file if anyone is free to test. You will need to run the file in the "Guard Mode Branch" on the following repo [Guard Mode Debug](https://github.com/itchannel/ford_debug/tree/guard_mode)

Simply run the debug.py script specifying the parameters in the readme file. It will then spit out a log.txt with the values from the guard mode ca

[2021-04-26 18:59] root01 commented on #99
i get:
[code]

[2021-04-27 04:12] austinbeam commented on #98
Thanks for the feedback @itchannel. I went ahead an set them up again and they are immediately working. I took a snapshot of the fordpass_token.txt before and compared it to what was generated after.

It looks like the version that was there (i.e. not working) had a 'null' UserProfile, which is fully populated in the new (i.e. working) file. I can check again once it stops working again, but thoug

[2021-04-28 23:21] itchannel commented on #98
Glad it's now working, good to know about the userProfile bit may need to add some more error checking if other people get it.

[2021-04-28 23:22] itchannel commented on #99
Can I confirm you are running python3 and not python2?

[2021-04-29 02:58] austinbeam commented on #98
Stopped working on me about 15:16 today. Log attached.

[2021-04-28_ha_log.txt](https://github.com/itchannel/fordpass-ha/files/6396053/2021-04-28_ha_log.txt)

As previously, the UserProfile in the token has gone null. I also noticed that there is an extra trailing brace (}) in the broken token file (i.e. it is not valid JSON when I open it up). This happened before as well, but I glazed over it. N

[2021-04-29 18:41] root01 commented on #99
python3 --version
Python 3.5.3

[2021-05-09 17:12] studiowildcard commented on #97
I also have this same problem.![image](https://user-images.githubusercontent.com/10143893/117580899-d976f680-b095-11eb-8ede-e02a673e2e41.jpeg)

[2021-05-09 17:14] jrapczak commented on #97
I have this same issue. ![image](https://user-images.githubusercontent.com/3497380/117580981-1ba03800-b096-11eb-8e57-2c730794feca.jpeg)

[2021-05-10 14:37] mayermd commented on #98
Wanted to jump in here and confirm the behavior.  I also went into the fordpass_token.txt and deleted the last } in the file and the integration started working again.

[2021-05-12 01:08] tonesto7 commented on #97
I think only vehicles with 1-touch up down buttons actually know the position of the windows.  It's why you can control the rear Windows with the key fob (this is enabled with FORScan)

[2021-05-16 19:39] NickAx1 commented on #96
hi, sorry its taken so long to test your script out but I'm pleased to say it works!

`{"returnCode":200,"returnMessage":"The request was Successful","session":{"lastModifiedDate":"2021-05-16T17:32:31.355Z","gmSessionId":181813,"gmStatus":"enable"}}`

Enabling/disabling also works. I need to force close the fordpass app on my phone for it to reflect the change but that's a ford issue and not a pro

[2021-05-18 07:10] itchannel commented on #96
Cool. I'll look at getting that implemented then when I have 5

[2021-05-18 07:12] itchannel commented on #98
Ok thanks guys. Will add in some error checking and see why the extra brace is becoming a thing. Unfortunately I've been so busy it's finding the time to maintain this repo :)

[2021-05-25 02:19] Gruzzen commented on #89
I would second the request for the Mustang Mach-E charging status and battery level to be added into this integration if possible.

[2021-05-25 18:48] sup3rm3ga opened #100 "Excessive Battery Fill Level Errors"
Getting thousands of this one error. Any ideas?

`Logger: homeassistant
Source: custom_components/fordpass/sensor.py:205
Integration: FordPass (documentation, issues)
First occurred: May 19, 2021, 9:09:46 PM (1577 occurrences)
Last logged: 8:41:22 AM

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/update_c

[2021-06-06 02:30] cmlittle commented on #98
I've been experiencing this issue as well. Deleting the extra trailing brace fixes the issue temporarily for me, so it seems this is the cause, not the effect. I am running my instance in Docker.

[2021-06-07 12:41] Trentmclaughlin commented on #98
I have the same issue. I delete the token file, reboot, and it works for a short while.

[2021-06-09 01:10] itchannel commented on #98
Out of interest do you both have more than 1 car. I have now managed to reproduce this issue by adding another car to my account, so will be fixing asap :)

[2021-06-09 01:11] itchannel commented on #100
Do you have an electric car?

[2021-06-09 06:15] serlinGi commented on #98
hi, I confirm the problem occurs again if the second car is added.  for all the time that I left only one car, it didn't happen when adding the second one happened, and this already 2 times after 2 months

[2021-06-09 08:46] itchannel commented on #98
@serlinGi I have a fix for it coming in the next day or so. Been running 2 cars now for 24hrs without any issues. Good to see its the same issu

[2021-06-09 08:47] itchannel commented on #98
Should be a fix for this in 1.16 in the next couple of days. Just running it on my instance now and has been 24hrs without an error running 2 cars.

[2021-06-09 09:03] serlinGi commented on #98
meanwhile, thank you for your work.  if it can be useful I tell you that I have removed the final "}" bracket for 27 hours and for the moment it is still working fine.

[2021-06-09 12:51] Trentmclaughlin commented on #98
Yes, two vehicles here as well. Thanks for working on this.

[2021-06-10 00:08] itchannel commented on #98
I've currently got a hacky workaround in the code which if it fails to read the json it removes the extra bracket. Not the nicest way but it works for now. Don't know whether to release this as a temporary fix or keep working on something more intelligent. Downside is waiting for the token to expire each time :)

[2021-06-10 06:22] serlinGi commented on #98
at the moment I comfortably exceeded 48 hours.  if it continues to work, in another 12 hours I will try to do a restart of HA to understand at what moment the token is compromised by the bracket

[2021-06-10 06:26] itchannel commented on #98
So the problem is caused by the integration running twice (per car) and trying to update the token file at the same time. Sometimes it clashes and results in a slightly corrupted file (extra bracket etc). I was trying to see if there was a way to see if an existing sync job was running and to wait until it was finished but HA documentation is letting me down.

Fix I'm now testing is when the file

[2021-06-10 06:27] itchannel commented on #98
Open to suggestions if anyone knows a better way

[2021-06-11 09:11] schlaggi opened #101 "Fuel Level -5%"
I have the problem, that when I manually trigger an update while the engine is off my car tells me the fuel level is -5%.
This stays until I start the engine, then everything works perfectly again.

![image](https://user-images.githubusercontent.com/83862724/121661538-96e57700-caa4-11eb-97e5-210e068ee7a1.png)

Maybe this comes from the Ford API because it can't reach the fuel sensor or something b

[2021-06-12 01:29] itchannel commented on #101
Can I ask what model you have. As -5 to 105% is the value range of the fuel sensor, however it shouldn't drop to -5% when the engines off as the API just returns the last read value of the car.

Can you let me know what fuel value you get in your fordpass app if you do a manual update with the car off?

[2021-06-12 06:25] schlaggi commented on #101
Its a 2019 Ford Focus MK4 and I never recognized it but the FordPass app shows _nothing_ in this case! 😮 No value at all.

I'll look if there are more boxes to tick in the cars settings...

[2021-06-12 16:35] serlinGi commented on #98
hi,
I would say it is working fine.
no problem days later.
and even after updating the Core and OS to the new versions, with the consequent restart and reboot I'm having problems.
all perfect for the moment 🤞😉

[2021-06-13 00:31] itchannel commented on #101
That's weird. Must be something to do with your model/year of car not holding the fuel data in memory maybe.

On my two cars it always displays the fuel level regardless of when I refresh and I've had my fuel tank at -5% before running it on empty so wouldn't be effective adding a check for -5%.

However if it's a niche case for you then I'd suggest creating yourself a template in HA for the fordp

[2021-06-13 00:32] itchannel commented on #98
I've just release #102 which adds in a check for a malformed token and reauths the API. I have noticed sometimes it can be days before it gets malformed or just hours, so this check at least fixes that issue now and has been running for 48hrs+ for me with multiple restarts and checks 👍

[2021-06-13 00:38] austinbeam commented on #98
Awesome, thanks @itchannel!

On Sat, Jun 12, 2021, 19:32 itchannel ***@***.***> wrote:

[2021-06-13 11:12] schlaggi commented on #101
Okay I was able to help myself with a template sensor:
[code]
This sensor now always shows the value of sensor.fordpass_fuel, as long as it is not -5 or below.

Thanks anyway 🙂

[2021-06-13 23:36] itchannel commented on #101
Nice 👍

[2021-06-13 23:36] #101 closed

[2021-06-14 06:26] JuhaFIN1 commented on #99
Here is same problem, i lock doors with key and walk home, home assistant show doors unlocked... i walk to car, doors are locked!

[2021-06-14 06:29] JuhaFIN1 opened #103 "Fuel fuel level show wrong"
Hello. Our Focus 2020 shows fuel level correct in car and Ford Pass App on iphone, but home Assistant show random % ... now there in 50% on tank and HA shows 5%.

[2021-06-14 06:35] schlaggi commented on #103
Can you share some screenshots or something? I had a similar problem with the Focus, maybe there is more to it than expected...

[2021-06-14 07:09] JuhaFIN1 commented on #103
![fordpass](https://user-images.githubusercontent.com/70380474/121852730-90e7d400-ccf8-11eb-9109-309f630047d2.png)
Here is :)

[2021-06-14 07:18] schlaggi commented on #103
Yeah that's exactly the same problem I had. For more details look at this issue: https://github.com/itchannel/fordpass-ha/issues/101

The problem with the solution I came up with is, that it won't show anything after a server reboot if your sensor already shows "-5".
But that's an edge case I can live with. If you have improvements fell free to share!

[2021-06-14 10:11] JuhaFIN1 commented on #103
Nice! That worked for me now!! :) Thank you very much!

[2021-06-15 00:53] itchannel commented on #99
@JuhaFIN1 Do you run the refresh car service? As by default ford's API only updates on unlock but not lock. So you need to run the service I created to poll the car for it's latest data. This is a manual process to avoid automated polling and draining of the cars battery.

Generally I do this when HA detects that I'm home, So if Person1 = home, run fordpass.refresh_status_

[2021-06-15 12:29] JuhaFIN1 commented on #99
I dont know what is this "refresh car service? How and where? :)

Please tell me more!

[2021-06-15 23:00] Gruzzen commented on #100
I have an Electric Car and I receive errors on the following:

 File "/config/custom_components/fordpass/sensor.py", line 209, in get_value
    "Charger Power Type": self.coordinator.data["chargerPowertype"][

 File "/config/custom_components/fordpass/sensor.py", line 43, in get_value
    return round(self.coordinator.data[self.sensor]["fuelLevel"])

[2021-06-16 23:25] itchannel commented on #99
In HA if you look under services you will see a service called "fordpass.refresh_status" if you run this it will poll all cars added and get the latest status from the car.

You can then use it in an automation to automatically get the status of the car for example when you arrive home. An example of my config is shown below

[code]

[2021-06-16 23:32] itchannel commented on #100
Added some new guard against some errors when the vehicle doesn't support certain parameters. Let me know if you still get the errors in #104 as it's trial and error as I don't have an EV to test these bits.

[2021-06-16 23:34] itchannel commented on #103
I will add this to the list to look at if it seems to be a thing Ford have done for some models of cars. Seems weird they would regress to not storing the value but we could store the previous value or the API might have another field we can use if the gauge reports -5%.

[2021-06-16 23:38] itchannel commented on #96
@NickAx1 I've now added guard mode into #104 however I've been unable to test so would be grateful if you could try it when you have 5.

[2021-06-16 23:39] itchannel commented on #98
I've been running the latest version now for a week without any drop outs and 2 vehicles so going to mark this as closed for now .

[2021-06-16 23:39] #98 closed

[2021-06-16 23:43] itchannel commented on #97
This should be resolved in #104 . Can you let me know if it is for you so I can close out the issue

[2021-06-16 23:53] mclever commented on #97
No changes on mine.
rearDriverWindowPos: Undefined_window_position
rearPassWindowPos: Undefined_window_position

Do you think I need to query a refresh from the truck or drive it around for a little while?

[2021-06-17 00:03] itchannel commented on #97
@mclever It will still show that as that is the value because those windows aren't supported. However does it now show as "Closed" for you as the overall state of the door sensor?

[2021-06-17 00:55] austinbeam commented on #98
Working great for me as well, thanks again!

[2021-06-17 03:19] JuhaFIN1 commented on #103
Very strange :) But if you remember to let me know when this modification has made, then i can take off this "schlaggi" helped code :)

[2021-06-17 03:23] JuhaFIN1 commented on #99
Thank you very much this helpful detailed instructions ! :) But this logic works only if at home or some else Zones. And we use IOS app, so that dosent change status to home until i open app. And think this scenario: I drive to some random Shopping Center and lock car in parking lot, go shopping, eat and maybe to Cinema. Then i want to see status off locks -> unlocked.
Is there another way to auto

[2021-06-17 06:56] itchannel commented on #99
It's a service so you can call it with any automation you like. If battery discharge isn't something you worry about then just have HA run an automation that refreshes the status every X amount of time. Unfortunately the fordpass API/service doesn't update itself on locking so this is the only way to do it.

[2021-06-17 16:50] goofy7264 commented on #97
1.17 seems to have resolved this for me

[2021-06-17 16:52] goofy7264 commented on #100
1.17 release has fixed this issue for me.

[2021-06-17 18:38] root01 commented on #99
I have still the same issues with the "fordpass.refresh_status" service. Anything else works like a charm.

https://github.com/itchannel/fordpass-ha/issues/99#issuecomment-819559008

[2021-06-17 20:55] NickAx1 commented on #96
I've done the update but I dont see the switch showing up in the list of sensors/switches in the HA component. Dont see it as a service call either so I am assuming this is an error.

[2021-06-17 23:19] itchannel commented on #96
@NickAx1 Can you enable debug mode for the fordpass integration and look for this line in your log "Guard mode not supported on this vehicle". I'm wondering if the check is failing as I had to guess it slightly.

[2021-06-17 23:19] itchannel commented on #97
Great going to close this issue for now.

[2021-06-17 23:19] #97 closed

[2021-06-17 23:59] itchannel commented on #99
@root01 It looks like the response from the fordpass API is not containing the expected data from your car. Best option to debug is for me to add some extra debugging for that function and get you to a custom git branch so we can debug it.

I'll try and sort out some code for you to debug later today.

[2021-06-18 02:05] Gruzzen commented on #100
I still have the following errors for an EV.

`Logger: homeassistant.components.device_tracker
Source: custom_components/fordpass/sensor.py:52
Integration: Device tracker (documentation, issues)
First occurred: 9:49:19 PM (1 occurrences)
Last logged: 9:49:19 PM

fordpass: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform

[2021-06-18 03:20] itchannel commented on #100
@Gruzzen thanks for the output I'll get and fix those errors this week.

[2021-06-18 12:58] denperss commented on #96
I can do some testing on it as well :)
Nice update to see :) !

[2021-06-19 08:14] root01 commented on #99
That sounds great!

[2021-06-20 15:42] TerrorSource commented on #89
@itchannel If you need something, let me know. Got a Mach-E at hand.

[2021-06-20 21:44] serlinGi commented on #96
hello,
in my car the Guard mode is supported [perhaps :) ! ]
 this is the error in my log after updates:

_Logger: homeassistant.components.switch
Source: custom_components/fordpass/switch.py:21
Integration: Switch (documentation, issues)
First occurred: 11:31:52 PM (2 occurrences)
Last logged: 11:31:52 PM

Error while setting up fordpass platform for switch
Traceback (most recent call last):
  Fi

[2021-06-21 05:52] JuhaFIN1 commented on #103
Hello again. Just updated HACS in HA newest version and after it Fuel shows 0%. I tried this original fuel and it show -5%.
I just dont understand how this HACS update effects this... But really didn do anything else than reboot after.

[2021-06-21 06:40] schlaggi commented on #103
I don't know about the 'guardstatus' error but I mentioned the other error earlier:

But that's an edge case I can live with. If you have improvements fell free to share!

In this case you can either set the value for "sensor.fordpass_fuel" manually or start the engine - or live with it until you drive your car again.
Since my workaround has no external cache or similar, after the reboot when "sen

[2021-06-21 15:02] denperss11 commented on #96
im getting this aswell'.

Logger: homeassistant.components.switch
Source: custom_components/fordpass/switch.py:21
Integration: Switch (documentation, issues)
First occurred: 4:58:42 PM (1 occurrences)
Last logged: 4:58:42 PM

Error while setting up fordpass platform for switch
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 250, in

[2021-06-22 02:53] JuhaFIN1 commented on #103
Is this -5% error in Ford Api? And if so, have you contact them? ( i can do it too :) )

[2021-06-22 13:10] degrashopper opened #105 "Log message: Error while setting up fordpass platform for switch"
Not sure if this is a new feature of your integration. after upgrading the integration from 1.15 to 1.17 i get at boot this message:

Error while setting up fordpass platform for switch

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 250, in _async_setup_platform
    await asyncio.shield(task)
  File "/config/custom_components/ford

[2021-06-23 07:43] degrashopper commented on #105
during the day I got a lot of fordpass unavailable loggings. Moved back to 1.15. now everything is fine.

[2021-06-24 00:42] itchannel commented on #105
#107 Should fix this error. There was an issue when checking to see if a car supports "Guard Mode" which resulted in an error.

[2021-06-24 00:43] itchannel commented on #96
Can you please try #107 it should resolve the "Guard Status" error. It would also be good to get feedback on if people with guard mode now get the switch added or if they get a "Guard mode not supported on this vehicle" 👍

[2021-06-24 00:48] itchannel commented on #99
Ok if you use the root_debug_branch I have added some code to log the response and status code to the HA log when running the "refresh_status" service.

You can either clone that branch and run it on your HA or manually edit the fordpass_new.py file and change the "requestUpdate" function to look like below:
[code]

Finally you will need to enable debug mode for the fordpass integration by adding

[2021-06-24 00:54] itchannel commented on #89
If someone could add the following line to the sensor.py file for the integration on their installation "custom_components/fordpass/sensor.py" on Line 20 so it looks like the below:

[code]

[code]

Then add
[code]
to your configuration file.

This will then log all data being retrieved from the fordpass API for your vehicle. If you could send me the log/vehicle status array minus any personal det

[2021-06-24 01:04] itchannel commented on #89
Can you also check the elVeh sensor and see if it has the values you need as 1.17 did add some extra eletric vehicle values.

[2021-06-24 01:20] #88 closed

[2021-06-24 07:17] degrashopper commented on #105
So far so good. just updated to 1.19 and no error message at boot.

[2021-06-24 07:17] #105 closed

[2021-06-24 07:22] itchannel commented on #103
@JuhaFIN1 It's by design as it's the fuel sender value which can range from -5% to 105% according to an engineer. However it seems some models of fords don't save the fuel sender value to memory when the car's off which results in a -5% value if you poll the car whilst it's turned off.

[2021-06-24 07:36] JuhaFIN1 commented on #103
I was asking this because i notised when HA shows -5%, Ford Pass iPhone app dosent show fuel at all! Whole gauge disapheres :)

[2021-06-24 07:37] itchannel commented on #103
Oh really. Then maybe there is a fault on their end.

[2021-06-24 07:46] JuhaFIN1 commented on #103
Ill take screen captures next time when it happens!

[2021-06-24 07:53] root01 commented on #99
Thanks. Got it. Next step?

[2021-06-24 08:15] itchannel commented on #99
Run the refresh service and then send me the log output from your HA instance. Only need the fordpass relevant items.

Make sure you restart first to apply the changes!

[2021-06-24 08:19] root01 commented on #99
How can i separate the ford pass logs ? the point is Setup->Logs right? There i have only "complete HA log"

[2021-06-24 08:22] itchannel commented on #99
Unfortunately no easy way. I recommend restarting HA then running the fordpass service before the log gets too big. Then just picking out the relevant fordpass log entries. Or just copy and paste the log into a textfile and the grep for "custom_components.fordpass"

[2021-06-24 08:31] root01 commented on #99
`2021-06-24 10:23:47 DEBUG (MainThread) [custom_components.fordpass] vin
2021-06-24 10:23:47 DEBUG (MainThread) [custom_components.fordpass] username
2021-06-24 10:23:47 DEBUG (MainThread) [custom_components.fordpass] region
2021-06-24 10:23:47 DEBUG (MainThread) [custom_components.fordpass] password
2021-06-24 10:23:47 DEBUG (MainThread) [custom_components.fordpass] UK&Europe
2021-06-24 10:23:50

[2021-06-24 08:36] itchannel commented on #99
So I can't see that the service has returned yet in that log. There should be some more output after the "Running Service" entry. I'm also guessing your car supports guard mode 👍

[2021-06-24 09:14] root01 commented on #99
no its not. I think there is a problem with the service itself, it don't run. I get an "unknown error" on the left bottomsite when i running the refresh service.

[2021-06-24 11:22] root01 commented on #99
i get an python error. Can this be the problem?
Logger: aiohue.util
Source: /usr/local/lib/python3.8/site-packages/aiohue/util.py:21

Is a brand new HA installation, only HACS, Fileeditor, SSH Terminal and Fordpass is installed

[2021-06-24 12:18] itchannel commented on #99
Yep thats part of the built in Hue integration.

It looks like your HA does at least trigger the update function but doesn't perform the request to the API. If you can add the below code we can look in the log to see exactly what is being sent on your instance. I can't unfortunately edit the branch right now as I'm not at my dev pc so will have to wait for tomorrow if you can't do the below.

Are

[2021-06-24 12:48] root01 commented on #99
`2021-06-24 14:37:27 DEBUG (MainThread) [custom_components.fordpass] vin
2021-06-24 14:37:27 DEBUG (MainThread) [custom_components.fordpass] username
2021-06-24 14:37:27 DEBUG (MainThread) [custom_components.fordpass] password
2021-06-24 14:37:27 DEBUG (MainThread) [custom_components.fordpass] region
2021-06-24 14:37:27 DEBUG (MainThread) [custom_components.fordpass] UK&Europe
2021-06-24 14:37:27

[2021-06-25 21:15] NickAx1 commented on #96
The latest update now shows the switch to toggle guard on/off but when I did nothing would happen and it would revert back to showing "on". I've also had a message from Ford in the app about "SecuriAlert" which looks like a rebranded guard mode. I've gone back and tested the debug script and that no longer works which makes me think they changed the API with this rebrand. I can't find what it may

[2021-06-25 23:54] itchannel commented on #96
@NickAx1 ok will take a look again.

If you have time to test could you enable debug mode for fordpass as it will then output the results from the Guard mode switch so I can see what response your now getting.
[code]

[2021-06-25 23:55] itchannel commented on #99
You seem to be getting a 429 too many requests error from the API. I can't say I've ever seen it do that before. Any chance you could rerun it and send me the log again just incase that error was a one off and not the one you've been getting.

[2021-06-26 07:40] serlinGi commented on #96
hello,
I confirm that the switch-button always return to the ON position;
I tested simultaneously with FordPass app and in debug mode; this is the log result with my commented action

''#
#' with securityAlert not active in app:                                                                                                                                                                            

[2021-06-26 08:35] NickAx1 commented on #96
`2021-06-26 09:34:15 DEBUG (SyncWorker_8) [custom_components.fordpass.fordpass_new] Token is valid, continuing
2021-06-26 09:34:15 DEBUG (SyncWorker_8) [custom_components.fordpass.fordpass_new] {"returnCode":200,"returnMessage":"The request was Successful"}
2021-06-26 09:34:15 DEBUG (SyncWorker_15) [custom_components.fordpass.fordpass_new] Token is valid, continuing
2021-06-26 09:34:16 DEBUG (Sync

[2021-06-26 10:21] root01 commented on #99
I test it in Ford Pass app. I have 2 cars in the app and at this car with "HA" can't refresh with using the app and the other car without HA can refresh. I thing i do an Factory Reset of Sync3 and disconnect Ford Pass and then i test it again.

[2021-07-01 02:05] itchannel commented on #96
#108 Should fix the guard mode status reporting incorrectly.

However I have noticed the fordpass API has started reporting a 200 OK message for the guard mode endpoint so may need to revise the check I use for only adding the guard mode entity when a persons car supports it.

If you could check your instances now and see it it reports correctly that would be helpful 👍

[2021-07-01 02:07] itchannel commented on #99
Ok cool. Let me know the outcome 👍

[2021-07-01 19:41] TerrorSource commented on #89
@itchannel i've added the logger rule and restarted HA. how can i extract the logs you need?

If you want, you can do a remote session to check it for yourself. just send me a PM.

[2021-07-01 21:32] NickAx1 commented on #96
Sadly it doesnt work but the same response in the debug window

`2021-07-01 22:28:51 DEBUG (MainThread) [custom_components.fordpass] Finished fetching fordpass data in 1.099 seconds
2021-07-01 22:28:51 DEBUG (MainThread) [custom_components.fordpass.switch] {'returnCode': 200, 'returnMessage': 'The request was Successful', 'session': {'lastModifiedDate': '2021-07-01T21:28:51.351Z', 'gmSessionId': 4

[2021-07-02 02:18] itchannel commented on #96
@NickAx1 How about the switch itself, is that now reporting the correct status?

[2021-07-03 00:30] itchannel commented on #89
@TerrorSource Can you check under the "ELVeh" sensor as I did add batteryfilllevel and a few other electric vehicle attributes to that sensor that might have what you want

[2021-07-03 09:40] TerrorSource commented on #89
i really got no clue at all how you want me to get that logs.. i'm not an expert in HA or in extracting logs.

[2021-07-03 15:47] mford6 opened #109 "Multiple vehicles"
Can this integration be used with more than one vehicle?

[2021-07-04 08:12] itchannel commented on #109
Yes it can. Just add the integration again and fill in the relevant details for the extra car.

[2021-07-05 00:12] clartan2014 opened #110 "IgnitionSwitch entity unavailable"
I noticed that the IgnitionSwitch entity suddenly becomes unavailable. It's working fine before.

[2021-07-05 01:45] itchannel commented on #110
Can you check your logs to see if you have any error messages. It's working fine for me on my prod and dev instances.

[2021-07-05 03:12] clartan2014 commented on #110
These are the ford-related logs i found.

1:04:54 PM – (ERROR) FordPass (custom integration) - message first occurred at 11:38:58 AM and shows up 18 times
Error parsing value: 'value_json' is undefined (value: on, template: {{value_json.state}})
Error adding entities for domain sensor with platform fordpass
11:33:54 AM – (ERROR) Sensor (custom integration) - message first occurred at 11:33:52 AM a

[2021-07-05 03:13] clartan2014 commented on #110
Logger: homeassistant.components.sensor
Source: custom_components/fordpass/sensor.py:176
Integration: Sensor (documentation, issues)
First occurred: 11:33:52 AM (6 occurrences)
Last logged: 1:13:11 PM

Error adding entities for domain sensor with platform fordpass
Error while setting up fordpass platform for sensor
fordpass: Error on device update!
Traceback (most recent call last):
  File "/usr/s

[2021-07-05 07:05] clartan2014 commented on #110
i removed and readded the integration. it works now :) thanks!

[2021-07-06 09:33] wietseschmitt commented on #89
Hope this helps! ( Mustang Mach E )
`{
  "vehiclestatus": {
    "vin": "<REMOVED>",
    "lockStatus": {
      "value": "LOCKED",
      "status": "CURRENT",
      "timestamp": "07-06-2021 07:06:56"
    },
    "alarm": {
      "value": "NOTSET",
      "status": "CURRENT",
      "timestamp": "07-06-2021 07:06:56"
    },
    "PrmtAlarmEvent": {
      "value": "NULL",
      "status": "CURRENT",
      "

[2021-07-06 15:43] NickAx1 commented on #96
The switch now stays in the off position. Turning it on results in it turning back off after a couple of seconds.

[2021-07-06 22:39] serlinGi commented on #96
and the guard mode is activated regularly if it is in the deactivated state;  on the other hand, if it is already active, the toggle has no effect.

[2021-07-07 14:05] JuhaFIN1 commented on #99
Now it did it again, tank is 95% full and Ford Ios app dosent show fuel at all and ha shows -5
![7E5F847A-4157-4C07-819F-6476D732F66E](https://user-images.githubusercontent.com/70380474/124773324-86aaa580-df45-11eb-996e-bfd6883bb061.jpeg)
![93FA6F32-A929-4B14-B446-4DE73420BE0B](https://user-images.githubusercontent.com/70380474/124773328-88746900-df45-11eb-93e6-5bf0da9915ba.jpeg)

[2021-07-08 02:27] itchannel commented on #110
I'll have a look into that bug anyway as looks like some data was missing from your car status and the integration didn't fail nicely :)

[2021-07-08 02:28] itchannel commented on #96
Oh interesting. I need to look into the API changes more as it seems guard mode has been changed slightly in the latest app version.

[2021-07-08 02:28] itchannel commented on #89
@wietseschmitt very helpful thank you

[2021-07-12 01:02] smos08 opened #112 "f150 and explorer rear window state undefined"
here is the current state for the f150:
[code]

here is the current state for the explorer
[code]

latest version of the integration
hass version - core-2021.6.3

[2021-07-14 08:47] itchannel commented on #112
It will show that when your car doesn't support a window position status for those windows. The Ford API just responds back with Undefined.

[2021-07-14 12:59] smos08 commented on #112
figured that but was surprised it isn't supported on 2021 vehicles

[2021-07-14 12:59] #112 closed

[2021-07-14 17:43] stephywephy88 commented on #89
It looks like this does support electric vehicles already, but for some reason I don't get any status changes or functionality even after using refresh. I do also get an error message re: fuellevel (I have no fuel). Could this be related to functionality? I deleted and reinstalled as well. Thank you!

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/update_co

[2021-07-16 03:01] itchannel commented on #89
@stephywephy88 The pull request has now been merged so should resolve that error.

[2021-07-17 12:52] pinthenet opened #114 "Integration not initialising #90"
The path problem reported in **Integration not initialising #90** hasn't been resolved in the last 2 releases - I have to patch it every time. Just a reminder

[2021-07-19 06:46] schlaggi commented on #114
Yeah I have the same problem since I moved my HA Setup from docker to FreeNAS. 😕

[2021-07-19 20:05] JuhaFIN1 opened #115 "Refesh service dosent work anymore"
Refresh dosent work after last update. Car doors shows that they are open all time. I have tried refresh 5 times, no error or help.

[2021-07-20 09:30] #115 closed

[2021-07-22 00:13] itchannel commented on #114
@pinthenet @schlaggi Does one of you mind trying the version from this branch. I'm still testing the fix but retrieving the config location from HASS seems to work. [1.22 - Config fix](https://github.com/itchannel/fordpass-ha/tree/1.22---config)

[2021-07-22 00:14] #109 closed

[2021-07-22 06:05] pinthenet commented on #114
I can try later todayOn 22 Jul 2021 02:13, itchannel ***@***.***> wrote:
@pinthenet @schlaggi Does one of you mind trying the version from this branch. I'm still testing the fix but retrieving the config location from HASS seems to work. 1.22 - Config fix

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-22 14:59] pinthenet commented on #114
Sorry, it will have to be tomorrow...On 22 Jul 2021 08:05, ***@***.*** wrote:I can try later todayOn 22 Jul 2021 02:13, itchannel ***@***.***> wrote:
@pinthenet @schlaggi Does one of you mind trying the version from this branch. I'm still testing the fix but retrieving the config location from HASS seems to work. 1.22 - Config fix

—You are receiving this because you were mentioned.Reply to this e

[2021-07-22 20:38] schlaggi commented on #114
I tested it and for me it just worked. I did not have to change the path and the log shows no error. 👍

[2021-07-23 11:38] pinthenet commented on #114
I still can’t test for you, sorry. Other things have conspired to take up my time. As @schlaggi had the same issue, and he confirmed that the new branch worked, I’ll accept the change too. When do you plan to release?

John

From: itchannel ***@***.***>
Sent: Thursday, 22 July 2021 02:14
To: itchannel/fordpass-ha ***@***.***>
Cc: Mention ***@***.***>; pinthenet ***@***.***>
Subject: Re: [itchannel

[2021-07-24 09:48] casperse commented on #114
Sorry I am having the same problem the integration Fordpass does not show up after intstallation and a reboot
I can see the installation is in the correct folder. Can anyone explain what file I need to patch/update?
Thanks!

[2021-07-24 22:07] itchannel commented on #114
@casperse Did you reboot HA after installing the integration in HACS? It won't show up as an avaliable integration to add until you have. The issue referenced here is not what you experiencing as that comes after it's been setup.

[2021-07-24 22:20] itchannel commented on #114
@pinthenet @schlaggi I have now released the fix as version 1.22.

[2021-07-24 22:27] #114 closed

[2021-07-25 01:05] HeathL17 opened #117 "Stuck on "Retrying setup: None""
I installed today and added my vehicle.  My integration screen has been stuck with red text stating "Retrying setup: None" for over an hour.

I can see my token is populated in fordpass_token.txt, but I do not see a service to call for the update.

Any next steps/insights where to go from here?

[2021-07-25 01:30] itchannel commented on #117
Can you look in your log and let me know the full error you are getting.

[2021-07-25 01:53] HeathL17 commented on #117
I would, but I since wiped the repo and reinstalled.  Working now!

[2021-07-25 01:53] #117 closed

[2021-07-25 09:08] casperse opened #118 "After HA installation & reboot it doesn't show up as new integration?"
After installing the Fordpass (AND REBOOTING) it does not show up after installation and a reboot
 ![image](https://user-images.githubusercontent.com/2026859/126865953-0de49a85-e76d-425f-856e-70d049a82d57.png)
 ![image](https://user-images.githubusercontent.com/2026859/126865852-a03de344-1846-4823-94fc-2a1a796c0a9c.png)

 Update tried both of these, but can not get the Fordpass "loaded on the inte

[2021-07-25 09:13] casperse commented on #118
I have just installed the new version no change
![image](https://user-images.githubusercontent.com/2026859/126894009-f578cf73-63ce-4768-b1aa-902cea4abfaf.png)

[2021-07-25 09:20] casperse commented on #118
Ok - found that some cache on my Chrome browser must have caused this? (Used Edge as a test and everything works)

[2021-07-25 09:20] #118 closed

[2021-07-25 09:42] pinthenet commented on #114
Thanks, finally found a few minutes to install the new version – it works fine😊

From: itchannel ***@***.***>
Sent: Sunday, 25 July 2021 00:21
To: itchannel/fordpass-ha ***@***.***>
Cc: Mention ***@***.***>; pinthenet ***@***.***>
Subject: Re: [itchannel/fordpass-ha] Integration not initialising #90 (#114)

@pinthenet <https://github.com/pinthenet>  @schlaggi <https://github.com/schlaggi>  I have

[2021-07-25 23:04] itchannel commented on #80
Fixed in 1.22 release.

[2021-07-25 23:04] #80 closed

[2021-08-09 18:31] JVTEAM opened #119 "Send GPS location externally"
I'm looking for a way to extract the GPS location to a google sheet.  I have a weather API that works off that google sheet to provide road conditions and weather.  I'd love to have it update based on the location of the car.  Anyone have a script that can do this already?

I also wouldn't mind all the data to be live exportable to make custom graphs.

[2021-08-17 23:03] gilperme commented on #110
Same issue, I just reloaded - not removed - the integration and it worked right away. Thanks.

[2021-08-25 03:26] JuhaFIN1 commented on #103
Latest updates brokes this fix, error in log: "TemplateError('TypeError: '>' not supported between instances of 'NoneType' and 'int'') while processing template 'Template("{% if state_attr('sensor.fordpass_fuel', 'fuelLevel') > -5 %} {{ states('sensor.fordpass_fuel') | int }} {% else %} {{ states('sensor.fordpass_fuel_correct') | int }} {% endif %}")' for attribute '_attr_state' in entity 'sensor.

[2021-08-28 03:52] smazurov commented on #89
I get SOC in my MachE with no issues using latest code, I think this issue can be closed.

[2021-09-01 13:40] bschippers718 opened #120 "Sandbox or sample authentication"
Hi

I'm trying to test out a few concepts but don't currently have a Mach E to authenticate against.  Is there a sandbox and or sample car I could log in with so I can try a few things?

Thanks!

[2021-09-02 11:58] #110 closed

[2021-09-02 12:03] itchannel commented on #119
The only thing I can suggest is to either have a script that pulls data from the influxdb (if you have it enabled) that way you can pull out data for specified time periods. By default HA doesn't support and spreadsheet libraries or an easy way to export data within it.

[2021-09-02 12:04] itchannel commented on #120
Sorry there isn't. Not officially supported by Ford so all work has been doing on my own car or help from fellow users unfortunately. In some of the issues you will find people's output which contains the data structure needed for cars like the Mach E if that helps

[2021-09-02 12:06] itchannel commented on #103
I was hoping Ford might update the API to not return -5% on the models of cars that are affected by this as it's really a programming error on there side and adding patches will cause problems down the line.

[2021-09-02 12:23] JVTEAM commented on #119
Where is the influxdb located?  is it sql?

[2021-09-02 13:44] JVTEAM commented on #119
Nevermind, found the instructions

[2021-09-02 15:18] garide78 opened #121 "charge electric / hybrid cars"
Hello, one information, in electric/hybrid cars it is possible via the application on the phone  to set the type of charge of the car

- immediately  connected
 or
-with customized settings and with % of charge to give to the battery.

are these values ​​exposed by the API?

[2021-09-08 06:07] francoislegrange opened #122 "Fordpass not showing in Integrations afte HACS install"
I have a fordpass working on my rapsberry Pi. Recently purchased HA Blue and re-installing all new on blue. I added forpass via HACS and rebooted several times. FordPass does not show up when adding integrations

[2021-09-08 18:03] graemebiggs opened #123 "elVeh Battery Attribute"
It would be great to have the elVeh entity attributes broken out into their own entities. I have been unable to break out the battery fill level attribute using templates, which is really the main thing I am interested in with an EV.

[2021-09-08 22:30] francoislegrange commented on #122
Working now. Took overnight to show up

[2021-09-08 22:30] #122 closed

[2021-09-09 20:24] malse83 opened #124 "Error communicating with FordPass"
I install the integration, but i have this error on the log.
I already read the problem Integration not initialising #90 , and #114  . But not solve for me.

This is my log:

2021-09-09 22:10:07 WARNING (MainThread) [custom_components.fordpass] 'vehiclestatus'
2021-09-09 22:10:07 WARNING (MainThread) [custom_components.fordpass] Error communicating with FordPass for "my vin code"
2021-09-09 22:10:

[2021-09-15 21:18] malse83 commented on #124
I give to you some information about my enviroment:
I use Home Assistant Core, version 2021.9.6, installed as Docker container on Raspberry Pi OS.

[2021-09-19 06:49] bckthomas commented on #124
Same problem here

[2021-09-22 12:11] tobox commented on #123
Same problem here... I would love to monitor SoC, but I cannot find it in the current entities.

[2021-09-24 15:01] colings commented on #123
This works for me.

`  - platform: template
    sensors:
      car_voltage:
        friendly_name: "Car Charge Level"
        value_template: "{{state_attr('sensor.fordpass_elVeh', 'Battery Fill Level')}}"
        unit_of_measurement: "%"`

[2021-09-27 07:33] tobox commented on #123
Thanks for the hint, it works for me too. I was unaware that there were additional attributes "hidden" inside the elVeh entity. I am relatively new to Homeassistant...

[2021-09-27 07:39] #119 closed

[2021-09-27 07:40] itchannel commented on #123
Thanks @colings for posting your template. I did think about expanding out the elveh attributes but it's a lot cleaner to just have them as extras and then users can just use a template where needed if you want individual sensors.

[2021-09-27 07:42] itchannel commented on #124
@malse83 @bckthomas if you are still having problems can you please enabled debug logging and send me the full log.

[code]

[2021-09-27 12:20] bckthomas commented on #124
Here are the logs.
I replaced the VIN byxxxxxxxxxxxx

`2021-09-27 14:15:19 DEBUG (MainThread) [custom_components.fordpass] vin
2021-09-27 14:15:19 DEBUG (MainThread) [custom_components.fordpass] username
2021-09-27 14:15:19 DEBUG (MainThread) [custom_components.fordpass] password
2021-09-27 14:15:19 DEBUG (MainThread) [custom_components.fordpass] region
2021-09-27 14:15:19 DEBUG (MainThread) [cust

[2021-09-27 17:20] stumiles86 opened #125 "Kilometres to Miles"
Is there a way to show the distance to empty in miles instead of kilometres?

[2021-09-27 20:04] Bert-R commented on #123
The same can be done for the remaining range. Note that the first character shows as uppercase in Lovelace, but in reality is lower case (`elVehDTE`):
[code]

[2021-10-07 13:27] gniknalu opened #126 "sensor.fordpass_doorstatus"
My current `sensor.fordpass_doorstatus` is:

[code]

It was last updated 6 hours ago. At that time the `driverDoor` was closed and had been closed since the previous day. Is there a way to get more updated status? What triggers an update (because the vehicle hadn't been running since the previous day)? Would LOVE to make an automation based on the door status! (Also window status to give an alert

[2021-10-09 06:37] JacobWasFramed commented on #125
#127 This merge will address this issue.

[2021-10-09 06:37] JacobWasFramed commented on #83
#127 This merge will address this issue.

[2021-11-04 19:06] mrammal15 opened #128 "Error adding entities for domain sensor with platform fordpass"
**2021 Ford Bronco**

**Logs:**
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 382, in async_add_entities
    await asyncio.gather(*tasks)
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 607, in _async_add_entity
    await entity.add_to_platform_finish()
  File "/usr/src/homeassistant/homeassistant/he

[2021-11-05 00:08] #128 closed

[2021-11-09 14:27] 400HPMustang opened #129 "EV Charging Status"
Under fordpass_elVeh there is "Plug status" and there is "Battery Charge Status". Right now my car is charging and "Plug status" shows "1" and "Battery Charge Status" shows "NoReportRequest". I was wondering if those report any useful information such as whether or not the vehicle is actually charging and if there's some sort of fault or something like that or if it's possible to get the charging

[2021-11-11 18:54] 400HPMustang commented on #129
Actually figured out how to handle the plug status ie plugged in vs unplugged but I still haven't found out what to do with Battery Charge Status.

[2021-11-18 09:41] AarvdH opened #130 "Strange warning in Intergration"
Hello, I have installed everything just like it suposed to be.
The data like email, password, VIN are oke because they work fine on the Android Fordpass app. In HACS everyting seems oke but in the HA intergration field it says: Opnieuw proberen in te stellen: None

Whats going wrong here? Anybody a suggestion?
Thanks

[2021-11-26 08:06] ksignorini opened #131 "Lock doors with automation?"
Is it possible to lock the doors with an automation? If so, how?

It was easy enough to get the ignition to work on a switch.turn_on service, but I have no idea how to do the locks.

Thanks.

[2021-11-29 16:38] ksignorini opened #132 "Red cloud icon and no longer works"
All of a sudden, my FordPass integration stopped working. Now the cloud icon and such is red and I see the message: ! Retrying Setup: None.

I've tried deleting and reinstalling the integration with the same result. What might be causing this and what can I do to fix it?

![image](https://user-images.githubusercontent.com/6867660/143907203-fb4c5d2a-759e-4018-9be1-1d708a04ba35.png)

[2021-11-29 19:07] gilperme commented on #132
+ another install with the same issue here, please let us know if any logs can help. Thanks.

[2021-11-29 19:32] gilperme commented on #132
FYI, after restarting HA and running for a while it looks like it's back up...could be an API issue...

[2021-11-29 20:00] #130 closed

[2021-11-30 13:40] JVTEAM opened #133 "Fordpass Unavailable"
Starting the last few days Fordpass has been going back and forth to the unavailable status.  I'm on the current new version.  Haven't had a problem since I set it up a year ago.

[2021-11-30 16:23] Bojack84 commented on #132
I am having the same issue.  I added the logger to get the logs for you.  Here is a screenshot of what I get.  I also tried to remove and re-add the integration. Thanks.

![image](https://user-images.githubusercontent.com/23743816/144086506-71cfa4a4-d26f-4a96-89d2-c86fd7f945aa.png)

[2021-11-30 16:39] jrprinty commented on #133
I am seeing the same issue also.

This error originated from a custom integration.

Logger: custom_components.fordpass
Source: custom_components/fordpass/__init__.py:167
Integration: FordPass (documentation, issues)
First occurred: 10:37:17 AM (1 occurrences)
Last logged: 10:37:17 AM

Error communicating with FordPass for (VIN Number)

This is happening for both vehicle I have with FordPass.

[2021-11-30 16:52] tunisiano187 commented on #133
Same problem for me.

[2021-11-30 16:54] Bojack84 commented on #132
This is what I keep getting in the logs:

2021-11-30 11:46:25 DEBUG (MainThread) [custom_components.fordpass] username
2021-11-30 11:46:25 DEBUG (MainThread) [custom_components.fordpass] password
2021-11-30 11:46:25 DEBUG (MainThread) [custom_components.fordpass] vin
2021-11-30 11:46:25 DEBUG (MainThread) [custom_components.fordpass] region
2021-11-30 11:46:25 DEBUG (MainThread) [custom_components

[2021-11-30 16:57] bleeblak8 commented on #133
I am also having the same problem.  I removed and added the integration again, still the same result.

[2021-11-30 16:57] iannecj commented on #133
Same issue for me I think.  If I delete and then re-add it all works for a time.

Here are my logs with debug on:

`2021-11-30 11:37:39 DEBUG (MainThread) [custom_components.fordpass.sensor] {'vin': 'XX', 'lockStatus': {'value': 'UNLOCKED', 'status': 'CURRENT', 'timestamp': '11-30-2021 15:45:45'}, 'alarm': {'value': 'NOTSET', 'status': 'CURRENT', 'timestamp': '11-30-2021 15:45:45'}, 'PrmtAlarmEven

[2021-11-30 17:26] xpac1985 commented on #133
I have the same issues, and the culprit seems to be here:
https://github.com/itchannel/fordpass-ha/blob/02a2dee185937a64feaeed87a4afdcc69724eeeb/custom_components/fordpass/sensor.py#L179

I'd assume the response has changed, and the code logic can't deal with the new response. Ford seems to return no tire pressure data although it claims there is some...

[2021-11-30 18:28] heyepic commented on #133
Mine just started working..

[2021-11-30 19:06] bleeblak8 commented on #133
Same here, just saw it was working.  What the heck is going on.

[2021-11-30 19:06] JVTEAM commented on #133
Mine is currently as well, but if you look at the HA history it has been off and on for me all day.

[2021-11-30 19:08] iannecj commented on #133
Mine has some sensors populated, some not.

[2021-11-30 21:13] itchannel commented on #133
It generally becomes unavailable when the integration cant communicate with the ford API. It looks like they were having problems in the last 24 hours hence the issue with the integration timing out. I'm hoping to have some time over the next week to check all the calls against the latest Fordpass app and update if needed but for now it should still work ok as long as the backend API is functional

[2021-11-30 21:14] itchannel commented on #132
Are you still experiencing these issues or was it related to the Fordpass API issues in the last 24 hours?

[2021-11-30 21:16] ksignorini commented on #132
Must be the API. It has been in and out for the last day. Sometimes with the red icon, and sometimes just no/incorrect data.

[2021-11-30 21:16] itchannel commented on #131
Yes just use the "lock.lock" and "lock.unlock" service such as below

[code]

[2021-11-30 21:46] Bojack84 commented on #132
It appears to be working now.
Thanks for the update.

[2021-11-30 22:06] iannecj commented on #133
In my case things dont come back at all.  I must delete and re-add from integrations page and then all sensors works for a time.  In the log above it mentions tire pressure and errors.

Here is what its says now:

2021-11-30 16:54:41 DEBUG (SyncWorker_3) [custom_components.fordpass.fordpass_new] Token is valid, continuing
2021-11-30 16:54:41 DEBUG (SyncWorker_5) [custom_components.fordpass.fordpas

[2021-11-30 23:06] itchannel commented on #133
@iannecj Yours looks like an issue where the tyre pressure doesn't always return data from the API. Does your car have tpms sensors?

Either way I'll add a check in the next release to handle a null "TPMS" array.

[2021-11-30 23:10] iannecj commented on #133
Thanks.  It does have TPMS but one of the four batteries is out.  Not sure
if that could be the culprit.  Odd that on reload everything always works
for a time.

Thanks for this outstanding work.

Greatly appreciate what you have done here.

-C

On Tue, Nov 30, 2021 at 6:07 PM itchannel ***@***.***> wrote:

[2021-12-01 02:03] itchannel opened #135 "1.23 Update"
The 1.23 update changes the way Units are handled in the options. Therefore you will need to go to "Configure" on the fordpass integration after you've updated and select and save your preferred units otherwise it will error!. Once you've selected these units please restart your HA instance and it should be back and working.

I did want to avoid a breaking change however this is the easiest way to

[2021-12-01 02:07] itchannel commented on #126
At least on my cars an update is triggered when unlocking the car but not when locking etc. I recommend you setup an automation to call the refresh_status service which will poll the car for the latest update. However as its quite battery intensive I would tie it to another automation such as "When person A arrives home, poll the car for update 15 mins later"

[2021-12-01 02:08] itchannel commented on #133
@iannecj New update should fix your TPMS issue. Just be aware of the breaking change which requires selecting your desired units in options and then restarting HA.

[2021-12-01 02:10] itchannel commented on #132
Will close this issue for now as it appeared to be API related.

[2021-12-01 02:10] #132 closed

[2021-12-01 02:10] itchannel commented on #83
Fixed in #135

[2021-12-01 02:10] #83 closed

[2021-12-01 02:11] itchannel commented on #125
Added in #135

[2021-12-01 02:11] #125 closed

[2021-12-01 02:19] iannecj commented on #133
Ok, I'll check it out. Thx!

On Tue, Nov 30, 2021, 9:08 PM itchannel ***@***.***> wrote:

[2021-12-02 10:09] Blackpander commented on #135
I am testing this version, but it looks like the integration isn't that stable. Sometimes I see all sensors unavailable and when the integration is reloaded, everything works again.

Also the Odometer sensor doesn't work anymore.
If you need some info, just ask :)

[2021-12-02 13:55] JVTEAM commented on #135
I lost the odometer, fuel and tire pressure.  I did configure it and update the UofM with no change.

[2021-12-02 13:58] #133 closed

[2021-12-02 22:51] itchannel commented on #135
Those sensors are reliant on the options being set for units. Can I confirm you set them such as below:

![image](https://user-images.githubusercontent.com/5840973/144515678-a4587d36-cde9-431f-bc5a-97fd4f828421.png)

It does require a restart of HA once you've updated the Fordpass plugin.

[2021-12-02 22:52] JVTEAM commented on #135
Yes, the reboot of the server restored the entities.

[2021-12-02 22:52] itchannel commented on #131
Closing this issue as comment above should help. Any further questions feel free to reopen.

[2021-12-02 22:52] #131 closed

[2021-12-02 23:48] Blackpander commented on #135
@itchannel after setting the units and restarting home assistant, the odometer is still unavailable. Can’t seem to find out why. The rest is working as expected.

[2021-12-03 15:04] pinthenet commented on #135
As all Fordpass values were 'unavailable' I restarted HA a couple of hours ago then values reappeared. Now everything is 'unavailable' again

[2021-12-03 15:06] pinthenet commented on #135
Sorry, forgot to add the log messages
`Error fetching fordpass data: Error communicating with FordPass for VIN
15:58:20 – (ERROR) FordPass (custom integration) - message first occurred at 14:47:15 and shows up 2 times
Error communicating with FordPass for VIN
15:58:20 – (WARNING) FordPass (custom integration) - message first occurred at 14:47:15 and shows up 2 times
15:58:20 – (WARNING) FordPass (

[2021-12-04 10:11] pinthenet commented on #135
Sorry, spoke too soon, a few hours later the values were updated. Must have been a problem with the Ford server(s).

[2021-12-06 17:24] heyepic commented on #135
Seems like Ford is down / having issues with this again as all entities are showing as unavailable for me.

![image](https://user-images.githubusercontent.com/12517908/144892508-1bcbf2d9-9a55-4f4e-bbc7-9a4945cb4ce0.png)

[2021-12-06 19:37] JVTEAM commented on #135
Is that a picture tile above the Fordpass details or have you somehow combined the 2?

[2021-12-06 19:52] heyepic commented on #135
Just a combination of the following:
`  - type: picture
    hold_action:
      action: none
    image: https://www.visionsconnect.com/smart/fordescape.jpg
    tap_action:
      action: none
    theme: ios-dark-mode-blue-red
  - type: entities
    entities:
      - entity: device_tracker.fordpass_tracker
      - entity: switch.fordpass_ignition_switch
      - entity: sensor.fordpass_ignitionstatus

[2021-12-07 07:55] Blackpander commented on #135
It looks like that the Fordpass-service is sometimes stuck. When I reload the integration myself it immediately works again. The Odometer is still not working and fordpass_fuel is not working too (Maby because of my vehicle type?).

[2021-12-08 18:47] FuzzyMistborn commented on #121
Curious about this as well.  Would love to see it added if it's something available in the API (and make it configurable from HASS)

[2021-12-08 21:34] itchannel commented on #121
I don't have an electric/hybrid to test but is it possible in the native Fordpass application to do this? If not it's probably not implemented in the backend API however I can take a look.

[2021-12-08 21:35] itchannel commented on #135
@Blackpander Can you please just go to integrations/Fordpass and click configure and check the 2 unit values are set and just click apply anyway. The symptoms you are describing are caused by the values not being saved correctly so when the sensor value is set it's erroring out finding the unit variable.

[2021-12-08 21:35] #126 closed

[2021-12-08 22:29] garide78 commented on #121
yes, in Fordpass application can set these parameters
i can help for test if you want

[2021-12-09 00:20] FuzzyMistborn commented on #121
I don't have my Mach E yet but once I do happy to help test too.

[2021-12-10 21:36] Johnnyyr opened #136 "custom_components/fordpass/sensor.py:53"
Logger: homeassistant
Source: custom_components/fordpass/sensor.py:53
Integration: FordPass (documentation, issues)
First occurred: 2. Dezember 2021, 20:22:55 (2224 occurrences)
Last logged: 22:33:54

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/update_coordinator.py", line 134, in _handle_refresh_interv

[2021-12-10 21:52] itchannel commented on #121
Ok I'll take a look when I have 5. I'll let you know when a beta branch is ready for testing.

[2021-12-10 21:53] itchannel commented on #136
This is related to the breaking change in #135

You need to go to integrations and click "Options" on Fordpass and make sure the Units are set. Once you've done that click "Submit" and restart your HA.

[2021-12-11 23:17] serlinGi opened #137 "implements device_state_attributes after update Home Assistant 2021.12.0"
hi,
after update HA december I received this warning in log:
[code]
Thank's for all your efforts